<div id="addstaff">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Ввод нового объекта</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" name="addstaff" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-4 control-label">Название</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Название">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSecondTitle" class="col-sm-4 control-label">Альтернативное название</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputSecondTitle" name="second_title" placeholder="Альтернативное название">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Родительской каталог/раздел</label>

                        <div class="col-sm-8">
                            <select name=parent class="form-control" onchange="byCatalog($(this).val())">
                                {{ ('tree_select,,' ~ catalog_id) |modules }}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Краткое описание</label>

                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Полное описание</label>

                        <div class="col-sm-12">
                            <textarea id="fullinfo" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <div id="staff-group" class="staff-group row by-type {% if catalog.type != 'staff' %}hidden{% endif %}">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputArticul" class="control-label">Артикул</label>
                            <input type="text" class="form-control" id="inputArticul" name="custom_id"
                                   placeholder="Введите артикул">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputPrice" class="control-label">Цена</label>
                            <input type="text" class="form-control" id="inputPrice" name="price"
                                   placeholder="Введите цену товара">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputCache" class="control-label">Валюта</label>
                            <select class="form-control" id="inputCache" name="cache">
                                <option value="rub">Рубли</option>
                                <option value="usd">Доллары США</option>
                                <option value="yen">Йены Япония</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputConditiion" class="control-label">Наличие</label>
                            <select class="form-control" id="inputCache" name="condition">
                                <option value="in-stock">В наличии</option>
                                <option value="no-items">Отсутствует</option>
                                <option value="on-order">Под заказ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="fields" class="row">
                </div>
                <div id="staff_by_fields_values" class="hidden staff-group by-type">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <a href="#" class="btn btn-default" id="add_staff_value">Добавить приход</a>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="files" value="">
            </form>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div id="target-div8"></div>
                    <div id="file-result" class="row"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="submit-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">

                </div>
                <div class="col-md-5">

                </div>
                <div class="col-md-2">
                    <a id="upload" class="btn btn-primary pull-right" href="#">Сохранить</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function byCatalog(id) {
        $.ajax({
            method: 'GET',
            url: '/site-construction/ajax/catalog/' + id + '/expand_with_field_form',
            dataType: 'json'
        })
                .done(function (catalogue) {
                    $('.by-type').addClass('hidden');
                    $('.' + catalogue.type + '-group').removeClass('hidden');
                    $('#fields').html(catalogue.field_form);
                    var is_order = _.find(catalogue.fields, function(field) {
                        return field.order_check == 'Y';
                    });
/*                    if (is_order) {
                        $('#staff_by_fields_values').removeClass('hidden');
                    } else {
                        $('#staff_by_fields_values').addClass('hidden');
                    }*/

                });
    }
    var files = {items: [], main: null};
    CKEDITOR.replace('fullinfo', {
                'filebrowserBrowseUrl': '/vendors/ckeditor_m/kcfinder/browse.php?type=files',
                'filebrowserImageBrowseUrl': '/vendors/ckeditor_m/kcfinder/browse.php?type=images',
                'filebrowserFlashBrowseUrl': '/vendors/ckeditor_m/kcfinder/browse.php?type=flash',
                //'filebrowserUploadUrl':'/vendors/ckeditor_m/kcfinder/upload.php?type=files',
                'filebrowserUploadUrl': '/site-construction/ckeditor_upload',
                'filebrowserImageUploadUrl': '/site-construction/ckeditor_upload',
                //'filebrowserImageUploadUrl':'/vendors/ckeditor_m/kcfinder/upload.php?type=images',
                'filebrowserFlashUploadUrl': '/vendors/ckeditor_m/kcfinder/upload.php?type=flash'}
    );
    $('#target-div8').JSAjaxFileUploader({
        uploadUrl: '/site-construction/form_files_upload',
        allowExt: 'gif|jpg|jpeg|png|psd|doc|docx|pdf|zip',
        beforesend: function (file) {
        },
        always: function (file) {
        },
        done: function (file, xhr) {
        },
        fail: function (response) {
        },
        complete: function (file, xhr) {
        },
        success: function (response) {
            var file = eval('(' + response + ')');
            if (file.error == '') {
                files.items.push({id: file.id, linkedIn: 'self'});
                $('#file-result').append('<div class="col-md-3" id="picture' + file.id + '">' +
                        '<div class="picture">' +
                        '<div class="wrapper ' + file.type + '"><img src="' + file.preview + '"></div>' +
                        '<div class="btn-group">' +
                        '<a href="#" class="main-photo btn btn-primary btn-xs" data-id="' + file.id + '"><span class="glyphicon glyphicon-check"></span></a>' +
                        '<a href="#" class="link-photo btn activebtn-default btn-xs" data-id="' + file.id + '" data-linked="self">1</a>' +
                        '<a href="#" class="link-photo btn btn-default btn-xs" data-id="' + file.id + '" data-linked="self_group2">2</a>' +
                        '<a href="#" class="link-photo btn btn-default btn-xs" data-id="' + file.id + '" data-linked="self_group3">3</a>' +
                        '<a href="#" class="delete-photo btn btn-danger btn-xs" data-id="' + file.id + '">' +
                        '<span class="glyphicon glyphicon-remove"></span>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
            }
        },
        error: function (response) {
        }
    });
    $('#file-result').on('click', 'a.delete-photo', function (event) {
        event.preventDefault();
        var id = $(this).data('id');
        $.ajax({
            method: "DELETE",
            url: "/site-construction/files/" + id
        })
                .done(function () {
                    $('#picture' + id).remove();
                    files.items = _.filter(files.items, function(item) {return item.id != id;});
                });
    });
    $('#file-result').on('click', 'a.link-photo', function (event) {
        event.preventDefault();
        var linked = $(this).data('linked');
        var id = $(this).data('id');
        $(this).parent().find('a.link-photo').removeClass('active');
        $(this).addClass('active');
        var tempFile = _.find(files.items, {id: id});
        tempFile.linkedIn = linked;
    });
    $('#file-result').on('click', 'a.main-photo', function (event) {
        event.preventDefault();
        var id = $(this).data('id');
        $('#file-result .picture').removeClass('is-main');
        $('#file-result a.main-photo').removeClass('active');
        $(this).addClass('active').parents('.picture').addClass('is-main');
        files.main = id;
    });
    function load_child_select(child_id, input_name) {
        $.ajax({
                    method: "GET",
                    url: "/site-construction/ajax/references/items/" + child_id,
                    dataType: 'json'
                }
        )
                .done(function (data) {
                    var select = $('select[name="' + input_name + '"]');
                    select.empty();
                    for (var key in data) {
                        select.append('<option value="' + data[key].id + '">' + data[key].title + '</option>');
                    }
                });
    }
    $('#add_staff_value').click(function (e) {
        e.preventDefault();
        $.ajax({
            method: 'GET',
            url:'/site-construction/ajax/fields/add_staff_value/' + $('select[name="parent"]').val()
        }).done(function(res) {
                    $('#staff_by_fields_values').append(res);
                });
    });
    $('a#upload').click(function (e) {
        e.preventDefault();
        $('input[name="files"]').val(JSON.stringify(files));
        $('form[name="addstaff"]').submit();
    });
</script>

