<div id="editprice">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Массовое изменение цены</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="inputPrice" class="control-label">Изменение цены (в процентах)</label>
                            <input type="number" class="form-control" id="inputPrice" name="price" value="0" placeholder="...">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="oldPrice" class="control-label"></label>
                            <div class="checkbox">
                                <label><input type="checkbox" id="oldPrice" name="oldPrice" value="1"> Отметить изменение в старой цене </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        Нулевое значение цены с включенным чекбоксом приведет к обнулению поля "Старая цена" у всех товаров.
                    </div>
                </div>
                <div class="submit-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-2">
                                <a id="upload" class="upload-button btn btn-default pull-right" href="#">Сохранить</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
