<script>
    $(document).ready(function () {
        'use strict';
        $('#mmc-tracking form').submit(function (event) {
            event.preventDefault();
            if (!$('#mmc-tracking form').valid()) {
                console.log('неверная форма');
                return;
            }
            $('#mmc-tracking').addClass('is-loading');
            var data = {
                tracker: $('input[name="tracking"]').val()
            };
            $.ajax(
                    {url: '/ajax/mmctracking',
                        method: 'POST',
                        data: data,
                        dataType: 'json'}
            ).done(function (res) {
                        if (res.error) {
                            console.error('Ошибка обратной связи');
                        } else {
                            $('#mmc-tracking').removeClass('is-loading');
                            $('#mmc-tracking .sendform').fadeOut(500, function (e) {
                                $('#mmc-tracking .success').fadeIn(500);
                                let success = $('#mmc-tracking .success');
                                _.map(res, function (responce) {
                                    success.append('<div>' + responce + '</div>');
                                });
                            });

                        }
                    });
        });
    });
</script>
<div id="mmc-tracking">
    <div class="sendform row">
        <div class="col-md-12">
            <h2>TRACK SHIPMENT (B/L)</h2>

            <div>Вы можете узнать информацию о Вашем грузе по его номеру</div>
        </div>
        <form class="validate">
            <div class="col-md-12 form-group">
                <label class="control-label">Трэкинг</label>
                <input type="text" class="form-control" name="tracking" placeholder="MCTXXXXX" value="" required>
            </div>
            <div class="col-md-12 form-group">
                <input type="submit" name="upload" value="Отправить запрос">
            </div>
        </form>
    </div>
    <div class="success" style="display: none;">
        <h3>Полученные данные</h3>
    </div>
</div>


