<div id="users">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Пользователи</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{ search }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="usersSearch">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            {% for user in users %}
                <div class="row item">
                    <div class="col-xs-4 name">
                        {{ user.family }} {{ user.name }} {{ user.surname }}
                    </div>
                    <div class="col-xs-6 address">
                        {{ user.phone }} {{ user.email }}<br>
                        {{ user.city }} {{ user.street }} {{ user.house }} {{ user.flat }} {{ user.postindex }}
                    </div>
                    <div class="col-xs-2 discount">
                        <div class="row form hidden">
                            <div class="col-xs-8">
                                {% include 'forms-elements/input-text.twig' with {name: 'discount', value: user.discount} %}
                            </div>
                            <div class="col-xs-4">
                                <a href="#" data-id="{{ user.id }}"><span class="glyphicon glyphicon-floppy-save"></span></a>
                            </div>
                        </div>
                        <div class="text">
                            {{ user.discount }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12 small">
                    Кликните по скидке, которую вы намерены изменить.
                </div>
            </div>

        </div>
    </div>
</div>
<div class="submit-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                {{ ('paginator,'~ pages_count ~','~ current_page)|modules }}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#usersSearch').click(function (e) {
            e.preventDefault();
            var searchValue = $(e.currentTarget).parent().siblings('input').val();
            window.location.replace('/site-construction/customers?search=' + searchValue);
        });
        $('#users .discount .text').click(function (e) {
            $(this).addClass('hidden');
            $(this).siblings('.form').removeClass('hidden');
        });
        $('#users .discount .form a').click(function (e) {
            e.preventDefault();
            $(this).parents('.form').addClass('hidden');
            var textEl = $(this).parents('.form').siblings('.text');
            textEl.removeClass('hidden');

            var id = $(e.currentTarget).data('id'),
                    discount = $(this).parents('.form').find('input').val();
            $.post('/ajax/users/' + id + '/discount', {discount: discount}, 'json')
                    .done(function (res) {
                        if (res.error) {
                            console.error('Ошибка редактирования скидки');
                        } else {
                            textEl.html(discount);
                        }
                    });
        });
    });
</script>