<div class="row" id="addpr">
    <div class="col-md-12">
        <h3>Ввод нового баннера</h3>
    </div>
    <div class="col-md-4 form-group">
        <div id="target-div8"></div>
        <div id="file-result" class="row"></div>
    </div>
    <div class="col-md-8">
        <form name="addbanner" method="POST" action="/site-construction/adblock/new">
            <div class="form-group">
            {% include 'forms-elements/input-text.twig' with {type: 'text', title: 'Название', name: 'title'} %}
            </div>
            <div class="form-group">
                {% include 'forms-elements/input-text.twig' with {type: 'url', title: 'Ссылка', name: 'url'} %}
            </div>
            <div class="form-group">
            {% include 'forms-elements/textarea.twig' with {title: 'Текст', name: 'info'} %}
            </div>
            <div class="form-group">
                {% include 'forms-elements/select.twig' with {title: 'Реламный блок', name: 'parent_block',  items: ads} %}
            </div>
            <input type="hidden" name="file" value="">
            <a id="upload" href="#" class="btn btn-default">Добавить баннер</a>
        </form>
    </div>

</div>
<script>
    var ad_file;
    $('#target-div8').JSAjaxFileUploader({
        uploadUrl: '/site-construction/form_files_upload',
        allowExt: 'gif|jpg|jpeg|png',
        inputText: 'Выберите файл',
        beforesend: function (file) {
        },
        always: function (file) {
        },
        done: function (file, xhr) {
        },
        fail: function (response) {
        },
        complete: function (file, xhr) {
        },
        success: function (response) {
            $('.JSUploadForm').addClass('hidden');
            var file = eval('(' + response + ')');
            if (file.error == '') {
                ad_file = file.id;
                $('#file-result').append('<div id="picture' + file.id + '">' +
                        '<div class="picture">' +
                        '<div class="wrapper ' + file.type + '"><img src="' + file.preview + '"></div>' +
                        '<div class="btn-group">' +
                        '<a href="#" class="delete-photo btn btn-danger" data-id="' + file.id + '">' +
                        '<span class="glyphicon glyphicon-remove"></span>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
            }
        },
        error: function (response) {
        }
    });
    $('#file-result').on('click', 'a.delete-photo', function (event) {
        event.preventDefault();
        $('.JSUploadForm').removeClass('hidden');
        var id = $(this).data('id');
        $.ajax({
            method: "DELETE",
            url: "/site-construction/files/" + id
        })
                .done(function (msg) {
                    $('#picture' + id).remove();
                        ad_file = null;
                });
    });
    $('a#upload').click(function (e) {
        e.preventDefault();
        $('input[name="file"]').val(ad_file);
        $('form[name="addbanner"]').submit();
    });
</script>
