<div id="adblocks">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Рекламный блок - {{ block.title }} ({{ block.type }})</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for banner in staff %}
                            <div class="col-md-6 item margin-bottom">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <img src="{{ banner.admin_prev|default('/assets/aimages/noimage.gif') }}">
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="title">{{ banner.title }}</div>
                                        <div class="info">{{ banner.info }}</div>
                                        <a href="/site-construction/adblocks/banners/{{ banner.id }}">Редактировать</a>
                                        <a href="#" class="delete" data-id="{{ banner.id }}">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#adblocks a.delete').click(function(e) {
            e.preventDefault();
            if (confirm('Уверены, что хотите пометить этот баннер к удалению?')) {
                $.ajax(
                        {
                            url: '/site-construction/ajax/adblocks/banners/' + $(e.currentTarget).data('id'),
                            method: 'DELETE'
                        }
                ).done(function(res) {
                            $(e.currentTarget).parents('.item').find('.title').addClass('deleted');
                        });
            }

        });
    });
</script>