<div id="adblocks">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Рекламные баннеры</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% for block in ads %}
                    <div class="row">
                        <div class="col-md-5 title">
                            <label>Название</label>
                            <input name="ad[{{ block.id }}][title]" type="text" class="form-control" value="{{ block.title }}">
                        </div>
                        <div class="col-md-4">
                            <label>Случайный вывод / число</label>
                            <div class="input-group">
                      <span class="input-group-addon">
                        <input name="ad[{{ block.id }}][rnd]" type="checkbox" value="1" {% if block.rnd == 1 %}checked{% endif %}>
                      </span>
                                <input name="ad[{{ block.id }}][rnd_num]" type="number" class="form-control" value="{{ block.rnd_num }}" {% if block.rnd == 0 %}disabled{% endif %}>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Тип{{ block.type }}</label>
                            <select name="ad[{{ block.id }}][type]" class="form-control">
                                {% for type in types %}
                                    <option value="{{ type }}" {% if type == block.type %}selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1">
                            <a href="/site-construction/adblocks/{{ block.id }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                {% endfor %}


            </form>
        </div>
    </div>
    <div class="submit-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">

                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-primary pull-right" id="upload" role="button" onclick="$(this).closest('form').submit();">Сохранить</a>
                </div>
            </div>
        </div>
    </div>
</div>