<div id="orders">
    <form method="post">
        {% for order in orders %}
            <div class="item panel panel-default">
                <div class="panel-heading">
                    <div class="row form-inline">
                        <div class="col-md-1">
                            {{ order.id }}
                        </div>
                        <div class="col-md-3">
                            {{ order.shipping.title }}
                        </div>
                        <div class="col-md-3">
                            <select name="status[{{ order.id }}]" class="form-control">
                                {% for key,order_status in  status %}
                                    <option value="{{ key }}"
                                            {% if key == order.status %}selected{% endif %}>{{ order_status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            {{ order.formatedDate }}
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group">
                            <a href="/site-construction/orders/{{ order.id }}" class="btn btn-default text-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#" data-id="{{ order.id }}" class="btn btn-default remove-order text-primary">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            {% if order.post_id is not empty %}
                                <div class="post_id">
                                    <span class="glyphicon glyphicon-plane"></span> {{ order.post_id }}
                                </div>
                            {% else %}
                                <div class="post_id hidden"><span class="glyphicon glyphicon-plane"></span> <span
                                            class="content"></span></div>
                                <a href="#" class="sendPostIdForm">Отправить номер почтового извещения</a>
                                <div class="hidden postIdForm form-inline">
                                    <div>
                                        <div class="form-group">
                                            <label>Номер</label>
                                            <input type="text" name="postId" value="{{ order.post_id }}"
                                                   class="form-control inline">
                                            <input type="hidden" name="orderId" value="{{ order.id }}">
                                        </div>
                                        <a href="#" class="btn btn-default">Отправить</a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="info">
                                <div class="user">
                                    <div>{{ order.info.family }} {{ order.info.name }} {{ order.info.surname }}</div>
                                    <div>{{ order.info.email }}</div>
                                    <div>{{ order.info.phone }}</div>
                                </div>
                                <div class="addres">
                                    <h3>Адрес доставки:</h3>
                                    {{ order.info.region }}, {{ order.info.postindex }}, {{ order.info.city }},
                                    ул. {{ order.info.street }}, {{ order.info.house }}, {{ order.info.flat }}
                                </div>
                                <div class="shipping">
                                    <h3>Оплата и доставка:</h3>
                                    {{ order.shipping.title }}
                                </div>
                                <div class="price">
                                    <div class="discounts">
                                        <h3>Скидки на момент заказа:</h3>
                                        <div class="discount {% if order.info.current_discount.type == 'global' %}selected{% endif %}">Общая скидка: {{ order.info.discount.global }}%</div>
                                        <div class="discount {% if order.info.current_discount.type == 'user' %}selected{% endif %}">Скидка пользователя: {{ order.info.discount.user }}%</div>
                                        <div class="discount {% if order.info.current_discount.type == 'size' %}selected{% endif %}">Скидка за объем:
                                        {% if order.info.discount.size is iterable %}
                                            {% for sizeDisc in order.info.discount.size %}
                                                {{ sizeDisc.sum }} - {{ sizeDisc.value }}%{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="sums">
                                        <h3>Стоимость на момент заказа:</h3>
                                        <div class="sum">Сумма: {{ order.info.sum }} руб.</div>
                                        <div class="sum">Сумма со скидкой: {{ order.info.discountSum }} руб.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="staff-block">
                                {% for item in order.staff %}
                                    <div class="item">
                                        {% set pre_item = staff[item.staff_id] %}
                                        <div class="image">
                                            <div class="wrapper">
                                                {% set file = pre_item.files|first %}
                                                <img src="{{ file.preview.admin_prev }}">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="title">Ар. {{ pre_item.custom_id }} {{ pre_item.title }}</div>
                                            <div class="price">{{ item.quantity }} * {{ item.price }}</div>
                                            {% if item.stock_id is not empty %}
                                                <div class="stock">
                                                    {% for c_field in pre_item.capitalized[item.stock_id].fields %}
                                                        {% for value in c_field.values %}
                                                            {{ value.title }},
                                                        {% endfor %}
                                                    {% endfor %}
                                                    (в наличии: {{ pre_item.capitalized[item.stock_id].value }})
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="sum">{{ order.info.sum }} руб. /
                                    доставка: {% if order.shipping.price == 0 %}бесплатно{% else %}{{ order.shipping.price }}{% endif %}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
        <input type="hidden" name="url_params[page]" value="{{ current_page }}">
        {% if current_status is not empty %}
            <input type="hidden" name="url_params[status]" value="{{ current_status }}">
        {% endif %}
        <input type="hidden" name="url_params[page]" value="{{ current_page }}">
        <div class="submit-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <select name="filter-status" class="form-control">
                            <option value="">все</option>
                            {% for key,order_status in  status %}
                                <option value="{{ key }}"
                                        {% if key == current_status %}selected{% endif %}>
                                    {{ order_status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5">
                        {{ ('paginator,'~ pages_count ~','~ current_page)|modules }}
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default pull-right upload-button" href="#">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('select[name="filter-status"]').on('change', function () {
            var host = window.location.host, path = window.location.pathname;
            window.location.replace('http://' + host + path + '?status=' + $(this).val());
        });
        $('a.remove-order').click(function(e) {
            e.preventDefault();
            if (confirm('Уверены, что хотите пометить этот заказ как удаленный?')) {
                $.ajax('/ajax/orders/' + $(e.currentTarget).data('id'), {
                    method: 'DELETE'
                }).done(function (res) {
                    $(e.currentTarget).parents('.item').addClass('deleted');
                });
            }
        });
        $('a.sendPostIdForm').click(function (e) {
            e.preventDefault();
            $(this).addClass('hidden');
            $(this).siblings('div.postIdForm').removeClass('hidden');
        });
        $('div.postIdForm a').click(function (e) {
            e.preventDefault();
            var el = $(this).parent().siblings('div.post_id'),
                    post_id = $(this).parent().find('input[name="postId"]').val(),
                    order_id = $(this).parent().find('input[name="orderId"]').val();
            $(this).parents('.postIdForm').siblings('.sendPostIdForm').addClass('hidden');
            $(this).parents('.postIdForm').addClass('hidden');
            el.removeClass('hidden');
            el.find('span.content').html(post_id);
            $.post('/ajax/orders/post_id', {orderId: order_id, postId: post_id}, 'json')
                    .done(function (res) {
                        if (res.error) {
                            console.error('Ошибка редактирования заказа');
                        } else {

                            console.log('Редактирование произошло удачно');
                        }
                    });
        });
    });
</script>