<div id="order">
    <form action="/site-construction/orders/{{ order.id }}" method="post">

        <div class="item panel panel-default">
            <div class="panel-heading">
                <div class="row form-inline">
                    <div class="col-md-1">
                        {{ order.id }}
                    </div>
                    <div class="col-md-3">
                        {{ order.shipping.title }}
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        {{ order.formatedDate }}
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <div class="user">
                                {{ order.info.name }}, {{ order.info.email }}, {{ order.info.phone }}
                            </div>
                            <div class="addres">
                                <h3>Адрес доставки:</h3>
                                {{ order.info.region }}, {{ order.info.postindex }}, {{ order.info.city }},
                                ул. {{ order.info.street }}, {{ order.info.house }}, {{ order.info.flat }}
                            </div>
                            <div class="shipping">
                                <h3>Оплата и доставка:</h3>
                                {{ order.shipping.title }}
                            </div>
                            <div class="price">
                                <div class="discounts">
                                    <h3>Скидки на момент заказа:</h3>
                                    <div class="discount">Общая скидка: {{ order.info.discount.global }}%</div>
                                    <div class="discount">Скидка пользователя: {{ order.info.discount.user }}%</div>
                                </div>
                                <div class="sums">
                                    <h3>Стоимость на момент заказа:</h3>
                                    <div class="sum">Сумма: {{ order.info.sum }} руб.</div>
                                    <div class="sum">Сумма со скидкой: {{ order.info.discountSum }} руб.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="staff-block">
                            {% for item in order.staff %}
                                <div class="item">
                                    {% set pre_item = staff[item.staff_id] %}
                                    <div class="image">
                                        <div class="wrapper">
                                            {% set file = pre_item.files|first %}
                                            <img src="{{ file.preview.admin_prev }}">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="title">Ар. {{ pre_item.custom_id }} {{ pre_item.title }}</div>
                                        <div class="price">{{ item.quantity }} * {{ item.price }} руб.</div>
                                        {% if item.stock_id is not empty and item.stock_id != 0 %}
                                            <div class="stock">
                                                {% for c_field in pre_item.capitalized[item.stock_id].fields %}
                                                    {% for value in c_field.values %}
                                                        {{ value.title }},
                                                    {% endfor %}
                                                {% endfor %}
                                                (в наличии: {{ pre_item.capitalized[item.stock_id].value }})
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="sum">{{ order.info.sum }} руб. /
                                доставка: {% if order.shipping.price == 0 %}бесплатно{% else %}{{ order.shipping.price }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        {% if order.status == 'unchecked' %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkOrder" value="1" checked>
                                изменить статус заказа на обработан и отправить письмо с уведомлением
                            </label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" name="referer" value="{{ referer }}">
        <div class="submit-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default pull-right upload-button" href="#">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {

    });
</script>