
<div id="addmailing">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Ввод новой рассылки</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputTitle" class="control-label">Тема рассылки</label>
                            <input type="text" class="form-control" id="inputTitle" name="subject" placeholder="Тема рассылки">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Текст рассылки</label>
                            <textarea id="fullinfo" name="message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Дата рассылки</label>
                            <input type="text" name="date_start" data-type="date-input" class="form-control" value="01-01-2014">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
                <div class="submit-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-2">
                                <a id="upload-button" class="btn btn-default pull-right" href="#">Сохранить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('fullinfo', {
            toolbarGroups: [
                { name: 'document',	   groups: [ 'mode', 'document' ] },			// Displays document group with its two subgroups.
                { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },			// Group's name will be used to create voice label.
                //'/',																// Line break - next group will be placed in new line.
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'links' }
            ]
        });
        var now = new Date();
        pickmeup.defaults.locales['ru'] = {
            days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            daysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            daysMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
        };
        pickmeup('input[name="date_start"]', {
            date: now,
            min            : now,
            position       : 'bottom',
            hide_on_select : true,
            locale         : 'ru'
        });
    });

    $('#upload-button').click(function(e) {
        e.preventDefault();
        $(this).closest('form').submit();
    });
</script>

