<div id="listmailing">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Рассылки</h3>
        </div>
        <div class="panel-body">
            {% for mailing in mailings %}
                <div class="row item">
                    <div class="col-md-12">
                        {{ mailing.date_start }}
                        {% if mailing.status == 'canceled' %}<span class="glyphicon glyphicon-remove-circle"></span>{% endif %}
                        {% if mailing.expired %}
                            {% if mailing.status == 'finished' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                            {% if mailing.status == 'active' %}<span class="glyphicon glyphicon-play"></span>{% endif %}
                        {% else %}
                            {% if mailing.status == 'active' %}<span class="glyphicon glyphicon-time"></span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <a href="/site-construction/mailing/{{ mailing.id }}">{{ mailing.subject }}</a>
                    </div>
                    <div class="col-md-7">
                        {{ mailing.message|raw }}
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            {% if mailing.status == 'active' %}
                                <a href="/site-construction/ajax/mailing/{{ mailing.id }}/cancel" class="ajax btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                                {% else %}
                                <div class="ajax btn btn-default disabled"><span class="glyphicon glyphicon-remove"></span></div>
                            {% endif %}
                            {% if not mailing.expired %}
                                <a href="/site-construction/ajax/mailing/{{ mailing.id }}/start" class="ajax btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
                            {% else %}
                                <div class="ajax btn btn-default disabled"><span class="glyphicon glyphicon-play"></span></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#listmailing a.ajax').click(function (e) {
            e.preventDefault();
            console.log($(this).attr('href'));
            let el = $(this);
            $.post($(this).attr('href'), 'json')
                    .done(function (res) {
                        if (res.error) {
                            console.error('Ошибка редактирования рассылки');
                        } else {
                            el.addClass('disabled');
                        }
                    });
        });
    });
</script>

