<div class="auth-vidget">
    <a href="#" class="visible-xs-block toggle-mobile-hidden"><i class="fa fa-user" aria-hidden="true"></i></a>
    <div class="wrapper mobile-hidden">
        {% if (user is defined) and (user.type == 'registered') %}
            {#<a href="/user/make_update" class="update-link">{{ user.contacts.name }}</a>#}
            <a href="/user/make_update" class="update-link">Мои данные</a>
            <a href="/user/make_logout" class="logout-link">Выход</a>
        {% else %}
            <div id="logging-form">
                <form action="/user/make_auth" method="post">
                    <input type="text" name="email" placeholder="E-mail">
                    <input type="password" placeholder="пароль" name="password">
                    <a href="#" class="upload-button">Вход</a>
                </form>
            </div>
            <a href="/user/make_register" class="register-link">Регистрация</a>
            <a href="/user/remember_password" class="remember-password-link">Напомнить пароль</a>
            <div class="auth-vidget__remember-password-tooltip">Забыли пароль?</div>
        {% endif %}

    </div>
</div>
