<a class="basket {% if basket.count > 0 %} with-staff{% endif %}" href="/basket">
    <div class="counter">В корзине товаров <span>{{ basket.quantity_count }}</span> шт.</div>
    <div class="sum">на сумму: <span>{{ basket.sum }}</span> руб.</div>
</a>