<div class="row">
    <div class="col-md-12">
        <h2>Курсы валют</h2>
    </div>
</div>
{% for cashValue in cash %}
<div class="row">
    <div class="col-xs-4">
        <div class="title">{{ cashValue.title }}</div>
    </div>
    <div class="col-xs-4">
        <div class="value">{{ cashValue.value|round(2, 'floor') }}</div>
    </div>
    <div class="col-xs-4">
        <div class="old-value">{{ cashValue.old_value|round(2, 'floor') }}</div>
    </div>
</div>
{% endfor %}