{% if item.catalog_type == 'article' %}
    <div class="item type-article">
        <h3>{{ item.title|raw }}</h3>

        <div class="date">{{ item.date }}</div>
        {% if  item.file %}
            {% set file = item.file|first %}
            <div class="image">
                <div class="wrapper">
                    <div class="wrapper">
                        <img src="{{ file.staff_prev }}">
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="description">
            {{ item.description|raw }}
        </div>
        <a class="readon"
           href="/{{ parent.label }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html">Подробнее</a>
    </div>
{% endif %}

{% if item.catalog_type == 'news' %}
    <div class="item type-news">
        <h3>{{ item.title|raw }}</h3>

        <div class="date">{{ item.date }}</div>
        {% if  item.file %}
            {% set file = item.file|first %}
            <div class="image">
                <div class="wrapper">
                    <div class="wrapper">
                        <img src="{{ file.staff_prev }}">
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="description">
            {{ item.description|raw }}
        </div>
        <a class="readon"
           href="/{{ parent.label }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html">Подробнее</a>
    </div>
{% endif %}

{% if item.catalog_type == 'staff' %}
    <div class="item type-staff">
        {% if  item.file %}
            {% set file = item.file|first %}
            <div class="image">
                <div class="wrapper">
                    <div class="wrapper">
                        <img src="{{ file.staff_prev }}">
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="info">
            <div class="title">{{ item.title|raw }}</div>
            <div class="description">
                {{ item.description|raw }}
            </div>
            <div class="price"><span class="actual">{{ (item.price - (item.price/100*global_discount.content))|round(0, 'floor') }} руб.</span>
                {% if global_discount.content > 0 %}
                    <span class="old"><span>{{ item.price }} руб.</span> <span class="discount">{{ global_discount.content }}%</span></span>
                {% endif %}
            </div>
            <a class="readon"
               href="{{ item.catalog_path }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html">Смотреть</a>
        </div>
        <a class="full-size-readon" href="{{ item.catalog_path }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html"></a>
    </div>
{% endif %}