
<div id="addfield">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Ввод нового поля</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputTitle" class="control-label">Название</label>
                        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Название">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLabel" class="control-label">Label</label>
                        <input type="text" class="form-control" id="inputTitle" name="label" placeholder="Метка">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Тип поля</label>
                        <select name="type"  class="form-control" onchange="byType($(this).val())">
                            <option value="string">Строка</option>
                            <option value="text">Текст</option>
                            <option value="float">Число</option>
                            <option value="integer">Целое число</option>
                            <option value="reference">Справочник</option>
                            <option value="double_reference">Двойной справочник</option>
                            <option value="multi_reference">Множественный справочник</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Справочник</label>
                        <select disabled name="reference"  class="form-control">
                            <option value="0">Нет</option>
                            {% for parent in parent_refs %}
                                <option value="{{ parent.id }}">{{ parent.title }}</option>
                            {% endfor %}
                        </select>
                        <select disabled name="double_reference"  class="form-control hidden">
                            <option value="0">Нет</option>
                            {% for parent in parent_refs %}
                                {% if parent.is_parent %}
                                    <option value="{{ parent.id }}">{{ parent.title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default" role="button" id="upload-button">Добавить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function byType(type) {
        if (type != 'reference' && type != 'double_reference' && type !== 'multi_reference') {
            $('select[name="reference"]').attr('disabled', true).show();
            $('select[name="double_reference"]').attr('disabled', true).hide();
        } else {
            if (type == 'reference' || type == 'multi_reference') {
                $('select[name="reference"]').attr('disabled', false).removeClass('hidden');
                $('select[name="double_reference"]').attr('disabled', true).addClass('hidden');
            }
            if (type == 'double_reference') {
                $('select[name="double_reference"]').attr('disabled', false).removeClass('hidden');
                $('select[name="reference"]').attr('disabled', true).addClass('hidden');
            }
        }
    }
    $('#upload-button').click(function(e) {
        e.preventDefault();
        $(this).closest('form').submit();
    });
</script>

