
<div id="addreference">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Ввод нового справочника</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputTitle" class="control-label">Название</label>
                        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Название">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLabel" class="control-label">Label</label>
                        <input type="text" class="form-control" id="inputLabel" name="label" placeholder="Метка">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Родительский справочник</label>
                        <select name="parent_id" class="form-control">
                            <option value="0">Нет</option>
                            {% for parent in parent_refs %}
                                <option value="{{ parent.id }}">{{ parent.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">&nbsp;</label>
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default" role="button" id="upload-button">Добавить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#upload-button').click(function(e) {
        e.preventDefault();
        $(this).closest('form').submit();
    });
</script>

