
<div id="addfield">
    <h3>Редактирование поля</h3>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputTitle" class="control-label">Название</label>
                <input type="text" class="form-control" id="inputTitle" name="title" value="{{ field.title }}" placeholder="Название">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLabel" class="control-label">Label</label>
                <input type="text" class="form-control" id="inputTitle" name="label" value="{{ field.label }}" placeholder="Метка">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Тип поля</label>
                <select name="type"  class="form-control" onchange="byType($(this).val())">
                    <option value="string" {% if field.type == "string" %}selected{% endif %}>Строка</option>
                    <option value="text" {% if field.type == "text" %}selected{% endif %}>Текст</option>
                    <option value="float" {% if field.type == "float" %}selected{% endif %}>Число</option>
                    <option value="integer" {% if field.type == "integer" %}selected{% endif %}>Целое число</option>
                    <option value="reference" {% if field.type == "reference" %}selected{% endif %}>Справочник</option>
                    <option value="double_reference" {% if field.type == "double_reference" %}selected{% endif %}>Двойной справочник</option>
                    <option value="multi_reference" {% if field.type == "multi_reference" %}selected{% endif %}>Множественный справочник</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Справочник</label>
                <select {% if field.type != "reference" and field.type != "multi_reference" %}disabled{% endif %} name="reference"  class="form-control {% if field.type == "double_reference" %}hidden{% endif %}">
                    <option value="0">Нет</option>
                    {% for parent in parent_refs %}
                    <option value="{{ parent.id }}" {% if field.reference_id == parent.id %}selected{% endif %}>{{ parent.title }}</option>
                    {% endfor %}
                </select>
                <select {% if field.type != "double_reference" %}disabled{% endif %} name="double_reference"  class="form-control {% if field.type != "double_reference" %}hidden{% endif %}">
                    <option value="0">Нет</option>
                    {% for parent in parent_refs %}
                        {% if parent.is_parent %}
                            <option value="{{ parent.id }}" {% if field.reference_id == parent.id %}selected{% endif %}>{{ parent.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-default" role="button" id="upload-button">Сохранить</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function byType(type) {
        if (type != 'reference' && type != 'double_reference' && type != 'multi_reference') {
            $('select[name="reference"]').attr('disabled', true).show();
            $('select[name="double_reference"]').attr('disabled', true).hide();
        } else {
            if (type == 'reference' || type == 'multi_reference') {
                $('select[name="reference"]').attr('disabled', false).removeClass('hidden');
                $('select[name="double_reference"]').attr('disabled', true).addClass('hidden');
            }
            if (type == 'double_reference') {
                $('select[name="double_reference"]').attr('disabled', false).removeClass('hidden');
                $('select[name="reference"]').attr('disabled', true).addClass('hidden');
            }
        }
    }
    $('#upload-button').click(function(e) {
        e.preventDefault();
        $(this).closest('form').submit();
    });
</script>

