
<div id="fields">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Поля</h3></div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Название</th>
                <th>Label</th>
                <th>Тип</th>
                <th></th>
                <th></th>
                </thead>
                {% for field in fields %}
                    <tr>
                        <td>{{ field.id }}</td>
                        <td>{{ field.title }}</td>
                        <td>{{ field.label }}</td>
                        <td>{{ field.type }}</td>
                        <td>{{ field.reference_title }}</td>
                        <td>
                            <div class="btn btn-group">
                                <a href="/site-construction/fields/{{ field.id }}/edit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="/site-construction/fields/{{ field.id }}/delete" class="btn btn-default red">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


