
<div id="references">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Справочники</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Название</th>
                <th>Label</th>
                <th>Родительский справочник</th>
                <th></th>
                </thead>
                {% for reference in references %}
                    <tr>
                        <td>{{ reference.id }}</td>
                        <td>{{ reference.title }}</td>
                        <td>{{ reference.label }}</td>
                        <td>{{ reference.parent_title }}</td>
                        <td>
                            <div class="btn btn-group">
                                <a href="/site-construction/references/{{ reference.id }}/edit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="/site-construction/references/{{ reference.id }}/delete" class="btn btn-default red">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


