
<div id="references_items">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Элементы справочников</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Название</th>
                <th>Label</th>
                <th>Справочник</th>
                <th></th>
                </thead>
                {% for item in items %}
                    <tr class="item">
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.label }}</td>
                        <td>{{ item.reference_title }}</td>
                        <td>
                            <div class="btn btn-group">
                                <a href="/site-construction/references/items/{{ item.id }}/edit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#" data-id="{{ item.id }}" class="btn btn-default red delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#references_items a.delete').click(function (e) {
            e.preventDefault();
            if (confirm('Уверены, что хотите пометить этот элемент к удалению?')) {
                $.ajax(
                        {
                            url: '/site-construction/references/items/' + $(e.currentTarget).data('id'),
                            method: 'DELETE'
                        }
                ).done(function (res) {
                    console.log('функционирует');
                    $(e.currentTarget).parents('.item').remove();
                });
            }

        });
    });
</script>


