<div id="discount-edit">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Скидки</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Скидки за объем покупки</h4>
                    </div>
                    {% for discount in size_discount %}
                        <div class="col-md-{{ 12/size_discount|length }}">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">р.</span>
                                <input type="number" name="size_discount[{{ loop.index0 }}][sum]" class="form-control" value="{{ discount.sum }}">
                                <input type="number" name="size_discount[{{ loop.index0 }}][value]" class="form-control" value="{{ discount.value }}">
                                <span class="input-group-addon" id="sizing-addon2">%</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Общая скидка на весь товар</h4>
                        <div class="form-inline">
                            <div class="input-group">
                                <input type="number" name="global_discount" class="form-control" value="{{ global_discount.content }}">
                                <span class="input-group-addon" id="sizing-addon2">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary pull-right upload-button" href="#">Сохранить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


