
<div id="settings-edit">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Опции сайта</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% for setting in settings %}
                    <div class="row item">
                        <div class="col-md-2">
                            {{ setting.label }}
                        </div>
                        <div class="col-md-4">
                            {{ setting.info }}
                        </div>
                        <div class="col-md-6">
                            {% if setting.content|length > 50 %}
                                <textarea class="form-control" name="setting[{{ setting.id }}]" rows="3">{{ setting.content }}</textarea>
                            {% else %}
                                <input type="text" name="setting[{{ setting.id }}]" class="form-control" value="{{ setting.content }}">
                            {% endif %}
                        </div>
                        <div class="col-md-12 divider">
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                <div class="submit-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary pull-right upload-button" href="#">Сохранить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


