<div class="checkbox">
    <label>
        <input type="checkbox" name="{{ name }}" value="{{ default_value }}" {% if value ==  default_value%}checked{% endif %}>
        {{ title }}
    </label>
</div>