<label for="input{{ name }}">{{ title }}</label>
<input type="{{ type|default('text') }}"
       name="{{ name }}" class="form-control" id="input{{ name }}" value="{{ value }}"
       placeholder="{{ placeholder }}"
       data-type="{{ datatype }}"
        {{ required|default('') }}
        >