    <label class="control-label">{{ title }}</label>
    <select name="{{ name }}" class="form-control" onchange="load_child_city($(this).val())">
        <option value=""></option>
        {% for item in items %}
            <option value="{{ item.id }}" {% if item.id == value %}selected{% endif %}>{{ item.title }}</option>
        {% endfor %}
    </select>
