    <label class="control-label">{{ title }}</label>
    <select name="{{ name }}" class="form-control" {% if dependence is defined%} onchange="load_child_select($(this).val(), '{{ dependence }}')"{% endif %}>
        <option value=""></option>
        {% for item in items %}
            <option value="{{ item.id }}" {% if item.id == value %}selected{% endif %}>{{ item.title }}</option>
        {% endfor %}
    </select>
