<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Ввод нового раздела</h3>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputTitle" class="col-sm-4 control-label">Название рубрики</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Название">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Родительской каталог/раздел</label>
                <div class="col-sm-8">
                    <select name=parent  class="form-control">
                        {{ ('tree_select,,' ~ catalog_id) |modules }}
                    </select>
                </div>
            </div>
            <div class="submit-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-primary upload-button" role="button">Сохранить</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



