<div id="catalog-page" class="row content-page type{{ catalog.type }}">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <select name="groups" class="form-control">
                            <option value="">-</option>
                            {% for group in groups %}
                                <option value="{{ group.id }}"
                                        {% if group.id == current_group %}selected{% endif %}>{{ group.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ search }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="contentSearch">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for item in items.items %}
        {{ include(item_template) }}
    {% endfor %}
    <div class="submit-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    {{ ('paginator,'~ pages_count ~','~ current_page)|modules }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery.fn.swap = function (b) {
        b = jQuery(b)[0];
        var a = this[0],
                a2 = a.cloneNode(true),
                b2 = b.cloneNode(true),
                stack = this;

        a.parentNode.replaceChild(b2, a);
        b.parentNode.replaceChild(a2, b);

        stack[0] = a2;
        return this.pushStack(stack);
    };
    $(document).ready(function () {
        $('#contentSearch').click(function (e) {
            e.preventDefault();
            var searchValue = $(e.currentTarget).parent().siblings('input').val();
            window.location.replace('/site-construction/catalog/{{ catalog.id }}?search=' + searchValue);
        });
        $('select[name="groups"]').on('change', function (e) {
            window.location.replace('/site-construction/catalog/{{ catalog.id }}' + '?group_id=' + $(e.currentTarget).val());
        });
        $('#catalog-page div.groups a').click(function (e) {
            e.preventDefault();
            $.ajax(
                    {
                        url: $(e.currentTarget).attr('href'),
                        method: 'GET'
                    }
            ).done(function (res) {
                $(e.currentTarget).toggleClass('selected');
            });
        });
        $('#catalog-page a.groups').click(function (e) {
            e.preventDefault();
            $('#catalog-page div.groups').hide();
            $(e.currentTarget).parents('.item').find('div.groups').toggle();
        });
        $('#catalog-page a.delete').click(function (e) {
            e.preventDefault();
            if (confirm('Уверены, что хотите пометить этот объект к удалению?')) {
                $.ajax(
                        {
                            url: '/site-construction/ajax/staff/' + $(e.currentTarget).data('id'),
                            method: 'DELETE'
                        }
                ).done(function (res) {
                    $(e.currentTarget).parents('.item').find('.title').addClass('deleted');
                });
            }

        });

        $('#catalog-page').on('click', 'a.sortUp, a.sortDown', function (e) {
            e.preventDefault();
            var href = $(e.currentTarget).attr('href');
            $.ajax({url: href, method: 'GET'})
                    .done(function () {
                        var item = $(e.currentTarget).parents('.item').parent();
                        var swapItem = $(e.currentTarget).hasClass('sortUp') ? item.prev('div') : item.next('div');
                        if (swapItem.find('.item').length > 0) {
                            $(item).swap(swapItem);
                        }
                    })
        });
    });
</script>

