{% set logo_file = '' %}
{% set header_file = '' %}
{% for key,file in catalog.files %}
    {% if file.appointment == 'LOGO' %}
        {% set logo_file = catalog.files[key] %}
    {% endif %}
    {% if file.appointment == 'HEADER' %}
        {% set header_file = catalog.files[key] %}
    {% endif %}
{% endfor %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Редактирование рубрики</h3>
    </div>
    <div class="panel-body">
        <form name="editcatalogue" action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-4 control-label">Название рубрики</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTitle" name="title"
                                       placeholder="Название" value="{{ catalog.title }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-4 control-label">Uid</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTitle" name="label"
                                       placeholder="Название" value="{{ catalog.label }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-4 control-label">Альтернативное название</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTitle" name="second_title"
                                       placeholder="Название" value="{{ catalog.second_title }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="input_meta_title" class="col-sm-4 control-label">Meta - title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="input_meta_title" name="meta_title"
                                       placeholder="Заголовок" value="{{ catalog.meta.title }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="input_meta_description" class="col-sm-4 control-label">Meta -
                                description</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="input_meta_description"
                                       name="meta_description" placeholder="Заголовок"
                                       value="{{ catalog.meta.description }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="input_meta_kewords" class="col-sm-4 control-label">Meta - keywords</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="input_meta_kewords" name="meta_keywords"
                                       placeholder="Заголовок" value="{{ catalog.meta.keywords }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Логотип рубрики</label>
                        <input type="file" name="logo">
                    </div>
                </div>
                <div class="col-md-8">
                    <label>Краткое описание</label>
                    <textarea class="form-control" rows="3" name="description">{{ catalog.description|raw }}</textarea>
                </div>
                <div id="editorblock" class="col-md-12">
                    <div class="form-group">
                        <label>Полное описание</label>
                        <textarea id="editor1" name="content">{{ catalog.content|raw }}</textarea>
                        <script type="text/javascript">
                            CKEDITOR.stylesSet.add('my_styles', [
                                // Block-level styles.
                                {name: 'Blue Title', element: 'h2', styles: {color: 'Blue'}},
                                {name: 'Red Title', element: 'h3', styles: {color: 'Red'}},

                                // Inline styles.

                                {name: 'Выравнивание по центру', element: 'p', styles: {'text-align': 'center'}},
                                {name: 'Красный цвет', element: 'span', styles: {color: '#e85454'}},
                                {name: 'Темно красный цвет', element: 'span', styles: {color: '#b03030'}},
                                {name: 'Темно синий цвет', element: 'span', styles: {color: '#007a99'}},
                                {name: 'Увеличенный шрифт', element: 'span', styles: {'font-size': '1.2em'}},

                                {
                                    name: 'Красивое приветствие',
                                    element: 'div',
                                    attributes: {'class': 'greeting'}
                                },


                            ]);
                            CKEDITOR.replace('editor1', {
                                'stylesSet': 'my_styles',
                                'filebrowserBrowseUrl': '/vendors/ckeditor_m/kcfinder/browse.php?type=files',
                                'filebrowserImageBrowseUrl': '/vendors/ckeditor_m/kcfinder/browse.php?type=images',
                                'filebrowserFlashBrowseUrl': '/vendors/ckeditor_m/kcfinder/browse.php?type=flash',
                                //'filebrowserUploadUrl':'/vendors/ckeditor_m/kcfinder/upload.php?type=files',
                                'filebrowserUploadUrl': '/site-construction/ckeditor_upload',
                                'filebrowserImageUploadUrl': '/site-construction/ckeditor_upload',
                                //'filebrowserImageUploadUrl':'/vendors/ckeditor_m/kcfinder/upload.php?type=images',
                                'filebrowserFlashUploadUrl': '/vendors/ckeditor_m/kcfinder/upload.php?type=flash'
                            });
                        </script>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Свойства:</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="root" value="1" {% if catalog.root==1 %}checked{% endif %}>
                                корневой раздел
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="is_visible" value="1"
                                       {% if catalog.is_visible==1 %}checked{% endif %}>
                                видимость рубрики
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="in_branch" value="1"
                                       {% if catalog.in_branch == 1 %}checked{% endif %}>
                                показывать содержимое в родительских рубриках
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hmenu" value="1"
                                       {% if catalog.hmenu==1 %}checked{% endif %}>
                                выводить в горизонтальном меню
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Тип:</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="photo"
                                       {% if catalog.type == 'photo' %}checked{% endif %}>
                                фотоальбом
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="common"
                                       {% if catalog.type == 'common' %}checked{% endif %}>
                                обычный/статьи
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="staff"
                                       {% if catalog.type == 'staff' %}checked{% endif %}>
                                товары
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="files"
                                       {% if catalog.type == 'files' %}checked{% endif %}>
                                файлы
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="news"
                                       {% if catalog.type == 'news' %}checked{% endif %}>
                                новости
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="video"
                                       {% if catalog.type == 'video' %}checked{% endif %}>
                                видео
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="partners"
                                       {% if catalog.type == 'partners' %}checked{% endif %}>
                                партнёры
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h4>Дополнительные поля:</h4>
                        {% for field in fields %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="fields[{{ field.id }}][checked]" value="Y"
                                           {% if catalog.fields[field.id] is defined %}checked{% endif %}
                                           onClick="unlock_order_check(this);">
                                    {{ field.title }}
                                </label>
                                {% if field.type == 'reference' or field.type == 'double_reference' %}
                                    <label>
                                        <input type="checkbox"
                                               name="fields[{{ field.id }}][order_check]"
                                               value="Y"
                                               {% if (catalog.fields[field.id] is defined) and (catalog.fields[field.id].order_check == 'Y') %}checked{% endif %}
                                                {% if catalog.fields[field.id] is not defined %}disabled{% endif %}
                                        >
                                        {{ catalog.fields.order_check }}учитывать при заказе
                                    </label>
                                {% else %}
                                    <input type="hidden" name="fields[{{ field.id }}][order_check]" value="N">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h4>Параметры вывода:</h4>
                        <div class="form-group">
                            <label for="cols" class="col-sm-4 control-label">Столбцы</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="cols" name="cols" placeholder="1..4"
                                       value="{{ catalog.cols }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rows" class="col-sm-4 control-label">Строки</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="rows" name="rows" placeholder="1..10"
                                       value="{{ catalog.rows }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Шаблон рубрики</label>
                        <select name="template" class="form-control">
                            {{ ('template_select,' ~ catalog.template) |modules }}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Родительской каталог/раздел</label>
                        <select name=parent class="form-control">
                            {{ ('tree_select,' ~ catalog.id ~ ',' ~ catalog.parent_id) |modules }}
                        </select>
                    </div>
                </div>

            </div>
            <input type="hidden" name="files" value="">
        </form>
        <div class="row">
            <div class="form-group">
                <div id="file-result-logo" class="col-md-4">
                    <label class="control-label">Логотип рубрики</label>
                    <div id="target-div-logo"></div>
                    <div {% if logo_file is not empty %}id="picture{{ logo_file.file_id }}"{% endif %}>
                        <div class="picture">
                            <div class="wrapper image">
                                <img {% if logo_file is not empty %}src="{{ logo_file.admin_prev }}"{% else %} src=""{% endif %}>
                            </div>
                            {% if logo_file is not empty %}
                                <div class="btn-group">
                                    <a href="#" class="delete-logo btn btn-danger"
                                       data-id="{{ logo_file.file_id }}">
                                        <span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="file-result-header" class="col-md-8">
                    <label class="control-label">Декоративное изображение (header)</label>
                    <div id="target-div-header"></div>
                    <div {% if header_file is not empty %}id="picture{{ header_file.file_id }}"{% endif %}>
                        <div class="picture">
                            <div class="wrapper image">
                                <img {% if header_file is not empty %}src="{{ header_file.admin_prev }}"{% else %} src=""{% endif %}>
                            </div>
                            {% if header_file is not empty %}
                                <div class="btn-group">
                                    <a href="#" class="delete-header btn btn-danger"
                                       data-id="{{ header_file.file_id }}">
                                        <span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="submit-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-2">
                        <a id="upload" href="#" class="btn btn-primary" role="button">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    function unlock_order_check(el) {
        var order_check = $(el).parent().next('label').find('input');
        order_check.attr('disabled', !el.checked);
    }
    var logo = {% if logo_file is not empty %}{{ logo_file.file_id }}{% else %}null{% endif %},
            header = {% if header_file is not empty %}{{ header_file.file_id }}{% else %}null{% endif %};
    $('#target-div-logo').JSAjaxFileUploader({
        uploadUrl: '/site-construction/form_files_upload',
        allowExt: 'gif|jpg|jpeg|png',
        beforesend: function (file) {
        },
        always: function (file) {
        },
        done: function (file, xhr) {
        },
        fail: function (response) {
        },
        complete: function (file, xhr) {
        },
        success: function (response) {
            var file = eval('(' + response + ')');
            if (file.error == '') {
                logo = file.id;
                $('#file-result-logo').append('<div class="col-md-3" id="picture' + file.id + '">' +
                        '<div class="picture">' +
                        '<div class="wrapper ' + file.type + '"><img src="' + file.preview + '"></div>' +
                        '<div class="btn-group">' +
                        '<a href="#" class="delete-logo btn btn-danger" data-id="' + file.id + '">' +
                        '<span class="glyphicon glyphicon-remove"></span>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
            }
        },
        error: function (response) {
        }
    });
    $('#file-result-logo').on('click', 'a.delete-logo', function (event) {
        event.preventDefault();
        var id = $(this).data('id');
        $.ajax({
            method: "DELETE",
            url: "/site-construction/files/" + id
        })
                .done(function (msg) {
                    logo = null;
                    $('#picture' + id).remove();
                });
    });

    $('#target-div-header').JSAjaxFileUploader({
        uploadUrl: '/site-construction/form_files_upload',
        allowExt: 'gif|jpg|jpeg|png',
        beforesend: function (file) {
        },
        always: function (file) {
        },
        done: function (file, xhr) {
        },
        fail: function (response) {
        },
        complete: function (file, xhr) {
        },
        success: function (response) {
            var file = eval('(' + response + ')');
            if (file.error == '') {
                header = file.id;
                $('#file-result-header').append('<div class="col-md-8" id="picture' + file.id + '">' +
                        '<div class="picture">' +
                        '<div class="wrapper ' + file.type + '"><img src="' + file.preview + '"></div>' +
                        '<div class="btn-group">' +
                        '<a href="#" class="delete-header btn btn-danger" data-id="' + file.id + '">' +
                        '<span class="glyphicon glyphicon-remove"></span>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
            }
        },
        error: function (response) {
        }
    });
    $('#file-result-header').on('click', 'a.delete-header', function (event) {
        event.preventDefault();
        var id = $(this).data('id');
        $.ajax({
            method: "DELETE",
            url: "/site-construction/files/" + id
        })
                .done(function (msg) {
                    header = null;
                    $('#picture' + id).remove();
                });
    });

    $('a#upload').click(function (e) {
        e.preventDefault();
        var files = [];
        if (logo) {
            files.push({file_id: logo, file_appointment: 'LOGO'});
        }
        if (header) {
            files.push({file_id: header, file_appointment: 'HEADER'});
        }
        $('input[name="files"]').val(JSON.stringify(files));
        $('form[name="editcatalogue"]').submit();
    });

</script>

