<div class="col-lg-6">
    <div class="item panel panel-default">
        <div class="panel-heading">
            <div class="title">{{ item.title|raw }}</div>
            <div class="date">{{ item.date_insert }}</div>
        </div>
        <div class="panel-body">
            <div class="dummy"></div>
            <div class="content">
                {% if item.file is iterable %}
                    {% for file in item.file %}
                      {% if file.is_main == 1 %}
                          <div class="image">
                              <div class="wrapper">
                                  <img src="{{ file.admin_prev }}">
                              </div>
                          </div>
                      {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="image">
                        <div class="wrapper">
                            <img src="/assets/aimages/no_img.jpg">
                        </div>
                    </div>
                {% endif %}
                <div class="description">
                    {{ item.description|raw }}
                </div>
                <div class="price">
                    {% if item.price != 0 %} {{ item.price|raw }} {% if item.cashtype == 0 %}руб.{% else %}${% endif %}{% endif %}
                </div>
                <div class="groups">
                    {% for group in groups %}
                        <a href="/site-construction/groups/{{ group.id }}/staff/{{ item.id }}" class="{% if item.groups[group.id] is defined %}selected{% endif %}">{{ group.title }}</a>
                    {% endfor %}
                </div>
                <div class="edit-links">
                    <a class="sortUp text-primary" href="/site-construction/catalog/{{ item.catalog_id }}/staff/{{ item.id }}/sort-up">
                        <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
                    </a>
                    <a class="sortDown text-primary" href="/site-construction/catalog/{{ item.catalog_id }}/staff/{{ item.id }}/sort-down">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </a>
                    <a class="groups text-primary" href="/site-construction/catalog/{{ item.catalog_id }}/staff/{{ item.id }}">Groups</a>
                    <a class="edit text-primary" href="/site-construction/catalog/{{ item.catalog_id }}/staff/{{ item.id }}">Edit</a>
                    <a class="delete text-warning" href="#" data-id="{{ item.id }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
