<table width="640">
    <tr>
        <td>
            <div style="box-sizing: border-box; overflow: hidden; font-family: Tahoma, Arial; font-size: 12px;width: 640px;border: 1px solid #de7474;background-color: #f1e5e5;">
                <div style="padding: 0 10px 0 10px">
                    <p>Пользователь воспользовался формой обратной связи на сайте:</p>
                    <p><strong>Имя:</strong> {{ name }}</p>
                    <p><strong>Телефон:</strong> {{ phone }}</p>
                </div>
            </div>
        </td>
    </tr>
</table>
