@primary-color: rgba(43, 43, 43, 0.82);
@second-color: rgba(123, 123, 123, 0.82);
@border-color: #dee0e1;


body {
  padding-top: 70px;
  padding-bottom: 3%;
  background-color: #e2dddd;
  &.auth-page {
    background: url(/assets/aimages/auth-page-bgr.jpg) repeat-x center top, url(/assets/aimages/allfon.jpg) repeat-y center top;

  }
  #logform {
    width: 408px;
    height: 220px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    position: absolute;
    background: url(/assets/aimages/cop.jpg) no-repeat center 10px #ffffff;
    border-radius: 20px;
    margin-left: -206px;
    margin-top: -140px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 90px 60px 0 60px;
    text-align: center;
    .input-group {
      margin-bottom: 10px;
    }
  }
  #copyrights {
    width: 408px;
    height: auto;
    box-sizing: border-box;
    bottom: 20px;
    left: 50%;
    position: absolute;
    border-radius: 20px;
    margin-left: -206px;
    margin-top: -140px;
    padding: 5px 60px 5px 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    p {
      margin: 2px;
    }
  }
}
.inline-column {
  @media (min-width: 940px) {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}


.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4em;
  font-weight: 400;
  color: #0093FF;
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
  color: #0093FF;
  margin: 0;
  &.content-header {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
    border: 1px solid #ccc;
  }
}

.form-group {
  overflow: hidden;
}

.margin-bottom {
  @media (min-width: 940px) {
    margin-bottom: 20px;
  }
  margin-bottom: 10px;
}

.submit-block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1%;
  border-top: solid 1px #ddd;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}

.paginator {
  a, span {
    border: 1px solid #ccc;
    padding: 1%;
    min-width: 3em;
    text-align: center;
  }
}

select {
  option {
    color: #2b2b2b;
    font-size: 0.8em;
    &.padding-0 {
      color: #0093FF;
      font-size: 1em;
    }
    &.padding-1 {
      color: #0093FF;
      font-size: 1em;
    }
    &.padding-2 {
      color: #2b2b2b;
      font-size: 0.9em;
    }
    &.padding-3 {
      color: #2b2b2b;
      font-size: 0.9em;
    }
  }
}

#catalog-tree {
  overflow: hidden;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;

  ul.catalog {
    margin-left: 10px;
    display: block;
    padding: 0;

    li {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      &.active {
        a {
          color: #0093FF;
        }
        ul {
          a.sortUp, a.sortDown {
            display: inline-block;
          }
        }

        a.edit, a.delete {
          display: inline-block;
        }
      }
      a {
        display: inline-block;
        padding: 0;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        &.deleted {
          text-decoration: line-through;
        }
        &.sortUp, &.sortDown {
          display: none;
          font-size: 11px;
        }
        &.edit {
          display: none;
          font-size: 11px;
        }
        &.delete {
          display: none;
          font-size: 11px;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
        &.expand {
          padding: 0;
          width: 14px;
          height: 15px;
          border: solid 1px black;
          line-height: normal;
          font-size: 11px;
          text-align: center;
          &:before {
            content: "+";
          }
          &.expanded:before {
            content: "-";
          }

        }
      }
      span.expand {
        display: inline-block;
        clear: both;
        font-weight: 400;
        color: transparent;
        white-space: nowrap;
        padding: 0;
        width: 10px;
        height: 10px;
        border: solid 1px transparent;
        line-height: 7px;
        font-size: 11px;
        text-align: center;
        &:before {
          content: "-";
        }
      }

    }

  }
}

.content-page {
  overflow: hidden;
  &#catalog-page {
    .item {
      overflow: hidden;
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: relative;
      margin-bottom: 30px;
      .panel-body {
        position: relative;
      }
      .panel-heading {
        overflow: hidden;
        line-height: 14px;
        .title {
          font-size: 12px;
          float: left;
          margin-right: 10px;
          width: 65%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &.deleted {
            text-decoration: line-through;
          }
        }
        .date {
          font-size: 11px;
          float: left;
        }
      }
      div.groups {
        display: none;
        position: absolute;
        top: 2%;
        left: 1%;
        background-color: white;
        padding: 1%;
        border: solid 1px #ECECEC;
        width: 98%;
        a {
          text-decoration: none;
          &.selected {
            font-weight: bold;
          }
        }
      }
      .dummy {
        padding-top: 30%;
      }
      .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        font-size: 12px;

        .description {
          font-size: 12px;
          line-height: normal;
          margin-right: 10px;
          margin-top: 4px;
          height: 80px;
          overflow: hidden;
        }
        .price {
          font-size: 16px;
          margin: 0 0 4px 6px;
        }
        .image {
          position: relative;
          width: 36%;
          overflow: hidden;
          margin: 5px;
          height: 73%;
          float: left;
          .wrapper {
            width: 200%;
            height: 100%;
            margin-left: -50%;
            text-align: center;
            img {
              height: 100%;
              width: auto;
            }
          }
        }
        .edit-links {
          position: absolute;
          bottom: 4px;
          right: 10px
        }
      }

    }
  }
}

#addstaff, #addpr {
  .JSUploadForm {
    background: #FFF;
    width: inherit;
    padding: 20px 30px 5px 30px;
    box-shadow: rgba(122, 122, 122, 0.7) 0 0 0 0;
    -webkit-box-shadow: rgba(122, 122, 122, 0.7) 0 0 0 0;
    color: #666;
    overflow: auto;
  }
  #file-result {
    .picture {
      position: relative;
      border: solid 1px #CCC;
      border-radius: 4px;
      margin-bottom: 10%;
      overflow: hidden;
      padding: 8%;
      &.is-main {
        border: solid 1px #245580;
      }
      &:before {
        content: '';
        position: relative;
        display: block;
        padding-top: 100%;
      }
      .wrapper {
        position: absolute;
        left: 1%;
        top: 1%;
        max-width: 98%;
        width: 98%;
        height: 60%;
        max-height: 80%;
        background-color: #E8E9E8;
        &.other {
          background-image: url(/assets/aimages/file-other-type.png);
          background-size: cover;
          background-position: center center;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .btn-group {
        margin: auto;
        overflow: hidden;
        display: block;
        width: 160px;
      }
      a {

      }
    }
  }
  #staff-group, #fields, #staff_by_fields_values .row {
    &:after {
      border-bottom: solid 1px rgb(224, 224, 224);
      display: block;
      content: ' ';
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .row {
    margin-bottom: 1%;
  }
}

#references, #fields {
  td {
    vertical-align: middle;
  }
}

#adblocks {
  form {
    .row {

    }
  }
  .item {
    img {
      width: 100%;
      height: auto;
    }
    .title {
      color: @primary-color;
      &.deleted {
        text-decoration: line-through;
      }
    }
    .info {
      color: @second-color;
      font-size: 0.8em;
    }
    a {
      font-size: 0.8em;
    }
  }
}

#orders {
  .item {
    overflow: hidden;
    &.deleted {
      opacity: 0.5;
    }
    .panel-heading {
      line-height: 1em;
    }
    .discounts {
      .discount {
        &.selected {
          font-weight: 600;
        }
      }
    }
    .postIdForm {
      border: 1px solid @border-color;
      border-radius: 2px;
      padding: 2%;
      display: inline-block;
    }
  }
  .staff-block {
    border: solid 1px #D6D7DE;
    .sum {
      padding: 2%;
    }
    .item {
      border: none;
      border-bottom: solid 1px #dee0e1;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
      &:before {
        content: '';
        display: block;
        padding-top: 29%;
        position: relative;
        float: left;
      }
      .image {
        position: absolute;
        border: solid 1px #D6D7DE;
        left: 2%;
        top: 10%;
        width: 20%;
        overflow: hidden;
        &:before {
          content: '';
          display: block;
          padding-top: 120%;
          position: relative;
        }
        .wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .content {
        margin-left: 22%;
        margin-top: 3%;
        padding: 0 4px 4px 4px;
        .title {
          border: none;
          font-size: 1em;
          line-height: normal;
          color: #5c5c5c;
          margin-bottom: 3%;
        }
        .price {
          font-size: 0.8em;
          font-weight: 800;
          line-height: normal;
        }
        .stock {
          font-size: 1em;
          line-height: normal;
        }
      }

    }
  }
}
#order {
  .item {
    overflow: hidden;
    &.deleted {
      opacity: 0.5;
    }
    .panel-heading {
      line-height: 1em;
    }
  }
  .staff-block {
    border: solid 1px #D6D7DE;
    .sum {
      padding: 2%;
    }
    .item {
      border: none;
      border-bottom: solid 1px #dee0e1;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
      &:before {
        content: '';
        display: block;
        padding-top: 29%;
        position: relative;
        float: left;
      }
      .image {
        position: absolute;
        border: solid 1px #D6D7DE;
        left: 2%;
        top: 10%;
        width: 20%;
        overflow: hidden;
        &:before {
          content: '';
          display: block;
          padding-top: 120%;
          position: relative;
        }
        .wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .content {
        margin-left: 22%;
        margin-top: 3%;
        padding: 0 4px 4px 4px;
        .title {
          border: none;
          font-size: 0.8em;
          line-height: normal;
          color: #5c5c5c;
          margin-bottom: 3%;
        }
        .price {
          font-size: 1em;
          font-weight: 700;
          line-height: normal;
        }
        .stock {
          font-size: 1em;
          line-height: normal;
        }
      }

    }
  }
}

#shipping-edit {
  .deleted {
    div {
      text-decoration: line-through;
    }
  }
}

#reviews {
  .item {
    .staff {
      .title {
        font-size: 1em;
      }
      .image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border: 1px solid @border-color;
        .wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .name {
      color: #0093FF;
    }
    .answer {

    }
  }
}

#users {
  .discount {
    height: 34px;
    .form {
      label {
        display: none;
      }
    }
    .text {
      padding: 6px 12px;

    }
  }
  .item {
    border-bottom: 1px solid #eee;
    padding: 1%;
  }
}


