body {
  padding-top: 70px;
  padding-bottom: 3%;
  background-color: #e2dddd;
}
body.auth-page {
  background: url(/assets/aimages/auth-page-bgr.jpg) repeat-x center top, url(/assets/aimages/allfon.jpg) repeat-y center top;
}
body #logform {
  width: 408px;
  height: 220px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  position: absolute;
  background: url(/assets/aimages/cop.jpg) no-repeat center 10px #ffffff;
  border-radius: 20px;
  margin-left: -206px;
  margin-top: -140px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 90px 60px 0 60px;
  text-align: center;
}
body #logform .input-group {
  margin-bottom: 10px;
}
body #copyrights {
  width: 408px;
  height: auto;
  box-sizing: border-box;
  bottom: 20px;
  left: 50%;
  position: absolute;
  border-radius: 20px;
  margin-left: -206px;
  margin-top: -140px;
  padding: 5px 60px 5px 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
body #copyrights p {
  margin: 2px;
}
@media (min-width: 940px) {
  .inline-column {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
  color: #0093FF;
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
  color: #0093FF;
  margin: 0;
}
h3.content-header {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  border: 1px solid #ccc;
}
.form-group {
  overflow: hidden;
}
.margin-bottom {
  margin-bottom: 10px;
}
@media (min-width: 940px) {
  .margin-bottom {
    margin-bottom: 20px;
  }
}
.submit-block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1%;
  border-top: solid 1px #ddd;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.paginator a,
.paginator span {
  border: 1px solid #ccc;
  padding: 1%;
  min-width: 3em;
  text-align: center;
}
select option {
  color: #2b2b2b;
  font-size: 0.8em;
}
select option.padding-0 {
  color: #0093FF;
  font-size: 1em;
}
select option.padding-1 {
  color: #0093FF;
  font-size: 1em;
}
select option.padding-2 {
  color: #2b2b2b;
  font-size: 0.9em;
}
select option.padding-3 {
  color: #2b2b2b;
  font-size: 0.9em;
}
#catalog-tree {
  overflow: hidden;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
}
#catalog-tree ul.catalog {
  margin-left: 10px;
  display: block;
  padding: 0;
}
#catalog-tree ul.catalog li {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
#catalog-tree ul.catalog li.active a {
  color: #0093FF;
}
#catalog-tree ul.catalog li.active ul a.sortUp,
#catalog-tree ul.catalog li.active ul a.sortDown {
  display: inline-block;
}
#catalog-tree ul.catalog li.active a.edit,
#catalog-tree ul.catalog li.active a.delete {
  display: inline-block;
}
#catalog-tree ul.catalog li a {
  display: inline-block;
  padding: 0;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
#catalog-tree ul.catalog li a.deleted {
  text-decoration: line-through;
}
#catalog-tree ul.catalog li a.sortUp,
#catalog-tree ul.catalog li a.sortDown {
  display: none;
  font-size: 11px;
}
#catalog-tree ul.catalog li a.edit {
  display: none;
  font-size: 11px;
}
#catalog-tree ul.catalog li a.delete {
  display: none;
  font-size: 11px;
}
#catalog-tree ul.catalog li a:hover,
#catalog-tree ul.catalog li a:focus {
  text-decoration: none;
}
#catalog-tree ul.catalog li a.expand {
  padding: 0;
  width: 14px;
  height: 15px;
  border: solid 1px black;
  line-height: normal;
  font-size: 11px;
  text-align: center;
}
#catalog-tree ul.catalog li a.expand:before {
  content: "+";
}
#catalog-tree ul.catalog li a.expand.expanded:before {
  content: "-";
}
#catalog-tree ul.catalog li span.expand {
  display: inline-block;
  clear: both;
  font-weight: 400;
  color: transparent;
  white-space: nowrap;
  padding: 0;
  width: 10px;
  height: 10px;
  border: solid 1px transparent;
  line-height: 7px;
  font-size: 11px;
  text-align: center;
}
#catalog-tree ul.catalog li span.expand:before {
  content: "-";
}
.content-page {
  overflow: hidden;
}
.content-page#catalog-page .item {
  overflow: hidden;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
}
.content-page#catalog-page .item .panel-body {
  position: relative;
}
.content-page#catalog-page .item .panel-heading {
  overflow: hidden;
  line-height: 14px;
}
.content-page#catalog-page .item .panel-heading .title {
  font-size: 12px;
  float: left;
  margin-right: 10px;
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-page#catalog-page .item .panel-heading .title.deleted {
  text-decoration: line-through;
}
.content-page#catalog-page .item .panel-heading .date {
  font-size: 11px;
  float: left;
}
.content-page#catalog-page .item div.groups {
  display: none;
  position: absolute;
  top: 2%;
  left: 1%;
  background-color: white;
  padding: 1%;
  border: solid 1px #ECECEC;
  width: 98%;
}
.content-page#catalog-page .item div.groups a {
  text-decoration: none;
}
.content-page#catalog-page .item div.groups a.selected {
  font-weight: bold;
}
.content-page#catalog-page .item .dummy {
  padding-top: 30%;
}
.content-page#catalog-page .item .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  font-size: 12px;
}
.content-page#catalog-page .item .content .description {
  font-size: 12px;
  line-height: normal;
  margin-right: 10px;
  margin-top: 4px;
  height: 80px;
  overflow: hidden;
}
.content-page#catalog-page .item .content .price {
  font-size: 16px;
  margin: 0 0 4px 6px;
}
.content-page#catalog-page .item .content .image {
  position: relative;
  width: 36%;
  overflow: hidden;
  margin: 5px;
  height: 73%;
  float: left;
}
.content-page#catalog-page .item .content .image .wrapper {
  width: 200%;
  height: 100%;
  margin-left: -50%;
  text-align: center;
}
.content-page#catalog-page .item .content .image .wrapper img {
  height: 100%;
  width: auto;
}
.content-page#catalog-page .item .content .edit-links {
  position: absolute;
  bottom: 4px;
  right: 10px;
}
#addstaff .JSUploadForm,
#addpr .JSUploadForm {
  background: #FFF;
  width: inherit;
  padding: 20px 30px 5px 30px;
  box-shadow: rgba(122, 122, 122, 0.7) 0 0 0 0;
  -webkit-box-shadow: rgba(122, 122, 122, 0.7) 0 0 0 0;
  color: #666;
  overflow: auto;
}
#addstaff #file-result .picture,
#addpr #file-result .picture {
  position: relative;
  border: solid 1px #CCC;
  border-radius: 4px;
  margin-bottom: 10%;
  overflow: hidden;
  padding: 8%;
}
#addstaff #file-result .picture.is-main,
#addpr #file-result .picture.is-main {
  border: solid 1px #245580;
}
#addstaff #file-result .picture:before,
#addpr #file-result .picture:before {
  content: '';
  position: relative;
  display: block;
  padding-top: 100%;
}
#addstaff #file-result .picture .wrapper,
#addpr #file-result .picture .wrapper {
  position: absolute;
  left: 1%;
  top: 1%;
  max-width: 98%;
  width: 98%;
  height: 60%;
  max-height: 80%;
  background-color: #E8E9E8;
}
#addstaff #file-result .picture .wrapper.other,
#addpr #file-result .picture .wrapper.other {
  background-image: url(/assets/aimages/file-other-type.png);
  background-size: cover;
  background-position: center center;
}
#addstaff #file-result .picture .wrapper img,
#addpr #file-result .picture .wrapper img {
  width: 100%;
  height: auto;
}
#addstaff #file-result .picture .btn-group,
#addpr #file-result .picture .btn-group {
  margin: auto;
  overflow: hidden;
  display: block;
  width: 160px;
}
#addstaff #staff-group:after,
#addpr #staff-group:after,
#addstaff #fields:after,
#addpr #fields:after,
#addstaff #staff_by_fields_values .row:after,
#addpr #staff_by_fields_values .row:after {
  border-bottom: solid 1px #e0e0e0;
  display: block;
  content: ' ';
  margin-left: 15px;
  margin-right: 15px;
}
#addstaff .row,
#addpr .row {
  margin-bottom: 1%;
}
#references td,
#fields td {
  vertical-align: middle;
}
#adblocks .item img {
  width: 100%;
  height: auto;
}
#adblocks .item .title {
  color: rgba(43, 43, 43, 0.82);
}
#adblocks .item .title.deleted {
  text-decoration: line-through;
}
#adblocks .item .info {
  color: rgba(123, 123, 123, 0.82);
  font-size: 0.8em;
}
#adblocks .item a {
  font-size: 0.8em;
}
#orders .item {
  overflow: hidden;
}
#orders .item.deleted {
  opacity: 0.5;
}
#orders .item .panel-heading {
  line-height: 1em;
}
#orders .item .discounts .discount.selected {
  font-weight: 600;
}
#orders .item .postIdForm {
  border: 1px solid #dee0e1;
  border-radius: 2px;
  padding: 2%;
  display: inline-block;
}
#orders .staff-block {
  border: solid 1px #D6D7DE;
}
#orders .staff-block .sum {
  padding: 2%;
}
#orders .staff-block .item {
  border: none;
  border-bottom: solid 1px #dee0e1;
  position: relative;
}
#orders .staff-block .item:last-child {
  border-bottom: none;
}
#orders .staff-block .item:before {
  content: '';
  display: block;
  padding-top: 29%;
  position: relative;
  float: left;
}
#orders .staff-block .item .image {
  position: absolute;
  border: solid 1px #D6D7DE;
  left: 2%;
  top: 10%;
  width: 20%;
  overflow: hidden;
}
#orders .staff-block .item .image:before {
  content: '';
  display: block;
  padding-top: 120%;
  position: relative;
}
#orders .staff-block .item .image .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#orders .staff-block .item .image .wrapper img {
  width: 100%;
  height: auto;
}
#orders .staff-block .item .content {
  margin-left: 22%;
  margin-top: 3%;
  padding: 0 4px 4px 4px;
}
#orders .staff-block .item .content .title {
  border: none;
  font-size: 1em;
  line-height: normal;
  color: #5c5c5c;
  margin-bottom: 3%;
}
#orders .staff-block .item .content .price {
  font-size: 0.8em;
  font-weight: 800;
  line-height: normal;
}
#orders .staff-block .item .content .stock {
  font-size: 1em;
  line-height: normal;
}
#order .item {
  overflow: hidden;
}
#order .item.deleted {
  opacity: 0.5;
}
#order .item .panel-heading {
  line-height: 1em;
}
#order .staff-block {
  border: solid 1px #D6D7DE;
}
#order .staff-block .sum {
  padding: 2%;
}
#order .staff-block .item {
  border: none;
  border-bottom: solid 1px #dee0e1;
  position: relative;
}
#order .staff-block .item:last-child {
  border-bottom: none;
}
#order .staff-block .item:before {
  content: '';
  display: block;
  padding-top: 29%;
  position: relative;
  float: left;
}
#order .staff-block .item .image {
  position: absolute;
  border: solid 1px #D6D7DE;
  left: 2%;
  top: 10%;
  width: 20%;
  overflow: hidden;
}
#order .staff-block .item .image:before {
  content: '';
  display: block;
  padding-top: 120%;
  position: relative;
}
#order .staff-block .item .image .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#order .staff-block .item .image .wrapper img {
  width: 100%;
  height: auto;
}
#order .staff-block .item .content {
  margin-left: 22%;
  margin-top: 3%;
  padding: 0 4px 4px 4px;
}
#order .staff-block .item .content .title {
  border: none;
  font-size: 0.8em;
  line-height: normal;
  color: #5c5c5c;
  margin-bottom: 3%;
}
#order .staff-block .item .content .price {
  font-size: 1em;
  font-weight: 700;
  line-height: normal;
}
#order .staff-block .item .content .stock {
  font-size: 1em;
  line-height: normal;
}
#shipping-edit .deleted div {
  text-decoration: line-through;
}
#reviews .item .staff .title {
  font-size: 1em;
}
#reviews .item .staff .image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border: 1px solid #dee0e1;
}
#reviews .item .staff .image .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#reviews .item .staff .image .wrapper img {
  width: 100%;
  height: auto;
}
#reviews .item .name {
  color: #0093FF;
}
#users .discount {
  height: 34px;
}
#users .discount .form label {
  display: none;
}
#users .discount .text {
  padding: 6px 12px;
}
#users .item {
  border-bottom: 1px solid #eee;
  padding: 1%;
}
