@lite-rose: #ffb0b0;
@primary-color: #4d4d4d;
@dark-primary: #4d4d4d;
@link-color: #4d4d4d;
@select-color-first: #00abd6;
@dark-red: #d34644;
@light-red: #e85454;

@dark-brown: #b03030;
@violet: #e446a0;
@green: #7b9c3a;
@deep-blue: #007a99;
@light-brow: #d6b87a;
@gray-blue: #44636b;

@page-background-color: #f7f6ed;
