@import "colors.less";
.group-header {
  background: url('/assets/images/group-bgr.png') center top no-repeat;
  height: 82px;
  width: 100%;
}

#group_hits {
  h2 {
    display: none;
  }
}

#pr4 {
  overflow: visible;
  white-space: nowrap;

  a {
    width: 32%;
    position: relative;
    margin-right: 1%;
    overflow: hidden;
    &:before {
      content: '';
      position: relative;
      padding-top: 80%;
      display: block;
    }
    .img {
      border: 2px solid #e27e7e;
      background-color: #ffffff;
      border-radius: 20px 2px 2px 2px;
      width: 100%;
      height: 60%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      position: absolute;
      color: @light-red;
      font-size: 1em;
      text-align: center;
      text-decoration: none;
      left: 0;
      line-height: 1;
      top: 62%;
      width: 100%;
      white-space: normal;

    }
  }
}
@media(min-width: 768px) {
  #pr4 {
    overflow: visible;
    white-space: nowrap;

    a {
      width: 32%;
      position: relative;
      margin-right: 1%;
      &:before {
        content: '';
        position: relative;
        padding-top: 70%;
        display: block;
      }
      .img {
        border: 2px solid #e27e7e;
        background-color: #ffffff;
        border-radius: 20px 2px 2px 2px;
        width: 100%;
        height: 70%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .title {
        position: absolute;
        color: @light-red;
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        left: 0;
        line-height: 1;
        top: 72%;
        width: 100%;
        white-space: normal;

      }
    }
  }
}

#group_news {
  width: 264px;
  h2 {
    margin: 0;
    background-image: url(/assets/images/group-news-title-bgr.png);
    width: 264px;
    height: 84px;
    color: #d34644;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 3.4;
    margin-bottom: -22px;
  }
  .item {
    width: 264px;
    height: 348px;
    background-image: url(/assets/images/group-news-bgr.png);
    border: none;
    background-color: transparent;
    margin-bottom: -4px;
    .image {
      position: absolute;
      width: 128px;
      left: 60px;
      top: 26px;
    }
    .info {
      position: absolute;
      left: 0;
      top: 160px;
      padding: 0 12px 0 12px;
      height: 160px;
      width: 100%;
      .title {
        color: #d34644;
        text-align: center;
        font-size: 1.2em;
        text-transform: none;
        white-space: normal;
      }
      .description {
        font-size: 1em;
        color: @dark-brown;
        text-align: left;
        text-transform: none;
        white-space: normal;
      }
      .price {
        display: none;
      }
      a.readon {
        text-transform: uppercase;
        color: #e446a0;
        display: block;
        text-align: center;
        border: 2px solid #e446a0;
        line-height: 2.7;
        font-size: 1em;
        border-radius: 1.6em;
        position: absolute;
        bottom: 0;
        width: 58%;
        left: 16%;
        background-color: #fff2f2;
        background-image: url(/assets/images/readon-bgr.png);
        padding: 0 0 0 13%;
        background-size: contain;
        top: auto;
        height: auto;
      }
    }
  }
}
.current {
  &__offers {
    overflow: hidden;
    margin: 0;
    margin-bottom: 10%;
    .offer {
      float: left;
      width: 30%;
      font-size: 1em;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center top;
      padding: 0 10px 0 10px;
      margin: 0 1% 0 1%;
      line-height: 1.2;
      background-size: contain;
      &:before {
        content: '';
        display: block;
        padding-top: 116%;
      }
      &.assortment {
        color: @light-red;
        background-image: url(/assets/images/offer-assortiment.png);
      }
      &.cargo {
        color: @deep-blue;
        background-image: url(/assets/images/offer-cargo.png);
      }
      &.payment {
        color: @green;
        background-image: url(/assets/images/offer-payment.png);
      }
    }
  }
  &__greeting {
    font-family: Lobster;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 25px;
    div {
      &:first-child {
        color: @green;
      }
      &:last-child {
        color: @light-red;
      }
    }
  }
}
@media(min-width: 768px) {
  .current {
    &__offers {
      overflow: hidden;
      margin: 0 -25px 25px -25px;
      .offer {
        float: left;
        width: 33%;
        font-size: 1.5em;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center top;
        padding: 0 25px 0 25px;
        line-height: 1.2;
        margin: 0;
        background-size: initial;
        &:before {
          content: '';
          display: block;
          padding-top: 90%;
        }
        &.assortment {
          color: @light-red;
          background-image: url(/assets/images/offer-assortiment.png);
        }
        &.cargo {
          color: @deep-blue;
          background-image: url(/assets/images/offer-cargo.png);
        }
        &.payment {
          color: @green;
          background-image: url(/assets/images/offer-payment.png);
        }
      }
    }
    &__greeting {
      font-family: Lobster;
      font-size: 1.4em;
      text-align: center;
      margin-bottom: 25px;
      div {
        &:first-child {
          color: @green;
        }
        &:last-child {
          color: @light-red;
        }
      }
    }
  }
}
.greeting {
  font-family: Lobster;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 25px;
}
