@import "colors";
.item-full {

  h3 {

  }
  .date {
    font-size: 10px;
    line-height:12px;
    margin-bottom: 10px;
  }
  .main-image {
    overflow: hidden;
    width: 600px;
    height: 400px;
    border: solid 1px gray;
    padding: 6px;
    background: url(/assets/images/sf-menu-bg.gif) 0 0 #1c1c1c;
    margin: 0 auto 10px auto;
    .wrapper {
      width: 100%;
      height:100%;
      overflow: hidden;
      .wrapper {
        text-align: center;
        width:800px;
        height:400px;
        margin-left: -100px;
        img {
          height: 440px;
          width: auto;
        }
      }
    }
  }
  .photo-block {
    overflow: hidden;
    width: 100%;
    text-align: center;
    .image {
      overflow: hidden;
      width:100px;
      height:75px;
      border: solid 1px gray;
      padding:6px;
      background: url(/assets/images/sf-menu-bg.gif) 0 0 #1c1c1c;
      display: inline-block;
      margin: 4px;
      .wrapper {
        width: 100%;
        height:100%;
        overflow: hidden;
        .wrapper {
          text-align: center;
          width:150px;
          height:75px;
          margin-left: -25px;
          img {
            height: 75px;
            width: auto;
          }
        }
      }

    }
  }
  .content {
    text-align: justify;
    img {
      max-width: 100%;
      height: auto !important;
    }
  }
}
.item-full.typestaff {
  > .row {
    > div {
      padding-bottom: 6%;
    }
  }

  .item__title {
    color: #d34644;
    border-bottom: 1px solid #d34644;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2%;
  }
  .item__catalogue {
    color: #d34644;
    font-size: 1em;
    text-transform: lowercase;
    font-weight: 300;
    line-height: 1.2;
    margin-top: -2%;
    vertical-align: middle;
    i, a {
      vertical-align: text-bottom;
    }

  }
  .gallery {
    //border-radius: 8px;
    overflow: hidden;
    background-color: transparent;
    padding-top: 0;
    .nivoSlider {
        border-radius: 8px;
        border: 1px solid @dark-brown;
        overflow: hidden;
        position: relative;
    }
    .nivo-controlNav.nivo-thumbs-enabled {
      position: relative;
    }
    .nivo-controlNav.nivo-thumbs-enabled a {
      width: 18%;
      height: auto;
      opacity: 1;
      border-radius: 4px;
      border: 1px solid @dark-brown;
      box-shadow: none;
    }
  }
  .fields {
    padding: 1%;
    margin-bottom: 10px;
    color: @dark-brown;
    div {
      white-space: nowrap;
      .title {
        width: 50%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
        &:after {
          content: '..........................................';
          display: inline-block;
        }
      }
      .values {
        width: 50%;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  #capifields {
    border: solid 1px @lite-rose;
    padding: 1%;
    margin-bottom: 10px;
    &.error {
      border: solid 1px #ac2925;
      h4 {
        color: #ac2925;
      }
    }
    h4 {
      font-weight: 400;
      margin: 0 0 10px 0;
      font-size: 1em;
      color: #3a3a3a;
    }
    a {
      display: inline-block;
      border: 1px solid #C7C6C6;
      text-align: center;
      padding: 4%;
      line-height: 1.2;
      color: #3a3a3a;
      text-decoration: none;
      margin-bottom: 2%;
      &.active,&:hover {
        background-color: #f08844;
        color: #ffffff;
        border: 1px solid #f48b47;
      }
    }
  }
  .price-and-order {
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    > div {
      width: 33%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }
    &__head {
      display: block;
      text-align: center;
      color: @gray-blue;
      border: 1px solid @lite-rose;
      border-bottom-color: transparent;
      text-transform: uppercase;
      font-size: 0.9em;
      margin-bottom: 6%;
    }
    .price {
      &__content {
        color: @deep-blue;
        font-size: 1.6em;
        font-weight: 600;
        padding: 4% 0 0 0;
        line-height: 1.6;
        .old {
          display: block;
          font-size: 0.6em;
          span {
            text-decoration: line-through;
            &.discount {
              color: @dark-red;
              text-decoration: none;
            }
          }
        }
      }

      span {

      }
    }
    .quantity {
      &__content {
        padding: 4% 0 0 0;
        a {
          font-size: 2em;
          vertical-align: middle;
          &.quantity-minus {
            color: @green;
          }
          &.quantity-plus {
            color: @lite-rose;
          }
        }
        .input-wrapper {
          display: inline-block;
          vertical-align: middle;
          width: 3em;
          height: 3em;
          border: 1px solid @dark-red;
          border-radius: 50%;
          input {
            background-color: transparent;
            border: none;
            width: 100%;
            line-height: 1.5;
            text-align: center;
            font-size: 1.6em;
          }
        }

      }
    }
    .order {
      &__content {
        a {
          display: block;
          background-image: url("/assets/images/full-item-order.png");
          width: 40px;
          height: 53px;
          font-size: 0;
          margin: auto;
          &:hover {
            background-position: left -100%;
          }
        }
      }
    }
    &.no_items {
      .quantity, .order {
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }
  .discount-info {
    color: @deep-blue;
    span {
      color: @dark-red;
    }
  }
  .condition-info {
    color: #007a99;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4% 0 0 0;
    line-height: 1.6;
  }
  .tabs-block {
    .tabs {
      padding: 0 0 0 1%;
      z-index: 100;
      height: 50px;
      overflow: hidden;
      a {
        display: inline-block;
        width: 215px;
        height: 45px;
        position: relative;
        color: @lite-rose;
        text-transform: uppercase;
        &:before {
          content: '';
          background-image: url("/assets/images/tab-link-nonactive.png");
          height: 45px;
          width: 1130px;
          display: block;
          position: absolute;
          top: 0;
          left: -446px;
          z-index: 0;
          pointer-events: none;
        }
        div {
          position: relative;
          z-index: 1;
          text-align: center;
          line-height: 4;
        }
        &.active {
          z-index: 100;
          top: 2px;
          color: @dark-red;
          &:before {
            background-image: url("/assets/images/tab-link.png");
          }
        }
      }
    }
    .tab-content{
      display: none;
      padding: 1% 15px 1% 15px;
      position: relative;
      &.active {
        display: block;
      }
      &.reviews {
        label {
          color: #a64b4b;
          font-weight: normal;

        }
        #send-button {
          display: block;
          position: relative;
          color: #9a1a1a;
          line-height: 2.2;
          border: 1px solid #e89a99;
          border-radius: 1.4rem;
          background: #f1c5af;
          background: -moz-linear-gradient(top, #f1c5af 0%, #e79970 100%);
          background: -webkit-linear-gradient(top, #f1c5af 0%, #e79970 100%);
          background: linear-gradient(to bottom, #f1c5af 0%, #e79970 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1c5af', endColorstr='#e79970', GradientType=0);
          text-transform: uppercase;
          -moz-box-shadow: 0 0 10px #fff;
          -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
          margin: 2% 0 2% 0;
          padding: 0;
        }
        .reviews__list {
          .review {
            border-top: 1px solid #ffbbbb;
            padding-bottom: 2%;
            .name {
              color: #fc6666;
            }
            .message {
              .date {
                color: #fc6666;
                line-height: 1;
                font-size: 1em;
                margin: 0;
              }
            }
            .answer {
              > div {
                position: relative;
                margin: 2% 2% 0 10%;
                font-size: 0.9em;
                border-radius: 4px;
                border: 1px solid #fc6666;
                padding: 1% 1% 1% 2%;
                &:before {
                  position: absolute;
                  left: 0%;
                  top: 0;
                  background-color: #ffffff;
                  border-top: 1px solid #fc6666;
                  border-right: 1px solid #fc6666;
                  content: '';
                  width: 10px;
                  height: 10px;
                  transform: rotate(-135deg);
                  margin-left: -6px;
                  margin-top: 12px;
                }
                .date {
                  color: #fc6666;
                  line-height: 1;
                  font-size: 1em;
                  margin: 0;
                }
              }
            }
          }
        }
      }
      &.content {
        a {
          color: @dark-red;
        }
      }
    }
  }
  .description {
    color: #8a8989;
    padding-bottom: 2%;
  }
  .content {
    color: #3a3a3a;
    padding-bottom: 2%;
  }
  @media (min-width: 768px) {
    > .row {
      > div {
        padding-bottom: 15px;
      }
    }
  }
}