.item-full .date {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}
.item-full .main-image {
  overflow: hidden;
  width: 600px;
  height: 400px;
  border: solid 1px gray;
  padding: 6px;
  background: url(/assets/images/sf-menu-bg.gif) 0 0 #1c1c1c;
  margin: 0 auto 10px auto;
}
.item-full .main-image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item-full .main-image .wrapper .wrapper {
  text-align: center;
  width: 800px;
  height: 400px;
  margin-left: -100px;
}
.item-full .main-image .wrapper .wrapper img {
  height: 440px;
  width: auto;
}
.item-full .photo-block {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.item-full .photo-block .image {
  overflow: hidden;
  width: 100px;
  height: 75px;
  border: solid 1px gray;
  padding: 6px;
  background: url(/assets/images/sf-menu-bg.gif) 0 0 #1c1c1c;
  display: inline-block;
  margin: 4px;
}
.item-full .photo-block .image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item-full .photo-block .image .wrapper .wrapper {
  text-align: center;
  width: 150px;
  height: 75px;
  margin-left: -25px;
}
.item-full .photo-block .image .wrapper .wrapper img {
  height: 75px;
  width: auto;
}
.item-full .content {
  text-align: justify;
}
.item-full .content img {
  max-width: 100%;
  height: auto !important;
}
.item-full.typestaff > .row > div {
  padding-bottom: 6%;
}
.item-full.typestaff .item__title {
  color: #d34644;
  border-bottom: 1px solid #d34644;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 2%;
}
.item-full.typestaff .item__catalogue {
  color: #d34644;
  font-size: 1em;
  text-transform: lowercase;
  font-weight: 300;
  line-height: 1.2;
  margin-top: -2%;
  vertical-align: middle;
}
.item-full.typestaff .item__catalogue i,
.item-full.typestaff .item__catalogue a {
  vertical-align: text-bottom;
}
.item-full.typestaff .gallery {
  overflow: hidden;
  background-color: transparent;
  padding-top: 0;
}
.item-full.typestaff .gallery .nivoSlider {
  border-radius: 8px;
  border: 1px solid #b03030;
  overflow: hidden;
  position: relative;
}
.item-full.typestaff .gallery .nivo-controlNav.nivo-thumbs-enabled {
  position: relative;
}
.item-full.typestaff .gallery .nivo-controlNav.nivo-thumbs-enabled a {
  width: 18%;
  height: auto;
  opacity: 1;
  border-radius: 4px;
  border: 1px solid #b03030;
  box-shadow: none;
}
.item-full.typestaff .fields {
  padding: 1%;
  margin-bottom: 10px;
  color: #b03030;
}
.item-full.typestaff .fields div {
  white-space: nowrap;
}
.item-full.typestaff .fields div .title {
  width: 50%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.item-full.typestaff .fields div .title:after {
  content: '..........................................';
  display: inline-block;
}
.item-full.typestaff .fields div .values {
  width: 50%;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}
.item-full.typestaff #capifields {
  border: solid 1px #ffb0b0;
  padding: 1%;
  margin-bottom: 10px;
}
.item-full.typestaff #capifields.error {
  border: solid 1px #ac2925;
}
.item-full.typestaff #capifields.error h4 {
  color: #ac2925;
}
.item-full.typestaff #capifields h4 {
  font-weight: 400;
  margin: 0 0 10px 0;
  font-size: 1em;
  color: #3a3a3a;
}
.item-full.typestaff #capifields a {
  display: inline-block;
  border: 1px solid #C7C6C6;
  text-align: center;
  padding: 4%;
  line-height: 1.2;
  color: #3a3a3a;
  text-decoration: none;
  margin-bottom: 2%;
}
.item-full.typestaff #capifields a.active,
.item-full.typestaff #capifields a:hover {
  background-color: #f08844;
  color: #ffffff;
  border: 1px solid #f48b47;
}
.item-full.typestaff .price-and-order {
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}
.item-full.typestaff .price-and-order > div {
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.item-full.typestaff .price-and-order__head {
  display: block;
  text-align: center;
  color: #44636b;
  border: 1px solid #ffb0b0;
  border-bottom-color: transparent;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 6%;
}
.item-full.typestaff .price-and-order .price__content {
  color: #007a99;
  font-size: 1.6em;
  font-weight: 600;
  padding: 4% 0 0 0;
  line-height: 1.6;
}
.item-full.typestaff .price-and-order .price__content .old {
  display: block;
  font-size: 0.6em;
}
.item-full.typestaff .price-and-order .price__content .old span {
  text-decoration: line-through;
}
.item-full.typestaff .price-and-order .price__content .old span.discount {
  color: #d34644;
  text-decoration: none;
}
.item-full.typestaff .price-and-order .quantity__content {
  padding: 4% 0 0 0;
}
.item-full.typestaff .price-and-order .quantity__content a {
  font-size: 2em;
  vertical-align: middle;
}
.item-full.typestaff .price-and-order .quantity__content a.quantity-minus {
  color: #7b9c3a;
}
.item-full.typestaff .price-and-order .quantity__content a.quantity-plus {
  color: #ffb0b0;
}
.item-full.typestaff .price-and-order .quantity__content .input-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 3em;
  border: 1px solid #d34644;
  border-radius: 50%;
}
.item-full.typestaff .price-and-order .quantity__content .input-wrapper input {
  background-color: transparent;
  border: none;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.6em;
}
.item-full.typestaff .price-and-order .order__content a {
  display: block;
  background-image: url("/assets/images/full-item-order.png");
  width: 40px;
  height: 53px;
  font-size: 0;
  margin: auto;
}
.item-full.typestaff .price-and-order .order__content a:hover {
  background-position: left -100%;
}
.item-full.typestaff .price-and-order.no_items .quantity,
.item-full.typestaff .price-and-order.no_items .order {
  opacity: 0.2;
  pointer-events: none;
}
.item-full.typestaff .discount-info {
  color: #007a99;
}
.item-full.typestaff .discount-info span {
  color: #d34644;
}
.item-full.typestaff .condition-info {
  color: #007a99;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4% 0 0 0;
  line-height: 1.6;
}
.item-full.typestaff .tabs-block .tabs {
  padding: 0 0 0 1%;
  z-index: 100;
  height: 50px;
  overflow: hidden;
}
.item-full.typestaff .tabs-block .tabs a {
  display: inline-block;
  width: 215px;
  height: 45px;
  position: relative;
  color: #ffb0b0;
  text-transform: uppercase;
}
.item-full.typestaff .tabs-block .tabs a:before {
  content: '';
  background-image: url("/assets/images/tab-link-nonactive.png");
  height: 45px;
  width: 1130px;
  display: block;
  position: absolute;
  top: 0;
  left: -446px;
  z-index: 0;
  pointer-events: none;
}
.item-full.typestaff .tabs-block .tabs a div {
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 4;
}
.item-full.typestaff .tabs-block .tabs a.active {
  z-index: 100;
  top: 2px;
  color: #d34644;
}
.item-full.typestaff .tabs-block .tabs a.active:before {
  background-image: url("/assets/images/tab-link.png");
}
.item-full.typestaff .tabs-block .tab-content {
  display: none;
  padding: 1% 15px 1% 15px;
  position: relative;
}
.item-full.typestaff .tabs-block .tab-content.active {
  display: block;
}
.item-full.typestaff .tabs-block .tab-content.reviews label {
  color: #a64b4b;
  font-weight: normal;
}
.item-full.typestaff .tabs-block .tab-content.reviews #send-button {
  display: block;
  position: relative;
  color: #9a1a1a;
  line-height: 2.2;
  border: 1px solid #e89a99;
  border-radius: 1.4rem;
  background: #f1c5af;
  background: -moz-linear-gradient(top, #f1c5af 0%, #e79970 100%);
  background: -webkit-linear-gradient(top, #f1c5af 0%, #e79970 100%);
  background: linear-gradient(to bottom, #f1c5af 0%, #e79970 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1c5af', endColorstr='#e79970', GradientType=0);
  text-transform: uppercase;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  margin: 2% 0 2% 0;
  padding: 0;
}
.item-full.typestaff .tabs-block .tab-content.reviews .reviews__list .review {
  border-top: 1px solid #ffbbbb;
  padding-bottom: 2%;
}
.item-full.typestaff .tabs-block .tab-content.reviews .reviews__list .review .name {
  color: #fc6666;
}
.item-full.typestaff .tabs-block .tab-content.reviews .reviews__list .review .message .date {
  color: #fc6666;
  line-height: 1;
  font-size: 1em;
  margin: 0;
}
.item-full.typestaff .tabs-block .tab-content.reviews .reviews__list .review .answer > div {
  position: relative;
  margin: 2% 2% 0 10%;
  font-size: 0.9em;
  border-radius: 4px;
  border: 1px solid #fc6666;
  padding: 1% 1% 1% 2%;
}
.item-full.typestaff .tabs-block .tab-content.reviews .reviews__list .review .answer > div:before {
  position: absolute;
  left: 0%;
  top: 0;
  background-color: #ffffff;
  border-top: 1px solid #fc6666;
  border-right: 1px solid #fc6666;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
  margin-left: -6px;
  margin-top: 12px;
}
.item-full.typestaff .tabs-block .tab-content.reviews .reviews__list .review .answer > div .date {
  color: #fc6666;
  line-height: 1;
  font-size: 1em;
  margin: 0;
}
.item-full.typestaff .tabs-block .tab-content.content a {
  color: #d34644;
}
.item-full.typestaff .description {
  color: #8a8989;
  padding-bottom: 2%;
}
.item-full.typestaff .content {
  color: #3a3a3a;
  padding-bottom: 2%;
}
@media (min-width: 768px) {
  .item-full.typestaff > .row > div {
    padding-bottom: 15px;
  }
}
