@import "awesome.css";
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latohairline.woff2') format('woff2'), url('/assets/fonts/latohairline.woff') format('woff'), url('/assets/fonts/latohairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latohairlineitalic.woff2') format('woff2'), url('/assets/fonts/latohairlineitalic.woff') format('woff'), url('/assets/fonts/latohairlineitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latothin.woff2') format('woff2'), url('/assets/fonts/latothin.woff') format('woff'), url('/assets/fonts/latothin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latothinitalic.woff2') format('woff2'), url('/assets/fonts/latothinitalic.woff') format('woff'), url('/assets/fonts/latothinitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latolight.woff2') format('woff2'), url('/assets/fonts/latolight.woff') format('woff'), url('/assets/fonts/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latolightitalic.woff2') format('woff2'), url('/assets/fonts/latolightitalic.woff') format('woff'), url('/assets/fonts/latolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latoregular.woff2') format('woff2'), url('/assets/fonts/latoregular.woff') format('woff'), url('/assets/fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latoitalic.woff2') format('woff2'), url('/assets/fonts/latoitalic.woff') format('woff'), url('/assets/fonts/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latomedium.woff2') format('woff2'), url('/assets/fonts/latomedium.woff') format('woff'), url('/assets/fonts/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latomediumitalic.woff2') format('woff2'), url('/assets/fonts/latomediumitalic.woff') format('woff'), url('/assets/fonts/latomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latosemibold.woff2') format('woff2'), url('/assets/fonts/latosemibold.woff') format('woff'), url('/assets/fonts/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latosemibolditalic.woff2') format('woff2'), url('/assets/fonts/latosemibolditalic.woff') format('woff'), url('/assets/fonts/latosemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latobold.woff2') format('woff2'), url('/assets/fonts/latobold.woff') format('woff'), url('/assets/fonts/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latobolditalic.woff2') format('woff2'), url('/assets/fonts/latobolditalic.woff') format('woff'), url('/assets/fonts/latobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latoheavy.woff2') format('woff2'), url('/assets/fonts/latoheavy.woff') format('woff'), url('/assets/fonts/latoheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latoheavyitalic.woff2') format('woff2'), url('/assets/fonts/latoheavyitalic.woff') format('woff'), url('/assets/fonts/latoheavyitalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latoblack.woff2') format('woff2'), url('/assets/fonts/latoblack.woff') format('woff'), url('/assets/fonts/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/latoblackitalic.woff2') format('woff2'), url('/assets/fonts/latoblackitalic.woff') format('woff'), url('/assets/fonts/latoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lobster';
  src: url('/assets/fonts/lobster.woff2') format('woff2'), url('/assets/fonts/lobster.woff') format('woff'), url('/assets/fonts/lobster.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/assets/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('/assets/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('/assets/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('/assets/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
a,
a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
  overflow: hidden;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
html {
  background-color: white;
  background-image: url(/assets/images/html-bgr.jpg);
  background-position: center top;
  position: relative;
  padding-bottom: 268px;
  min-height: 100%;
}
body {
  font-family: "Lato";
  color: #4d4d4d;
  font-size: 3.8vw;
  font-style: normal;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  background-color: transparent;
  padding-top: 20%;
}
label {
  color: #e85454;
  font-size: 1em;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 0 1em;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}
@media (min-width: 768px) {
  body {
    font-size: 13px;
    padding-top: 0;
  }
}
.margin-bottom {
  margin-bottom: 10px;
}
@media (min-width: 940px) {
  .margin-bottom {
    margin-bottom: 20px;
  }
}
@media (min-width: 940px) {
  .inline-column {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
h1 {
  font-size: 1.2em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #00abd6;
  margin: 6% 0 1% 0;
  font-weight: 400;
}
@media (min-width: 940px) {
  h1 {
    font-size: 1.2em;
  }
}
h2 {
  color: #e85454;
  line-height: 1.2;
  text-align: left;
  font-size: 1.4em;
  text-transform: none;
}
h2.green {
  color: #7b9c3a;
}
@media (min-width: 768px) {
  h2 {
    color: #e85454;
    line-height: 2;
    text-align: left;
    font-size: 2em;
    text-transform: none;
  }
  h2.green {
    color: #7b9c3a;
  }
}
h3 {
  font-size: 2.2em;
  line-height: 2em;
  text-transform: uppercase;
  border-bottom: 1px solid #fc6666;
  color: #fc6666;
  margin: 0 0 10px 0;
  font-weight: 400;
}
@media (min-width: 940px) {
  h3 {
    font-size: 1.2em;
  }
}
hr {
  border-top: 1px solid #ADADAD;
}
a:hover,
a:focus {
  text-decoration: none;
}
p,
li {
  margin: 0 0 10px;
}
.clearfix {
  float: none !important;
}
.error {
  color: #ff0000;
}
.hiddenheight {
  display: none;
}
.form-control {
  border-radius: 1.2em;
}
input[type="submit"],
.input-submit {
  display: block;
  width: 100%;
  background-color: #e6d8b9;
  font-size: 1em;
  border: 1px solid white;
  position: relative;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  height: 4em;
  border-radius: 2em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8dabc+0,d6ba7c+50,e8dabc+100 */

  background: #e8dabc;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e8dabc 0%, #d6ba7c 50%, #e8dabc 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #e8dabc 0%, #d6ba7c 50%, #e8dabc 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #e8dabc 0%, #d6ba7c 50%, #e8dabc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8dabc', endColorstr='#e8dabc', GradientType=0);
  /* IE6-9 */

  text-align: center;
}
input[type="submit"]:hover,
.input-submit:hover {
  color: white;
  border: 1px solid #ff8585;
}
input[type="submit"]:hover:before,
.input-submit:hover:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 2em;
  border: 1px solid white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb7d7d+0,e95757+100 */

  background: #fb7d7d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fb7d7d 0%, #e95757 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #fb7d7d 0%, #e95757 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #fb7d7d 0%, #e84242 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7d7d', endColorstr='#e95757', GradientType=0);
  /* IE6-9 */

}
input[type="submit"]:before,
.input-submit:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 2em;
  border: 1px solid white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb7d7d+0,e95757+100 */

  background: #fb7d7d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fb7d7d 0%, #e95757 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #fb7d7d 0%, #e95757 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #fb7d7d 0%, #e95757 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7d7d', endColorstr='#e95757', GradientType=0);
  /* IE6-9 */

}
input[type="submit"] span,
.input-submit span {
  position: relative;
  z-index: 1;
  display: block;
  top: -100%;
  vertical-align: middle;
  line-height: 3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */

  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */

}
.sub-input {
  margin: 0;
}
#screen-in-shadow {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.head {
  width: 100%;
  height: auto;
  padding-top: 20%;
  background-image: url(/assets/images/mobile-head.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
  position: fixed;
  left: 0;
  top: 0;
  margin-bottom: 0;
  z-index: 1006;
}
.head > .wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.head > .wrapper .logo {
  position: absolute;
  width: 43%;
  height: 70%;
  left: 3%;
  top: 22%;
  background-image: url(/assets/images/logo.png);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}
.head > .wrapper #basket {
  position: static;
}
.head > .wrapper #basket a.mobile-link {
  position: absolute;
  right: 36%;
  top: 25%;
  width: 9%;
  text-align: center;
  background-color: #dd453e;
  border: 1px solid white;
  border-radius: 0.4em;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.head > .wrapper #basket a.mobile-link.active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.head > .wrapper #basket a.mobile-link:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.head > .wrapper #basket .basket {
  font-size: 0.8em;
  line-height: 1;
  color: white;
  font-style: italic;
  white-space: nowrap;
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
}
.head > .wrapper #basket .basket:before {
  content: '';
  position: absolute;
}
.head > .wrapper #basket .basket div {
  display: inline-block;
  white-space: nowrap;
}
.head > .wrapper .hmenu {
  position: static;
}
.head > .wrapper .hmenu a.toggle-mobile-hidden {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 9%;
  text-align: center;
  background-color: #dd453e;
  border: 1px solid white;
  border-radius: 0.4em;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.head > .wrapper .hmenu a.toggle-mobile-hidden.active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.head > .wrapper .hmenu a.toggle-mobile-hidden:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.head > .wrapper .hmenu .wrapper {
  position: fixed;
  margin-top: 30%;
  width: 80%;
  height: auto;
  left: 10%;
  background-color: white;
  z-index: 1000;
  border: 1px solid #de6864;
  border-radius: 4px;
  padding-top: 10px;
  -webkit-transition: left 0.4s ease-out 0s;
  -moz-transition: left 0.4s ease-out 0s;
  -o-transition: left 0.4s ease-out 0s;
  transition: left 0.4s ease-out 0s;
}
.head > .wrapper .hmenu .wrapper.mobile-hidden {
  left: 100%;
}
.head > .wrapper .hmenu ul li {
  font-size: 1.2em;
  list-style: none;
}
@media (min-width: 768px) {
  .head {
    background-color: transparent;
    background-position: center top;
    background-image: url(/assets/images/head-bgr.png);
    background-size: auto;
    border-bottom: none;
    margin-bottom: -10px;
    padding-top: 0;
    position: relative;
  }
  .head > .wrapper {
    width: 992px;
    height: 279px;
    margin: auto;
    position: relative;
  }
  .head > .wrapper .logo {
    position: absolute;
    width: 274px;
    height: 79px;
    left: 335px;
    top: 15px;
    background-image: url(/assets/images/logo.png);
    background-position: left top;
    background-size: contain;
  }
  .head > .wrapper #basket {
    height: 47px;
    width: auto;
    position: absolute;
    left: 75px;
    top: 17px;
    overflow: hidden;
    -webkit-transition: transform 0.2s ease-out 0s;
    -moz-transition: transform 0.2s ease-out 0s;
    -o-transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    font-size: 0.9em;
  }
  .head > .wrapper #basket.active {
    transform: scale(1.2, 1.1);
  }
  .head > .wrapper #basket .basket {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 50px;
    padding-top: 10px;
    display: block;
    background-image: url(/assets/images/basket-bgr.png);
    background-repeat: no-repeat;
    background-position: left top;
    font-size: 1em;
    height: 50px;
    text-align: left;
    width: auto;
    line-height: normal;
  }
  .head > .wrapper #basket .basket.with-staff {
    background-image: url(/assets/images/basket-bgr-with-staff.png);
  }
  .head > .wrapper #basket .basket > div {
    display: block;
    font-weight: bold;
    font-style: italic;
    color: #ffb0b0;
  }
  .head > .wrapper #basket .basket span {
    color: white;
  }
  .head > .wrapper .hmenu {
    position: absolute;
    color: white;
    left: 103px;
    top: 125px;
    font-size: 1em;
    line-height: 1.2;
  }
  .head > .wrapper .hmenu .wrapper {
    position: static;
    margin: auto;
    background-color: transparent;
    border: none;
    width: auto;
  }
  .head > .wrapper .hmenu ul li {
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
  }
  .head > .wrapper .hmenu ul li a {
    padding: 1.6em 1.2em 0 1.2em;
    display: block;
  }
  .head > .wrapper .hmenu ul li.active {
    background-image: url(/assets/images/hmenu-active.png);
    background-position: center top;
    background-repeat: no-repeat;
    font-weight: 600;
  }
  .head > .wrapper .hmenu ul li:hover {
    background-image: url(/assets/images/hmenu-active.png);
    background-position: center top;
    background-repeat: no-repeat;
  }
}
.mainblock {
  width: 100%;
}
.mainblock .leftColumn a.toggle-mobile-hidden {
  position: fixed;
  left: 1%;
  margin-top: 1%;
  width: auto;
  text-align: center;
  background-color: #dd453e;
  border: 1px solid white;
  border-radius: 0.4em;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 1%;
  z-index: 1004;
}
.mainblock .leftColumn a.toggle-mobile-hidden i {
  font-size: 0;
}
.mainblock .leftColumn a.toggle-mobile-hidden.active i {
  font-size: 1em;
}
.mainblock .leftColumn .wrapper {
  position: fixed;
  margin-top: 5%;
  width: 80%;
  height: auto;
  left: 10%;
  max-height: 80vh;
  background-color: white;
  z-index: 1005;
  border: 1px solid #de6864;
  border-radius: 1.6em;
  -webkit-transition: left 0.4s ease-out 0s;
  -moz-transition: left 0.4s ease-out 0s;
  -o-transition: left 0.4s ease-out 0s;
  transition: left 0.4s ease-out 0s;
  overflow-x: hidden;
  overflow-y: auto;
}
.mainblock .leftColumn .wrapper.mobile-hidden {
  left: 100%;
}
.mainblock .leftColumn .search-form {
  width: 100%;
  position: relative;
  z-index: 100;
  background-color: #de6965;
  padding: 4% 2% 4% 4%;
}
.mainblock .leftColumn .search-form a.submit-upload {
  position: absolute;
  background: url(/assets/images/searchsend.png);
  width: 42px;
  height: 42px;
  left: auto;
  right: 1%;
  top: 0;
}
.mainblock .leftColumn .search-form a.submit-upload:hover {
  background-position: left 100%;
}
.mainblock .leftColumn .search-form input[type="text"] {
  position: relative;
  left: 0;
  top: 0;
  border: none;
  background-color: transparent;
  width: 140px;
  font-size: 1em;
  color: white;
  line-height: 2;
}
.mainblock .leftColumn .search-form input[type="text"]:-moz-placeholder {
  color: white;
}
.mainblock .leftColumn .search-form input[type="text"]::-webkit-input-placeholder {
  color: white;
}
@media (min-width: 768px) {
  .mainblock {
    width: 1040px;
  }
  .mainblock .leftColumn {
    width: 29%;
  }
  .mainblock .leftColumn .wrapper {
    position: static;
    height: auto;
    width: auto;
    overflow: visible;
    margin: 0;
    background: transparent;
    border: none;
    max-height: initial;
  }
  .mainblock .leftColumn .search-form {
    background: url(/assets/images/searchfon.png);
    width: 265px;
    height: 120px;
    position: relative;
    z-index: 100;
  }
  .mainblock .leftColumn .search-form a.submit-upload {
    position: absolute;
    background: url(/assets/images/searchsend.png);
    width: 42px;
    height: 42px;
    left: 214px;
    top: 60px;
  }
  .mainblock .leftColumn .search-form a.submit-upload:hover {
    background-position: left 100%;
  }
  .mainblock .leftColumn .search-form input[type="text"] {
    position: absolute;
    left: 66px;
    top: 60px;
    border: none;
    background-color: transparent;
    width: 140px;
    font-size: 1em;
    color: white;
    line-height: 1.4;
  }
  .mainblock .leftColumn .search-form input[type="text"]:-moz-placeholder {
    color: white;
  }
  .mainblock .leftColumn .search-form input[type="text"]::-webkit-input-placeholder {
    color: white;
  }
  .mainblock .rightColumn {
    width: 68%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .mainblock .leftColumn .search-form {
    margin-top: -50px;
  }
}
.catalogue-name {
  color: #d34644;
  border-bottom: 1px solid #d34644;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 2%;
}
.catalogue-name:empty {
  display: none;
}
.catalog,
#brends {
  margin-bottom: 10%;
  font-size: 1em;
}
.catalog .full-catalog,
#brends .full-catalog {
  height: 70px;
  width: 264px;
  font-family: Lato;
  font-size: 1em;
  line-height: 3;
  background-image: url(/assets/images/sectionmenufon2.png);
  position: relative;
  display: block;
  padding-top: 9%;
  padding-left: 10%;
  padding-right: 20%;
  color: #c9605f;
  text-transform: uppercase;
}
.catalog li,
#brends li {
  list-style-type: none;
  margin: 0;
}
.catalog > ul,
#brends > ul {
  padding: 0;
}
.catalog > ul > li,
#brends > ul > li {
  width: 264px;
  position: relative;
  list-style-type: none;
  margin-bottom: -10px;
}
.catalog > ul > li > .catalog__link,
#brends > ul > li > .catalog__link,
.catalog > ul > li > .field__link,
#brends > ul > li > .field__link {
  height: 70px;
  font-family: Lato;
  font-size: 1em;
  background-image: url(/assets/images/sectionmenufon2.png);
  position: relative;
}
.catalog > ul > li > .catalog__link:before,
#brends > ul > li > .catalog__link:before,
.catalog > ul > li > .field__link:before,
#brends > ul > li > .field__link:before {
  content: '';
  position: absolute;
  left: 31px;
  top: 17px;
  width: 13px;
  height: 13px;
  background-image: url(/assets/images/fi-0.png);
}
.catalog > ul > li > .catalog__link a,
#brends > ul > li > .catalog__link a,
.catalog > ul > li > .field__link a,
#brends > ul > li > .field__link a {
  display: inline-block;
  line-height: 3;
  padding-top: 10%;
  padding-left: 12%;
  width: 80%;
  color: #c9605f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.catalog > ul > li > .catalog__link a.expand,
#brends > ul > li > .catalog__link a.expand,
.catalog > ul > li > .field__link a.expand,
#brends > ul > li > .field__link a.expand {
  position: absolute;
  right: 10%;
  top: 53%;
  background-image: url(/assets/images/plusminus1.png);
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0;
}
.catalog > ul > li:nth-child(10n+1) > .catalog__link:before,
#brends > ul > li:nth-child(10n+1) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+1) > .field__link:before,
#brends > ul > li:nth-child(10n+1) > .field__link:before {
  background-image: url(/assets/images/fi-1.png);
}
.catalog > ul > li:nth-child(10n+2) > .catalog__link:before,
#brends > ul > li:nth-child(10n+2) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+2) > .field__link:before,
#brends > ul > li:nth-child(10n+2) > .field__link:before {
  background-image: url(/assets/images/fi-2.png);
}
.catalog > ul > li:nth-child(10n+3) > .catalog__link:before,
#brends > ul > li:nth-child(10n+3) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+3) > .field__link:before,
#brends > ul > li:nth-child(10n+3) > .field__link:before {
  background-image: url(/assets/images/fi-3.png);
}
.catalog > ul > li:nth-child(10n+4) > .catalog__link:before,
#brends > ul > li:nth-child(10n+4) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+4) > .field__link:before,
#brends > ul > li:nth-child(10n+4) > .field__link:before {
  background-image: url(/assets/images/fi-4.png);
}
.catalog > ul > li:nth-child(10n+5) > .catalog__link:before,
#brends > ul > li:nth-child(10n+5) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+5) > .field__link:before,
#brends > ul > li:nth-child(10n+5) > .field__link:before {
  background-image: url(/assets/images/fi-5.png);
}
.catalog > ul > li:nth-child(10n+6) > .catalog__link:before,
#brends > ul > li:nth-child(10n+6) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+6) > .field__link:before,
#brends > ul > li:nth-child(10n+6) > .field__link:before {
  background-image: url(/assets/images/fi-6.png);
}
.catalog > ul > li:nth-child(10n+7) > .catalog__link:before,
#brends > ul > li:nth-child(10n+7) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+7) > .field__link:before,
#brends > ul > li:nth-child(10n+7) > .field__link:before {
  background-image: url(/assets/images/fi-7.png);
}
.catalog > ul > li:nth-child(10n+8) > .catalog__link:before,
#brends > ul > li:nth-child(10n+8) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+8) > .field__link:before,
#brends > ul > li:nth-child(10n+8) > .field__link:before {
  background-image: url(/assets/images/fi-8.png);
}
.catalog > ul > li:nth-child(10n+9) > .catalog__link:before,
#brends > ul > li:nth-child(10n+9) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+9) > .field__link:before,
#brends > ul > li:nth-child(10n+9) > .field__link:before {
  background-image: url(/assets/images/fi-9.png);
}
.catalog > ul > li:nth-child(10n+10) > .catalog__link:before,
#brends > ul > li:nth-child(10n+10) > .catalog__link:before,
.catalog > ul > li:nth-child(10n+10) > .field__link:before,
#brends > ul > li:nth-child(10n+10) > .field__link:before {
  background-image: url(/assets/images/fi-10.png);
}
.catalog > ul > li ul,
#brends > ul > li ul {
  z-index: 100;
  margin-left: 4px;
  padding: 1% 0 6% 11%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfbf6+0,fcfbf6+69,fcfbf6+100&1+0,1+69,0+100 */

  background: -moz-linear-gradient(top, #fcfbf6 0%, #fcfbf6 69%, rgba(252, 251, 246, 0) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #fcfbf6 0%, #fcfbf6 69%, rgba(252, 251, 246, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #fcfbf6 0%, #fcfbf6 69%, rgba(252, 251, 246, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfbf6', endColorstr='#00fcfbf6', GradientType=0);
  /* IE6-9 */

}
.catalog > ul > li ul li .catalog__link a,
#brends > ul > li ul li .catalog__link a,
.catalog > ul > li ul li .field__link a,
#brends > ul > li ul li .field__link a {
  display: inline-block;
  line-height: 1.2;
  padding: 1% 0 1% 8%;
  width: 90%;
  color: #3b1313;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  margin: 1% 0 1% 0;
  border: 1px solid transparent;
}
.catalog > ul > li ul li .catalog__link a:before,
#brends > ul > li ul li .catalog__link a:before,
.catalog > ul > li ul li .field__link a:before,
#brends > ul > li ul li .field__link a:before {
  content: '';
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  left: 0.6em;
  top: 0.5em;
  border-radius: 50%;
  background-color: #b13231;
}
.catalog > ul > li ul li .catalog__link a:hover,
#brends > ul > li ul li .catalog__link a:hover,
.catalog > ul > li ul li .field__link a:hover,
#brends > ul > li ul li .field__link a:hover {
  background-color: white;
  border: 1px solid #fbe9e9;
  border-radius: 1em;
  color: #c9605f;
}
.field-menu a {
  display: block;
}
/*color: #e85454;
line-height: 1.2;
text-align: left;
font-size: 1.4em;
text-transform: none;*/
.catalog-full-description {
  position: relative;
  margin-bottom: 2%;
}
.catalog-full-description h2 {
  color: #e85454;
  line-height: 1.2;
  text-align: left;
  font-size: 1.4em;
  text-transform: none;
}
@media (min-width: 768px) {
  .catalog-full-description h2 {
    line-height: 2;
    font-size: 2em;
  }
}
.header {
  margin-left: 0;
  margin-right: 0;
  background-color: #3A3A3A;
}
@media (min-width: 940px) {
  .header {
    position: relative;
    margin-bottom: 10px;
    height: 38px;
    padding-bottom: 0;
  }
}
.header .phone {
  text-align: right;
  color: #fff;
  font-size: 1.2em;
  vertical-align: middle;
}
.header .phone:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}
@media (min-width: 940px) {
  .header .phone {
    font-size: 1.4em;
    text-align: right;
    height: 38px;
  }
}
.header_second {
  position: relative;
}
.header_second:before {
  padding-top: 20%;
  content: '';
  display: block;
  position: relative;
}
.header_second .hmenu_second {
  position: absolute;
  float: none;
  width: 80%;
  top: 60%;
  left: 0%;
}
.header_second .hmenu_second ul {
  display: table;
}
.header_second .hmenu_second ul li {
  width: auto;
  display: table-cell;
}
.header_second .hmenu_second ul li#menu-item-7 {
  display: none;
}
.header_second .hmenu_second ul li a {
  color: #8a8989;
  padding: 1%;
  white-space: nowrap;
}
.header_second .hmenu_second ul li a:hover {
  background-color: transparent;
  color: #F48B47;
}
.header_second #basket {
  width: 70%;
  position: absolute;
  left: 34%;
  top: 18%;
  overflow: hidden;
  -webkit-transition: transform 0.2s ease-out 0s;
  -moz-transition: transform 0.2s ease-out 0s;
  -o-transition: transform 0.2s ease-out 0s;
  transition: transform 0.2s ease-out 0s;
}
.header_second #basket:before {
  padding-top: 10%;
  content: '';
  display: block;
  position: relative;
}
.header_second #basket.active {
  transform: scale(1.2, 1.1);
}
.header_second #basket:hover {
  background-position: left 100%;
}
.header_second #basket .basket {
  position: absolute;
  left: 0%;
  top: 0%;
  color: #4d4d4d;
  width: 100%;
}
.header_second #basket .basket > div {
  display: inline-block;
}
.header_second #basket .basket span {
  color: #f48b47;
}
@media (min-width: 768px) {
  .header_second {
    position: relative;
  }
  .header_second:before {
    padding-top: 10%;
    content: '';
    display: block;
    position: relative;
  }
  .header_second .logo {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
  }
  .header_second .hmenu_second {
    position: absolute;
    float: none;
    width: 40%;
    top: 22%;
    left: 30%;
  }
  .header_second .hmenu_second ul li {
    width: auto;
    display: table-cell;
  }
  .header_second .hmenu_second ul li#menu-item-7 {
    display: none;
  }
  .header_second .hmenu_second ul li a {
    color: #8a8989;
  }
  .header_second .hmenu_second ul li a:hover {
    background-color: transparent;
    color: #F48B47;
  }
}
#mobile-menu-switcher {
  position: absolute;
  right: 4%;
  bottom: 18%;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/assets/images/footer.png);
  background-position: center bottom;
  height: 268px;
  width: 100%;
  overflow: hidden;
  padding-top: 52px;
}
.footer .wrapper {
  width: 1040px;
  height: 268px;
  margin: auto;
  position: relative;
}
.footer h2 {
  color: #898885;
  font-family: "Clear Sans";
  font-size: 1.2em;
  line-height: 1.2em;
}
.footer .logo {
  position: absolute;
  width: 274px;
  height: 79px;
  left: 356px;
  top: 78px;
  background-image: url(/assets/images/logo.png);
  background-position: left top;
  background-size: contain;
}
.footer .contacts {
  position: absolute;
  left: 30px;
  top: 68px;
}
.footer .contacts .info {
  font-size: 1.4em;
  color: #FFFFFF;
  vertical-align: middle;
  white-space: nowrap;
}
.footer .contacts .info:before {
  content: '';
  display: inline-block;
  position: relative;
  margin-right: 1%;
  width: 1.2em;
  height: 1.6em;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer .contacts .info.phone:before {
  background-image: url('/assets/images/contacts-phone.png');
}
.footer .contacts .info.email:before {
  background-image: url('/assets/images/contacts-post.png');
}
.footer .contacts .info.address:before {
  background-image: url('/assets/images/contacts-geo.png');
}
.footer .contacts .info.copyrights {
  color: #f48b47;
}
.footer .social-links {
  position: absolute;
  left: 833px;
  top: 74px;
}
.footer .social-links a {
  background-image: url("/assets/images/link-soc-instagramm.png");
  width: 36px;
  height: 36px;
  display: inline-block;
  border: 1px solid #ffdbdb;
  border-radius: 50%;
}
.footer .social-links a:hover {
  background-position: left -100%;
  background-color: #3b5998;
}
.footer .counter {
  position: absolute;
  left: 931px;
  top: 136px;
  width: 88px;
  height: 40px;
  background-image: url(/assets/images/counter.jpg);
}
.footer .other-resource-link {
  color: white;
  font-size: 1.4em;
  position: absolute;
  bottom: 82px;
  width: 100%;
  text-align: center;
}
.paginator {
  clear: both;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #2c739d;
  text-align: center;
}
.paginator div.pages {
  display: inline-block;
  text-align: center;
  float: none;
  margin: 5px auto 5px auto;
  width: auto;
  padding: 5px;
  font-size: 1.6em;
}
.paginator div.pages a {
  text-decoration: none;
  padding: 5px 7px;
  margin: 2px;
  color: #ffb0b0;
  vertical-align: middle;
}
.paginator div.pages a:hover {
  color: #d34644;
}
.paginator div.pages a.left {
  display: inline-block;
  font-size: 0;
}
.paginator div.pages a.left:before {
  font-family: FontAwesome;
  content: "\f104";
  font-size: 5rem;
}
.paginator div.pages a.right {
  display: inline-block;
  font-size: 0;
}
.paginator div.pages a.right:before {
  font-family: FontAwesome;
  content: "\f105";
  font-size: 5rem;
}
.paginator div.pages span.selected {
  text-decoration: none;
  padding: 6px 8px;
  margin: 2px;
  font-family: Tahoma, Arial;
  color: #d34644;
  vertical-align: middle;
}
.paginator div.navilink {
  color: gray;
}
.sitemessage {
  margin: 0 55px 0 15px;
  font-family: Tahoma, Arial;
  font-size: 14px;
  font-weight: normal;
  color: #2c739d;
  text-align: justify;
}
.gallery {
  width: 100%;
  padding-top: 28%;
  border-radius: 0px;
  background-color: white;
  margin-bottom: 20px;
}
.gallery .nivoSlider {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
#basket-list .items {
  margin-bottom: 20px;
}
#basket-list .item {
  padding-top: 1%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #basket-list .item {
    margin-bottom: 0px;
  }
}
#basket-list .item .image {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 6px;
  background-color: #D6D7DE;
}
#basket-list .item .image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#basket-list .item .image .wrapper .wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
}
#basket-list .item .image .wrapper .wrapper img {
  height: auto;
  width: 100%;
}
#basket-list .item h3 {
  border: none;
  color: #f48b47;
  font-size: 1.2em;
}
#basket-list .item .price .discount-price {
  color: #2c739d;
}
#basket-list .item .price .old-price {
  text-decoration: line-through;
}
#basket-list .item .quantity {
  padding: 4% 0 0 0;
}
#basket-list .item .quantity a {
  font-size: 2em;
  vertical-align: middle;
}
#basket-list .item .quantity a.quantity-minus {
  color: #7b9c3a;
}
#basket-list .item .quantity a.quantity-plus {
  color: #ffb0b0;
}
#basket-list .item .quantity .input-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 3em;
  border: 1px solid #d34644;
  border-radius: 50%;
  text-align: center;
  line-height: 3em;
}
#basket-list .item .quantity .input-wrapper input {
  background-color: transparent;
  border: none;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.6em;
}
#basket-list .item .hr {
  padding-top: 1%;
  clear: both;
}
#basket-list .item .hr hr {
  margin: 0;
}
#basket-list .sum {
  font-size: 1.2em;
  line-height: 2;
  color: #b03030;
  font-weight: 300;
  text-align: center;
  margin: 2% 0 2% 0;
}
#confirm-form fieldset.shipping .radio label {
  color: #3A3A3A;
}
#confirm-form fieldset.shipping .price {
  color: #4d4d4d;
}
#confirm-form .basket {
  border: solid 1px #fc6666;
}
#confirm-form .basket .header {
  border-bottom: solid 1px #fc6666;
  background-color: #f7f6ed;
  margin: 0;
  height: auto;
  padding: 2%;
  color: #f48b47;
}
#confirm-form .basket .item {
  border-bottom: solid 1px #fc6666;
  position: relative;
  overflow: hidden;
}
#confirm-form .basket .item:before {
  content: '';
  display: block;
  padding-top: 22%;
  position: relative;
  float: left;
}
#confirm-form .basket .item .image {
  position: absolute;
  border: solid 1px #D6D7DE;
  left: 2%;
  top: 10%;
  width: 20%;
  overflow: hidden;
}
#confirm-form .basket .item .image:before {
  content: '';
  display: block;
  padding-top: 90%;
  position: relative;
}
#confirm-form .basket .item .image .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#confirm-form .basket .item .image .wrapper img {
  width: 100%;
  height: auto;
}
#confirm-form .basket .item .content {
  margin-left: 20%;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}
#confirm-form .basket .item .content h3 {
  position: relative;
  border: none;
  font-size: 1em;
  line-height: normal;
  margin: 0;
  color: #4d4d4d;
  font-weight: 400;
}
#confirm-form .basket .item .content .price {
  font-size: 1em;
  line-height: normal;
}
#confirm-form .basket .sum {
  background-color: #f7f6ed;
  padding: 2%;
}
#confirm-form .basket .sum span {
  color: #2c739d;
}
.register-user-block label {
  margin-left: 15px;
}
.register-user-block .form-group {
  margin-bottom: 30px;
}
.register-user-block label.error {
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: -15px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.register-user-block input.error {
  border-color: #ff0000;
}
#reviews label {
  color: #a64b4b;
  font-weight: normal;
}
#reviews .reviews__list .review {
  padding: 1% 0 1% 0;
}
#reviews .reviews__list .review .name {
  color: #e85454;
  font-size: 1.2em;
}
#reviews .reviews__list .review .message {
  color: #44636b;
}
#reviews .reviews__list .review .message .date {
  color: #fc6666;
  line-height: 1;
  font-size: 1em;
  margin: 0;
}
#reviews .reviews__list .review .answer > div {
  position: relative;
  margin: 2% 2% 0 10%;
  font-size: 0.9em;
  border-radius: 4px;
  border: 1px solid #fc6666;
  padding: 1% 1% 1% 2%;
}
#reviews .reviews__list .review .answer > div:before {
  position: absolute;
  left: 0%;
  top: 0;
  background-color: #ffffff;
  border-top: 1px solid #fc6666;
  border-right: 1px solid #fc6666;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
  margin-left: -6px;
  margin-top: 12px;
}
#reviews .reviews__list .review .answer > div .date {
  color: #fc6666;
  line-height: 1;
  font-size: 1em;
  margin: 0;
}
#reviews .reviews__list .divider hr {
  border: none;
  background-color: transparent;
  height: 1px;
  border-bottom: 2px dotted #ea6d6b;
}
