@import "colors.less";
@import "awesome.css";
@import "fonts.less";

* {
  box-sizing: border-box;
}

a, a:hover, a:active, a:focus {
  color: inherit;
  outline: none;
}

input, textarea {
  outline: none;
}
input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: hidden;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

html {
  background-color: white;
  background-image: url(/assets/images/html-bgr.jpg);
  background-position: center top;
  position: relative;
  padding-bottom: 268px;
  min-height: 100%;
}

body {
  font-family: "Lato";
  color: @primary-color;
  font-size: 3.8vw;
  font-style: normal;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  background-color: transparent;
  padding-top: 20%;

}

label {
  color: @light-red;
  font-size: 1em;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 0 1em;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 768px) {
  body {
    font-size: 13px;
    padding-top: 0;
  }
}

.margin-bottom {
  @media (min-width: 940px) {
    margin-bottom: 20px;
  }
  margin-bottom: 10px;
}

.inline-column {
  @media (min-width: 940px) {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

h1 {
  font-size: 1.2em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #00abd6;
  margin: 6% 0 1% 0;;
  font-weight: 400;
  @media (min-width: 940px) {
    font-size: 1.2em;
  }
}

h2 {
  color: @light-red;
  line-height: 1.2;
  text-align: left;
  font-size: 1.4em;
  text-transform: none;
  &.green {
    color: @green;
  }
}
@media(min-width: 768px) {
  h2 {
    color: @light-red;
    line-height: 2;
    text-align: left;
    font-size: 2em;
    text-transform: none;
    &.green {
      color: @green;
    }
  }
}

h3 {
  font-size: 2.2em;
  line-height: 2em;
  text-transform: uppercase;
  border-bottom: 1px solid #fc6666;
  color: #fc6666;
  margin: 0 0 10px 0;
  font-weight: 400;
  @media (min-width: 940px) {
    font-size: 1.2em;
  }
}

hr {
  border-top: 1px solid #ADADAD;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

p, li {
  margin: 0 0 10px;
}

.clearfix {
  float: none !important;
}

.error {
  color: #ff0000;
}

.hiddenheight {
  display: none;
}

.form-control {
  border-radius: 1.2em;
}

input[type="submit"], .input-submit {
  display: block;
  width: 100%;
  background-color: #e6d8b9;
  font-size: 1em;
  border: 1px solid white;
  position: relative;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  height: 4em;
  border-radius: 2em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8dabc+0,d6ba7c+50,e8dabc+100 */
  background: rgb(232, 218, 188); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(232, 218, 188, 1) 0%, rgba(214, 186, 124, 1) 50%, rgba(232, 218, 188, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(232, 218, 188, 1) 0%, rgba(214, 186, 124, 1) 50%, rgba(232, 218, 188, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(232, 218, 188, 1) 0%, rgba(214, 186, 124, 1) 50%, rgba(232, 218, 188, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8dabc', endColorstr='#e8dabc', GradientType=0); /* IE6-9 */
  text-align: center;
  &:hover {
    color: white;
    border: 1px solid #ff8585;
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 2em;
      border: 1px solid white;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb7d7d+0,e95757+100 */
      background: rgb(251, 125, 125); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(251, 125, 125, 1) 0%, rgba(233, 87, 87, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(251, 125, 125, 1) 0%, rgba(233, 87, 87, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(251, 125, 125, 1) 0%, rgba(232, 66, 66, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7d7d', endColorstr='#e95757', GradientType=0); /* IE6-9 */
    }
  }
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 2em;
    border: 1px solid white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb7d7d+0,e95757+100 */
    background: rgb(251, 125, 125); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 125, 125, 1) 0%, rgba(233, 87, 87, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(251, 125, 125, 1) 0%, rgba(233, 87, 87, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(251, 125, 125, 1) 0%, rgba(233, 87, 87, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7d7d', endColorstr='#e95757', GradientType=0); /* IE6-9 */
  }
  span {
    position: relative;
    z-index: 1;
    display: block;
    top: -100%;
    vertical-align: middle;
    line-height: 3;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sub-input {
  margin: 0;
}
#screen-in-shadow {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.head {
  width: 100%;
  height: auto;
  padding-top: 20%;
  background-image: url(/assets/images/mobile-head.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
  position: fixed;
  left: 0;
  top: 0;
  margin-bottom: 0;
  z-index: 1006;

  > .wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    .logo {
      position: absolute;
      width: 43%;
      height: 70%;
      left: 3%;
      top: 22%;
      background-image: url(/assets/images/logo.png);
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;
    }
    #basket {
      position: static;
      a.mobile-link {
        position: absolute;
        right: 36%;
        top: 25%;
        width: 9%;
        text-align: center;
        background-color: #dd453e;
        border: 1px solid white;
        border-radius: 0.4em;
        color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        &.active {
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
        }
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          padding-top: 100%;
        }
        i {

        }
      }
      .basket {
        &:before {
          content: '';
          position: absolute;
        }
        font-size: 0.8em;
        line-height: 1;
        color: white;
        font-style: italic;
        white-space: nowrap;
        position: absolute;
        top: 80%;
        width: 100%;
        text-align: center;
        div {
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
    .hmenu {
      position: static;
      a.toggle-mobile-hidden {
        position: absolute;
        right: 5%;
        top: 25%;
        width: 9%;
        text-align: center;
        background-color: #dd453e;
        border: 1px solid white;
        border-radius: 0.4em;
        color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        &.active {
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
        }
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          padding-top: 100%;
        }
        i {

        }
      }
      .wrapper {
        position: fixed;
        margin-top: 30%;
        width: 80%;
        height: auto;
        left: 10%;
        background-color: white;
        z-index: 1000;
        border: 1px solid #de6864;
        border-radius: 4px;
        padding-top: 10px;
        -webkit-transition: left 0.4s ease-out 0s;
        -moz-transition: left 0.4s ease-out 0s;
        -o-transition: left 0.4s ease-out 0s;
        transition: left 0.4s ease-out 0s;
        &.mobile-hidden {
          left: 100%;
        }
      }
      ul {
        li {
          font-size: 1.2em;
          list-style: none;
        }
      }
    }
  }
  @media (min-width: 768px) {
    background-color: transparent;
    background-position: center top;
    background-image: url(/assets/images/head-bgr.png);
    background-size: auto;
    border-bottom: none;
    margin-bottom: -10px;
    padding-top: 0;
    position: relative;
    > .wrapper {
      width: 992px;
      height: 279px;
      margin: auto;
      position: relative;
      .logo {
        position: absolute;
        width: 274px;
        height: 79px;
        left: 335px;
        top: 15px;
        background-image: url(/assets/images/logo.png);
        background-position: left top;
        background-size: contain;
      }
      #basket {
        height: 47px;
        width: auto;
        position: absolute;
        left: 75px;
        top: 17px;
        overflow: hidden;
        -webkit-transition: transform 0.2s ease-out 0s;
        -moz-transition: transform 0.2s ease-out 0s;
        -o-transition: transform 0.2s ease-out 0s;
        transition: transform 0.2s ease-out 0s;
        font-size: 0.9em;
        &.active {
          transform: scale(1.2, 1.1);

        }
        &:hover {

        }
        .basket {
          position: relative;
          left: 0;
          top: 0;
          padding-left: 50px;
          padding-top: 10px;
          display: block;
          background-image: url(/assets/images/basket-bgr.png);
          background-repeat: no-repeat;
          background-position: left top;
          font-size: 1em;
          height: 50px;
          text-align: left;
          width: auto;
          line-height: normal;
          &.with-staff {
            background-image: url(/assets/images/basket-bgr-with-staff.png);
          }
          > div {
            display: block;
            font-weight: bold;
            font-style: italic;
            color: @lite-rose;
          }
          span {
            color: white;
          }
        }
      }
      .hmenu {
        position: absolute;
        color: white;
        left: 103px;
        top: 125px;
        font-size: 1em;
        line-height: 1.2;
        .wrapper {
          position: static;
          margin: auto;
          background-color: transparent;
          border: none;
          width: auto;
        }
        ul {
          li {
            color: white;
            display: inline-block;
            text-transform: uppercase;
            font-size: 1em;
            a {
              padding: 1.6em 1.2em 0 1.2em;
              display: block;
            }
            &.active {
              background-image: url(/assets/images/hmenu-active.png);
              background-position: center top;
              background-repeat: no-repeat;
              font-weight: 600;
            }
            &:hover {
              background-image: url(/assets/images/hmenu-active.png);
              background-position: center top;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

.mainblock {
  width: 100%;
  .leftColumn {
      a.toggle-mobile-hidden {
        position: fixed;
        left: 1%;
        margin-top: 1%;
        width: auto;
        text-align: center;
        background-color: #dd453e;
        border: 1px solid white;
        border-radius: 0.4em;
        color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        padding: 1%;
        z-index: 1004;
        i {
          font-size: 0;
        }
        &.active {
          i {
            font-size: 1em;
          }
        }
      }
      .wrapper {
        position: fixed;
        margin-top: 5%;
        width: 80%;
        height: auto;
        left: 10%;
        max-height: 80vh;
        background-color: white;
        z-index: 1005;
        border: 1px solid #de6864;
        border-radius: 1.6em;
        -webkit-transition: left 0.4s ease-out 0s;
        -moz-transition: left 0.4s ease-out 0s;
        -o-transition: left 0.4s ease-out 0s;
        transition: left 0.4s ease-out 0s;
        overflow-x: hidden;
        overflow-y: auto;
        &.mobile-hidden {
          left: 100%;
        }
      }
    .search-form {
      width: 100%;
      position: relative;
      z-index: 100;
      background-color: #de6965;
      padding: 4% 2% 4% 4%;

      a.submit-upload {
        position: absolute;
        background: url(/assets/images/searchsend.png);
        width: 42px;
        height: 42px;
        left: auto;
        right: 1%;
        top: 0;
        &:hover {
          background-position: left 100%;
        }
      }
      input[type="text"] {
        position: relative;
        left: 0;
        top: 0;
        border: none;
        background-color: transparent;
        width: 140px;
        font-size: 1em;
        color: white;
        line-height: 2;
        &:-moz-placeholder {
          color: white;
        }
        &::-webkit-input-placeholder {
          color: white;
        }
      }
    }
  }

  @media(min-width: 768px) {
    width: 1040px;
    .leftColumn {
      width: 29%;
      .wrapper {
        position: static;
        height: auto;
        width: auto;
        overflow: visible;
        margin: 0;
        background: transparent;
        border: none;
        max-height: initial;
      }
      .search-form {
        background: url(/assets/images/searchfon.png);
        width: 265px;
        height: 120px;
        position: relative;
        z-index: 100;
        @media (min-width: 768px) {
          margin-top: -50px;
        }
        a.submit-upload {
          position: absolute;
          background: url(/assets/images/searchsend.png);
          width: 42px;
          height: 42px;
          left: 214px;
          top: 60px;
          &:hover {
            background-position: left 100%;
          }
        }
        input[type="text"] {
          position: absolute;
          left: 66px;
          top: 60px;
          border: none;
          background-color: transparent;
          width: 140px;
          font-size: 1em;
          color: white;
          line-height: 1.4;
          &:-moz-placeholder {
            color: white;
          }
          &::-webkit-input-placeholder {
            color: white;
          }
        }
      }
    }
    .rightColumn {
      width: 68%;
    }
  }
}

.catalogue-name {
  color: #d34644;
  border-bottom: 1px solid #d34644;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 2%;
  &:empty {
    display: none;
  }
}



.catalog, #brends {
  margin-bottom: 10%;
  font-size: 1em;
  .full-catalog {
    height: 70px;
    width: 264px;
    font-family: Lato;
    font-size: 1em;
    line-height: 3;
    background-image: url(/assets/images/sectionmenufon2.png);
    position: relative;
    display: block;
    padding-top: 9%;
    padding-left: 10%;
    padding-right: 20%;
    color: #c9605f;
    text-transform: uppercase;
  }
  li {
    list-style-type: none;
    margin: 0;
  }
  > ul {
    padding: 0;
    > li {
      width: 264px;
      position: relative;
      list-style-type: none;
      margin-bottom: -10px;
      > .catalog__link, > .field__link {
        height: 70px;
        font-family: Lato;
        font-size: 1em;
        background-image: url(/assets/images/sectionmenufon2.png);
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 31px;
          top: 17px;
          width: 13px;
          height: 13px;
          background-image: url(/assets/images/fi-0.png);
        }
        a {
          display: inline-block;
          line-height: 3;
          padding-top: 10%;
          padding-left: 12%;
          width: 80%;
          color: #c9605f;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
        }
        a.expand {
          position: absolute;
          right: 10%;
          top: 53%;
          background-image: url(/assets/images/plusminus1.png);
          width: 17px;
          height: 14px;
          background-repeat: no-repeat;
          background-position: left top;
          padding: 0;
        }
      }
      &:nth-child(10n+1) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-1.png);
          }
        }
      }
      &:nth-child(10n+2) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-2.png);
          }
        }
      }
      &:nth-child(10n+3) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-3.png);
          }
        }
      }
      &:nth-child(10n+4) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-4.png);
          }
        }
      }
      &:nth-child(10n+5) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-5.png);
          }
        }
      }
      &:nth-child(10n+6) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-6.png);
          }
        }
      }
      &:nth-child(10n+7) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-7.png);
          }
        }
      }
      &:nth-child(10n+8) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-8.png);
          }
        }
      }
      &:nth-child(10n+9) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-9.png);
          }
        }
      }
      &:nth-child(10n+10) {
        > .catalog__link, > .field__link {
          &:before {
            background-image: url(/assets/images/fi-10.png);
          }
        }
      }
      ul {
        z-index: 100;
        margin-left: 4px;
        padding: 1% 0 6% 11%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfbf6+0,fcfbf6+69,fcfbf6+100&1+0,1+69,0+100 */
        background: -moz-linear-gradient(top, rgba(252, 251, 246, 1) 0%, rgba(252, 251, 246, 1) 69%, rgba(252, 251, 246, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(252, 251, 246, 1) 0%, rgba(252, 251, 246, 1) 69%, rgba(252, 251, 246, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(252, 251, 246, 1) 0%, rgba(252, 251, 246, 1) 69%, rgba(252, 251, 246, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfbf6', endColorstr='#00fcfbf6', GradientType=0); /* IE6-9 */

        li {
          .catalog__link, .field__link {
            a {
              display: inline-block;
              line-height: 1.2;
              padding: 1% 0 1% 8%;
              width: 90%;
              color: #3b1313;
              text-transform: uppercase;
              vertical-align: middle;
              position: relative;
              margin: 1% 0 1% 0;
              border: 1px solid transparent;
              &:before {
                content: '';
                position: absolute;
                width: 0.4em;
                height: 0.4em;
                left: 0.6em;
                top: 0.5em;
                border-radius: 50%;
                background-color: #b13231;
              }
              &:hover {
                background-color: white;
                border: 1px solid #fbe9e9;
                border-radius: 1em;
                color: #c9605f;
                &:before {

                }
              }
            }
          }
        }
      }
    }
  }
}

.field-menu {
  a {
    display: block;
  }
}
/*color: #e85454;
line-height: 1.2;
text-align: left;
font-size: 1.4em;
text-transform: none;*/
.catalog-full-description {
  position: relative;
  margin-bottom: 2%;
  h2 {
    color: @light-red;
    line-height: 1.2;
    text-align: left;
    font-size: 1.4em;
    text-transform: none;
  }
}
@media(min-width: 768px) {
  .catalog-full-description {
    h2 {
      line-height: 2;
      font-size: 2em;
    }
  }
}



.header {
  margin-left: 0;
  margin-right: 0;
  background-color: #3A3A3A;
  @media (min-width: 940px) {
    position: relative;
    margin-bottom: 10px;
    height: 38px;
    padding-bottom: 0;
  }

  .phone {
    text-align: right;
    color: #fff;
    font-size: 1.2em;
    vertical-align: middle;
    &:before {
      display: inline-block;
      height: 100%;
      content: '';
      vertical-align: middle;
    }
    @media (min-width: 940px) {
      font-size: 1.4em;
      text-align: right;
      height: 38px;
    }
  }
}

.header_second {
  position: relative;
  &:before {
    padding-top: 20%;
    content: '';
    display: block;
    position: relative;
  }

  .hmenu_second {
    position: absolute;
    float: none;
    width: 80%;
    top: 60%;
    left: 0%;
    ul {
      display: table;
      li {
        width: auto;
        display: table-cell;
        &#menu-item-7 {
          display: none;
        }
        a {
          color: #8a8989;
          padding: 1%;
          white-space: nowrap;
          &:hover {
            background-color: transparent;
            color: #F48B47;
          }
        }
      }
    }
  }
  #basket {
    width: 70%;
    position: absolute;
    left: 34%;
    top: 18%;
    overflow: hidden;
    -webkit-transition: transform 0.2s ease-out 0s;
    -moz-transition: transform 0.2s ease-out 0s;
    -o-transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    &:before {
      padding-top: 10%;
      content: '';
      display: block;
      position: relative;
    }
    &.active {
      transform: scale(1.2, 1.1);
    }
    &:hover {
      background-position: left 100%;
    }
    .basket {
      position: absolute;
      left: 0%;
      top: 0%;
      color: @link-color;
      width: 100%;
      > div {
        display: inline-block;
      }
      span {
        color: #f48b47;
      }
    }
  }
  @media (min-width: 768px) {
    position: relative;
    &:before {
      padding-top: 10%;
      content: '';
      display: block;
      position: relative;
    }

    .logo {
      position: absolute;
      width: 30%;
      left: 0;
      top: 0;
      a {
        &:before {

        }
      }
    }

    .hmenu_second {
      position: absolute;
      float: none;
      width: 40%;
      top: 22%;
      left: 30%;
      ul {
        li {
          width: auto;
          display: table-cell;
          &#menu-item-7 {
            display: none;
          }
          a {
            color: #8a8989;
            &:hover {
              background-color: transparent;
              color: #F48B47;
            }
          }
        }
      }
    }

  }
}

#mobile-menu-switcher {
  position: absolute;
  right: 4%;
  bottom: 18%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/assets/images/footer.png);
  background-position: center bottom;
  height: 268px;
  width: 100%;
  overflow: hidden;
  padding-top: 52px;
  .wrapper {
    width: 1040px;
    height: 268px;
    margin: auto;
    position: relative;
  }
  h2 {
    color: #898885;
    font-family: "Clear Sans";
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .logo {
    position: absolute;
    width: 274px;
    height: 79px;
    left: 356px;
    top: 78px;
    background-image: url(/assets/images/logo.png);
    background-position: left top;
    background-size: contain;
  }
  .contacts {
    position: absolute;
    left: 30px;
    top: 68px;
    .info {
      font-size: 1.4em;
      color: #FFFFFF;
      vertical-align: middle;
      white-space: nowrap;
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        margin-right: 1%;
        width: 1.2em;
        height: 1.6em;
        vertical-align: middle;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &.phone {
        &:before {
          background-image: url('/assets/images/contacts-phone.png');
        }
      }
      &.email {
        &:before {
          background-image: url('/assets/images/contacts-post.png');
        }
      }
      &.address {
        &:before {
          background-image: url('/assets/images/contacts-geo.png');
        }
      }
      &.copyrights {
        color: #f48b47;
      }
    }
  }
  .social-links {
    position: absolute;
    left: 833px;
    top: 74px;
    a {
      background-image: url("/assets/images/link-soc-instagramm.png");
      width: 36px;
      height: 36px;
      display: inline-block;
      border: 1px solid #ffdbdb;
      border-radius: 50%;
      &:hover {
        background-position: left -100%;
        background-color: #3b5998;
      }
    }
  }
  .counter {
    position: absolute;
    left: 931px;
    top: 136px;
    width: 88px;
    height: 40px;
    background-image: url(/assets/images/counter.jpg);
  }
  .other-resource-link {
    color: white;
    font-size: 1.4em;
    position: absolute;
    bottom: 82px;
    width: 100%;
    text-align: center;
  }
}

.paginator {
  clear: both;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #2c739d;
  text-align: center;
  div {
    &.pages {
      display: inline-block;
      text-align: center;
      float: none;
      margin: 5px auto 5px auto;
      width: auto;
      padding: 5px;
      font-size: 1.6em;

      a {
        text-decoration: none;
        padding: 5px 7px;
        margin: 2px;
        color: @lite-rose;
        vertical-align: middle;
        &:hover {
          color: @dark-red;
        }
      }
      a.left {
        display: inline-block;
        font-size: 0;
        &:before {
          font-family: FontAwesome;
          content: "\f104";
          font-size: 5rem;
        }
      }
      a.right {
        display: inline-block;
        font-size: 0;
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          font-size: 5rem;
        }
      }
      span.selected {
        text-decoration: none;
        padding: 6px 8px;
        margin: 2px;
        font-family: Tahoma, Arial;
        color: @dark-red;
        vertical-align: middle;
      }
    }
    &.navilink {
      color: gray;
    }
  }
}

.sitemessage {
  margin: 0 55px 0 15px;
  font-family: Tahoma, Arial;
  font-size: 14px;
  font-weight: normal;
  color: #2c739d;
  text-align: justify;
}

.gallery {
  width: 100%;
  padding-top: 28%;
  border-radius: 0px;
  background-color: white;
  margin-bottom: 20px;
  .nivoSlider {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
}

#basket-list {
  .items {
    margin-bottom: 20px;
  }
  .item {
    padding-top: 1%;
    margin-bottom: 20px;
    @media(min-width: 768px) {
      margin-bottom: 0px;
    }
    .image {
      overflow: hidden;
      width: 100%;
      height: auto;
      padding: 6px;
      background-color: #D6D7DE;
      .wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .wrapper {
          text-align: center;
          width: 100%;
          height: 100%;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
    h3 {
      border: none;
      color: #f48b47;
      font-size: 1.2em;
    }
    .price {
      .discount-price {
        color: #2c739d;
      }
      .old-price {
        text-decoration: line-through;
      }
    }
    .quantity {
      padding: 4% 0 0 0;
      a {
        font-size: 2em;
        vertical-align: middle;
        &.quantity-minus {
          color: @green;
        }
        &.quantity-plus {
          color: @lite-rose;
        }
      }
      .input-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 3em;
        height: 3em;
        border: 1px solid @dark-red;
        border-radius: 50%;
        text-align: center;
        line-height: 3em;
        input {
          background-color: transparent;
          border: none;
          width: 100%;
          line-height: 1.5;
          text-align: center;
          font-size: 1.6em;
        }
      }

    }

    .hr {
      padding-top: 1%;
      clear: both;
      hr {
        margin: 0;
      }
    }

  }
  .confirm-basket {

  }
  .sum {
    font-size: 1.2em;
    line-height: 2;
    color: #b03030;
    font-weight: 300;
    text-align: center;
    margin: 2% 0 2% 0;
  }
}

#confirm-form {
  fieldset.shipping {
    .radio {
      label {
        color: #3A3A3A;
      }
    }
    .price {
      color: @dark-primary;
    }

  }
  .basket {
    border: solid 1px #fc6666;
    .header {
      border-bottom: solid 1px #fc6666;
      background-color: @page-background-color;
      margin: 0;
      height: auto;
      padding: 2%;
      color: #f48b47;
    }
    .item {
      border-bottom: solid 1px #fc6666;
      position: relative;
      overflow: hidden;
      &:before {
        content: '';
        display: block;
        padding-top: 22%;
        position: relative;
        float: left;
      }
      .image {
        position: absolute;
        border: solid 1px #D6D7DE;
        left: 2%;
        top: 10%;
        width: 20%;
        overflow: hidden;
        &:before {
          content: '';
          display: block;
          padding-top: 90%;
          position: relative;
        }
        .wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .content {
        margin-left: 20%;
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 4px;
        h3 {
          position: relative;
          border: none;
          font-size: 1em;
          line-height: normal;
          margin: 0;
          color: @primary-color;
          font-weight: 400;
        }
        .price {
          font-size: 1em;
          line-height: normal;
        }
      }

    }
    .sum {
      background-color: @page-background-color;
      padding: 2%;
      span {
        color: #2c739d;
      }
    }
  }
  .confirm-basket {

  }
}

.register-user-block {
  label {
    margin-left: 15px;
  }
  .form-group {
    margin-bottom: 30px;
  }
  label.error {
    font-weight: normal;
    font-size: 0.8em;
    margin-bottom: -15px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }
  input.error {
    border-color: #ff0000;
  }
  .upload-button {

  }
}

#reviews {
  label {
    color: #a64b4b;
    font-weight: normal;

  }
  #send-button {

  }
  .reviews__list {
    .review {
      padding: 1% 0 1% 0;
      .name {
        color: @light-red;
        font-size: 1.2em;
      }
      .message {
        color: @gray-blue;
        .date {
          color: #fc6666;
          line-height: 1;
          font-size: 1em;
          margin: 0;
        }
      }
      .answer {
        > div {
          position: relative;
          margin: 2% 2% 0 10%;
          font-size: 0.9em;
          border-radius: 4px;
          border: 1px solid #fc6666;
          padding: 1% 1% 1% 2%;
          &:before {
            position: absolute;
            left: 0%;
            top: 0;
            background-color: #ffffff;
            border-top: 1px solid #fc6666;
            border-right: 1px solid #fc6666;
            content: '';
            width: 10px;
            height: 10px;
            transform: rotate(-135deg);
            margin-left: -6px;
            margin-top: 12px;
          }
          .date {
            color: #fc6666;
            line-height: 1;
            font-size: 1em;
            margin: 0;
          }
        }
      }
    }
    .divider {
      hr {
        border: none;
        background-color: transparent;
        height: 1px;
        border-bottom: 2px dotted #ea6d6b;
      }
    }
  }
}