@import "colors.less";

.content-page {
  .item {
    overflow: hidden;
    position: relative;
  }
  .item.type-news {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 5%;
    h3 {
      font-size: 18px;
      line-height: 18px;
      text-transform: capitalize;
      color: #106CB6;
      font-family: 'Bravo', Tahoma;
      margin: 0 0 3px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
    .date {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }
    .image {
      overflow: hidden;
      width: 100%;
      height: auto;
      border: solid 1px gray;
      padding: 1%;
      background-color: #D6D7DE;
      margin-bottom: 4%;
      .wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .wrapper {
          text-align: center;
          width: 100%;
          height: auto;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
    .description {
      color: #898885;
      font-size: 12px;
      font-weight: normal;
      font-family: Tahoma, Helvetica, sans-serif;
      line-height: 18px;
      padding-bottom: 1%;
      max-height: 126px;
      overflow: hidden;
    }
    a.readon {
      display: inline-block;
      color: #898885;
      text-decoration: none;
      border: 1px solid #D6DBE3;
      padding: 4px 11px;
      font-family: Tahoma, Helvetica, sans-serif;
      font-size: 12px;
      background-color: #D6D7DE;
      span {
        color: #898885;
      }
      &:hover, &:hover span {
        color: #cd3c03;
      }
    }
  }
  &.type-partners {
    overflow: hidden;
    .divider {
      float: left;
      width: 10px;
      height: 1px;
    }
    .item.type-partners {
      padding-bottom: 5%;
      width: 100%;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      h3 {
        font-size: 2.4em;
        line-height: 1.6;
        text-transform: capitalize;
        color: #106CB6;
        font-family: 'Bravo', Tahoma;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
      .date {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
      }
      .image {
        overflow: hidden;
        width: 100%;
        height: auto;
        float: left;
        border: solid 1px gray;
        padding: 1%;
        background-color: #D6D7DE;
        .wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .wrapper {
            text-align: center;
            width: 100%;
            height: auto;
            img {
              height: auto;
              width: 100%;
            }
          }
        }
      }
      .description {
        color: #898885;
        font-size: 12px;
        font-weight: normal;
        font-family: Tahoma, Helvetica, sans-serif;
        line-height: 18px;
        padding-bottom: 1%;
        max-height: 126px;
        overflow: hidden;
      }
      a.readon {
        display: inline-block;
        color: #898885;
        text-decoration: none;
        border: 1px solid #D6DBE3;
        padding: 4px 11px;
        font-family: Tahoma, Helvetica, sans-serif;
        font-size: 12px;
        background-color: #D6D7DE;
        span {
          color: #898885;
        }
        &:hover, &:hover span {
          color: #cd3c03;
        }
      }
    }
  }
  &.type-staff {
    .item.type-staff {
      width: 100%;
      overflow: hidden;
      border: 1px solid #d6b87a;
      border-radius: 8px;
      background-color: white;
      margin-bottom: 12%;
      &:before {
        content: '';
        display: block;
        padding-top: 130%;
      }
      &:hover {
        border: 2px solid @dark-red;
      }
      h3 {
        border: none;
        color: #cd3c03;
        font-size: 1.4em;
        font-weight: 300;
        text-transform: uppercase;
      }
      .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        .wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .wrapper {
            text-align: center;
            width: 100%;
            height: 100%;
            img {
              height: auto;
              width: 100%;
            }
          }
        }

      }

      .info {
        position: absolute;
        top: 69%;
        height: 36%;
        width: 80%;
        left: 10%;
        overflow: hidden;
        text-overflow: ellipsis;
        .title {
          color: @gray-blue;
          text-transform: uppercase;
          font-size: 1em;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
        }
        .description {
          color: @gray-blue;
          text-transform: none;
          font-size: 1em;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 70%;
          height: 30%;
          overflow: hidden;
        }
      }
      .price {
        color: #44636b;
        font-size: 1.6em;
        font-weight: 600;
        /* position: absolute; */
        line-height: 1.2;
        display: inline-block;
        span {

        }
        .actual {
          display: block;
          text-align: center;
          white-space: nowrap;
        }
        .old {
          font-size: 0.6em;
          display: block;
          text-align: center;
          span {
            text-decoration: line-through;
          }
          .discount {
            color: @dark-red;
            text-decoration: none;
          }
        }
      }
      a.readon {
        font-size: 0;
        background-image: url(/assets/images/item-basket-bgr.png);
        background-size: cover;
        width: 15.97%;
        height: 41.98%;
        left: 84%;
        top: 35%;
        position: absolute;
        background-position: center top;
        background-repeat: no-repeat;
        z-index: 30;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
      .full-size-readon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

    }
  }
  &.type-common {
    //overflow: hidden;
    .divider {
      float: left;
      width: 10px;
      height: 1px;
    }
    .item.type-common {
      padding-bottom: 5%;
      width: 100%;
      position: relative;
      overflow: visible;
      box-sizing: border-box;
      h3 {
        font-size: 1.2em;
        line-height: 1.6;
        text-transform: capitalize;
        margin: 0 0 4% 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
      .date {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
        display: none;
      }
      .image {
        overflow: hidden;
        width: 100%;
        height: auto;
        //border: solid 1px @rosecolor;
        padding: 2%;
        background-color: white;
        margin: 0 0 4% 0;
        border-radius: 1.2em;
        -moz-box-shadow: 0 0 8px #ffaf88;
        -webkit-box-shadow: 0 0 8px #ffaf88;
        box-shadow: 0 0 8px #ffaf88;

        > .wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 1em;
          border: solid 1px;
          .wrapper {
            text-align: center;
            width: 100%;
            height: auto;
            img {
              height: auto;
              width: 100%;
            }
          }
        }
      }
      .description {
        color: #898885;
        font-size: 12px;
        font-weight: normal;
        font-family: Tahoma, Helvetica, sans-serif;
        line-height: 18px;
        max-height: 126px;
        overflow: hidden;
        margin: 0 0 4% 0;
      }
      a.readon {
        display: block;
        color: #fc6666;
        text-decoration: none;
        border: 1px solid #fc6666;
        padding: 4px 11px;
        font-family: Tahoma, Helvetica, sans-serif;
        font-size: 12px;
        background-color: #FFFFFF;
        background-image: url(/assets/images/litle-decor.jpg);
        background-position: left top;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 1.2em;
        text-align: center;
        overflow: hidden;
        span {
          color: #898885;
        }
        &:hover, &:hover span {
          color: #cd3c03;
        }
      }
    }
  }
}