.content-page .item {
  overflow: hidden;
  position: relative;
}
.content-page .item.type-news {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 5%;
}
.content-page .item.type-news h3 {
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
  color: #106CB6;
  font-family: 'Bravo', Tahoma;
  margin: 0 0 3px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.content-page .item.type-news .date {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}
.content-page .item.type-news .image {
  overflow: hidden;
  width: 100%;
  height: auto;
  border: solid 1px gray;
  padding: 1%;
  background-color: #D6D7DE;
  margin-bottom: 4%;
}
.content-page .item.type-news .image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-page .item.type-news .image .wrapper .wrapper {
  text-align: center;
  width: 100%;
  height: auto;
}
.content-page .item.type-news .image .wrapper .wrapper img {
  height: auto;
  width: 100%;
}
.content-page .item.type-news .description {
  color: #898885;
  font-size: 12px;
  font-weight: normal;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 18px;
  padding-bottom: 1%;
  max-height: 126px;
  overflow: hidden;
}
.content-page .item.type-news a.readon {
  display: inline-block;
  color: #898885;
  text-decoration: none;
  border: 1px solid #D6DBE3;
  padding: 4px 11px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #D6D7DE;
}
.content-page .item.type-news a.readon span {
  color: #898885;
}
.content-page .item.type-news a.readon:hover,
.content-page .item.type-news a.readon:hover span {
  color: #cd3c03;
}
.content-page.type-partners {
  overflow: hidden;
}
.content-page.type-partners .divider {
  float: left;
  width: 10px;
  height: 1px;
}
.content-page.type-partners .item.type-partners {
  padding-bottom: 5%;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.content-page.type-partners .item.type-partners h3 {
  font-size: 2.4em;
  line-height: 1.6;
  text-transform: capitalize;
  color: #106CB6;
  font-family: 'Bravo', Tahoma;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.content-page.type-partners .item.type-partners .date {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}
.content-page.type-partners .item.type-partners .image {
  overflow: hidden;
  width: 100%;
  height: auto;
  float: left;
  border: solid 1px gray;
  padding: 1%;
  background-color: #D6D7DE;
}
.content-page.type-partners .item.type-partners .image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-page.type-partners .item.type-partners .image .wrapper .wrapper {
  text-align: center;
  width: 100%;
  height: auto;
}
.content-page.type-partners .item.type-partners .image .wrapper .wrapper img {
  height: auto;
  width: 100%;
}
.content-page.type-partners .item.type-partners .description {
  color: #898885;
  font-size: 12px;
  font-weight: normal;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 18px;
  padding-bottom: 1%;
  max-height: 126px;
  overflow: hidden;
}
.content-page.type-partners .item.type-partners a.readon {
  display: inline-block;
  color: #898885;
  text-decoration: none;
  border: 1px solid #D6DBE3;
  padding: 4px 11px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #D6D7DE;
}
.content-page.type-partners .item.type-partners a.readon span {
  color: #898885;
}
.content-page.type-partners .item.type-partners a.readon:hover,
.content-page.type-partners .item.type-partners a.readon:hover span {
  color: #cd3c03;
}
.content-page.type-staff .item.type-staff {
  width: 100%;
  overflow: hidden;
  border: 1px solid #d6b87a;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 12%;
}
.content-page.type-staff .item.type-staff:before {
  content: '';
  display: block;
  padding-top: 130%;
}
.content-page.type-staff .item.type-staff:hover {
  border: 2px solid #d34644;
}
.content-page.type-staff .item.type-staff h3 {
  border: none;
  color: #cd3c03;
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
}
.content-page.type-staff .item.type-staff .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.content-page.type-staff .item.type-staff .image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-page.type-staff .item.type-staff .image .wrapper .wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
}
.content-page.type-staff .item.type-staff .image .wrapper .wrapper img {
  height: auto;
  width: 100%;
}
.content-page.type-staff .item.type-staff .info {
  position: absolute;
  top: 69%;
  height: 36%;
  width: 80%;
  left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-page.type-staff .item.type-staff .info .title {
  color: #44636b;
  text-transform: uppercase;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.content-page.type-staff .item.type-staff .info .description {
  color: #44636b;
  text-transform: none;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  height: 30%;
  overflow: hidden;
}
.content-page.type-staff .item.type-staff .price {
  color: #44636b;
  font-size: 1.6em;
  font-weight: 600;
  /* position: absolute; */

  line-height: 1.2;
  display: inline-block;
}
.content-page.type-staff .item.type-staff .price .actual {
  display: block;
  text-align: center;
  white-space: nowrap;
}
.content-page.type-staff .item.type-staff .price .old {
  font-size: 0.6em;
  display: block;
  text-align: center;
}
.content-page.type-staff .item.type-staff .price .old span {
  text-decoration: line-through;
}
.content-page.type-staff .item.type-staff .price .old .discount {
  color: #d34644;
  text-decoration: none;
}
.content-page.type-staff .item.type-staff a.readon {
  font-size: 0;
  background-image: url(/assets/images/item-basket-bgr.png);
  background-size: cover;
  width: 15.97%;
  height: 41.98%;
  left: 84%;
  top: 35%;
  position: absolute;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 30;
  opacity: 0.5;
}
.content-page.type-staff .item.type-staff a.readon:hover {
  opacity: 1;
}
.content-page.type-staff .item.type-staff .full-size-readon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.content-page.type-common .divider {
  float: left;
  width: 10px;
  height: 1px;
}
.content-page.type-common .item.type-common {
  padding-bottom: 5%;
  width: 100%;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}
.content-page.type-common .item.type-common h3 {
  font-size: 1.2em;
  line-height: 1.6;
  text-transform: capitalize;
  margin: 0 0 4% 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.content-page.type-common .item.type-common .date {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
  display: none;
}
.content-page.type-common .item.type-common .image {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 2%;
  background-color: white;
  margin: 0 0 4% 0;
  border-radius: 1.2em;
  -moz-box-shadow: 0 0 8px #ffaf88;
  -webkit-box-shadow: 0 0 8px #ffaf88;
  box-shadow: 0 0 8px #ffaf88;
}
.content-page.type-common .item.type-common .image > .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1em;
  border: solid 1px;
}
.content-page.type-common .item.type-common .image > .wrapper .wrapper {
  text-align: center;
  width: 100%;
  height: auto;
}
.content-page.type-common .item.type-common .image > .wrapper .wrapper img {
  height: auto;
  width: 100%;
}
.content-page.type-common .item.type-common .description {
  color: #898885;
  font-size: 12px;
  font-weight: normal;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 18px;
  max-height: 126px;
  overflow: hidden;
  margin: 0 0 4% 0;
}
.content-page.type-common .item.type-common a.readon {
  display: block;
  color: #fc6666;
  text-decoration: none;
  border: 1px solid #fc6666;
  padding: 4px 11px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  background-image: url(/assets/images/litle-decor.jpg);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.2em;
  text-align: center;
  overflow: hidden;
}
.content-page.type-common .item.type-common a.readon span {
  color: #898885;
}
.content-page.type-common .item.type-common a.readon:hover,
.content-page.type-common .item.type-common a.readon:hover span {
  color: #cd3c03;
}
