@font-face {
  font-family: 'Bravo';
  src: local('BravoRG Regular'), local('BravoRG'), url('http://64424.selcdn.ru/webfont/bravo/bravorg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.v_ad_block {
  overflow: hidden;
}
.v_ad_block a {
  display: inline-block;
}
.vidget > div {
  margin-bottom: 4px;
}
.vidget h2 {
  font-size: 1.6em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0 0 0 0;
}
.vidget > .description {
  color: #898885;
  font-size: 12px;
  font-weight: normal;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 18px;
}
.vidget > a.readon {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #D6DBE3;
  padding: 4px 11px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #D6D7DE;
}
.vidget > a.readon span {
  color: #898885;
}
.vidget > a.readon:hover,
.vidget > a.readon:hover span {
  color: #cd3c03;
}
.vidget .item {
  position: relative;
}
.vidget .item > * {
  margin: 0 0 4px 0;
}
.vidget .item .image {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.vidget .item .image .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vidget .item .image .wrapper .wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
}
.vidget .item .image .wrapper .wrapper img {
  height: auto;
  width: 100%;
}
.vidget .item.type-staff {
  width: 100%;
  overflow: hidden;
  border: 1px solid #d6b87a;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 12%;
}
.vidget .item.type-staff:hover {
  border: 2px solid #d34644;
}
.vidget .item.type-staff:before {
  content: '';
  display: block;
  padding-top: 130%;
}
.vidget .item.type-staff h3 {
  border: none;
  color: #cd3c03;
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
}
.vidget .item.type-staff .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.vidget .item.type-staff .info {
  position: absolute;
  top: 69%;
  height: 36%;
  width: 80%;
  left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vidget .item.type-staff .info .title {
  color: #44636b;
  text-transform: uppercase;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.vidget .item.type-staff .info .description {
  color: #44636b;
  text-transform: none;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  height: 30%;
  overflow: hidden;
}
.vidget .item.type-staff .price {
  color: #44636b;
  font-size: 1.6em;
  font-weight: 600;
  /* position: absolute; */

  line-height: 1.2;
  display: inline-block;
}
.vidget .item.type-staff .price .actual {
  display: block;
  text-align: center;
  white-space: nowrap;
}
.vidget .item.type-staff .price .old {
  font-size: 0.6em;
  display: block;
  text-align: center;
}
.vidget .item.type-staff .price .old span {
  text-decoration: line-through;
}
.vidget .item.type-staff .price .old .discount {
  color: #d34644;
  text-decoration: none;
}
.vidget .item.type-staff a.readon {
  font-size: 0;
  background-image: url(/assets/images/item-basket-bgr.png);
  background-size: cover;
  width: 16%;
  height: 42%;
  left: 84%;
  top: 35%;
  position: absolute;
  background-position: center top;
  opacity: 0.5;
}
.vidget .item.type-staff a.readon:hover {
  opacity: 1;
}
.vidget .item.type-staff .full-size-readon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  
}
.vidget#sendmessage input {
  width: 132px;
}
.vidget#sendmessage input[type="submit"] {
  width: 100%;
}
.gallery {
  min-width: 100px;
  min-height: 100px;
  position: relative;
}
.gallery img {
  display: none;
}
.nivoSlider {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.nivo-box img {
  display: block;
}
/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 8;
  padding: 10px 3%;
  overflow: hidden;
  display: none;
  text-align: left;
  font-size: 1em;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}
.nivo-caption .title {
  font-size: 1em;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: white 1px 1px 4px;
}
.nivo-caption .info {
  font-size: 1em;
  color: #4d4d4d;
  text-shadow: white 1px 1px 4px;
  display: inline;
}
.nivo-caption:empty {
  display: none !important;
}
.nivo-caption p {
  padding: 5px;
  margin: 0;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
  display: none;
}
.nivo-prevNav {
  left: 0px;
}
.nivo-nextNav {
  right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 0%;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 15;
  width: 100%;
}
.nivo-controlNav a {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 0;
  border: solid 1px white;
  display: inline-block;
  font-size: 0;
  margin: 0.5%;
  overflow: hidden;
  box-shadow: black 0px 0px 1px;
}
.nivo-controlNav a.active {
  font-weight: bold;
  background-color: #f48b47;
}
.nivo-controlNav.nivo-thumbs-enabled {
  bottom: 1%;
}
.nivo-controlNav.nivo-thumbs-enabled a {
  width: 5%;
  height: auto;
  border: solid 1px #3A3A3A;
  opacity: 0.4;
}
.nivo-controlNav.nivo-thumbs-enabled a:hover {
  opacity: 1;
}
.nivo-controlNav.nivo-thumbs-enabled a img {
  width: 100%;
  height: auto;
  display: block;
}
#cash-informer .title {
  color: #106CB6;
}
#cash-informer .old-value {
  color: #D6D6D6;
}
.auth-vidget {
  position: static;
}
.auth-vidget a.toggle-mobile-hidden {
  position: absolute;
  right: 24%;
  top: 25%;
  width: 9%;
  text-align: center;
  background-color: #dd453e;
  border: 1px solid white;
  border-radius: 0.4em;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.auth-vidget a.toggle-mobile-hidden.active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.auth-vidget a.toggle-mobile-hidden:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.auth-vidget .wrapper {
  position: fixed;
  margin-top: 24%;
  width: 98%;
  left: 1%;
  background-color: #de6b66;
  z-index: 1000;
  border: 1px solid white;
  border-radius: 4px;
  padding-top: 10px;
  -webkit-transition: left 0.4s ease-out 0s;
  -moz-transition: left 0.4s ease-out 0s;
  -o-transition: left 0.4s ease-out 0s;
  transition: left 0.4s ease-out 0s;
  padding-top: 24%;
}
.auth-vidget .wrapper.mobile-hidden {
  left: 100%;
}
.auth-vidget .update-link {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.9em;
  line-height: 1.7;
  text-transform: lowercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #ffb0b0;
}
.auth-vidget .update-link:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb0b0;
  margin: auto;
  background-image: url('/assets/images/auth-register.png');
}
.auth-vidget .logout-link {
  position: absolute;
  left: 69px;
  top: 0;
  font-size: 0.9em;
  line-height: 1.7;
  text-transform: lowercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #ffb0b0;
  z-index: 4;
}
.auth-vidget .logout-link:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb0b0;
  margin: auto;
  background-image: url('/assets/images/auth-enter.png');
}
.auth-vidget__remember-password-tooltip {
  display: none;
}
.auth-vidget .register-link {
  position: absolute;
  left: 2%;
  right: auto;
  top: 0;
  font-size: 0.9em;
  line-height: 1.7;
  text-transform: lowercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #ffb0b0;
}
.auth-vidget .register-link:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb0b0;
  margin: auto;
  background-image: url('/assets/images/auth-register.png');
}
.auth-vidget .remember-password-link {
  position: absolute;
  left: 10%;
  bottom: 8%;
  width: 80%;
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  color: #ffb0b0;
  font-size: 0.9em;
  line-height: 1;
}
.auth-vidget #logging-form {
  width: 80%;
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 20;
}
.auth-vidget #logging-form input[name="email"] {
  position: absolute;
  left: 0;
  top: 26px;
  border: 1px solid #ffb0b0;
  line-height: 27px;
  padding: 0;
  z-index: 2;
  display: block;
  width: 100px;
  height: 27px;
  text-align: center;
}
.auth-vidget #logging-form input[name="email"]:-moz-placeholder {
  color: #ffb0b0;
}
.auth-vidget #logging-form input[name="email"]::-webkit-input-placeholder {
  color: #ffb0b0;
}
.auth-vidget #logging-form input[name="password"] {
  position: absolute;
  left: 101px;
  top: 26px;
  border: 1px solid #ffb0b0;
  line-height: 27px;
  padding: 0;
  z-index: 2;
  display: block;
  width: 98px;
  height: 27px;
  text-align: center;
}
.auth-vidget #logging-form input[name="password"]:-moz-placeholder {
  color: #ffb0b0;
}
.auth-vidget #logging-form input[name="password"]::-webkit-input-placeholder {
  color: #ffb0b0;
}
.auth-vidget #logging-form a.upload-button {
  position: absolute;
  left: auto;
  right: 2%;
  top: 0;
  font-size: 0.9em;
  line-height: 1.7;
  text-transform: lowercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #ffb0b0;
  z-index: 4;
}
.auth-vidget #logging-form a.upload-button:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb0b0;
  margin: auto;
  background-image: url('/assets/images/auth-enter.png');
  background-color: #de6b66;
}
@media (min-width: 768px) {
  .auth-vidget {
    vertical-align: middle;
    position: absolute;
    left: 684px;
    top: 10px;
    width: 41%;
  }
  .auth-vidget .wrapper {
    position: static;
    height: 0;
    width: 0;
    border: none;
  }
  .auth-vidget .update-link {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffb0b0;
  }
  .auth-vidget .update-link:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb0b0;
    margin: auto;
    background-image: url('/assets/images/auth-register.png');
  }
  .auth-vidget .logout-link {
    position: absolute;
    left: 69px;
    top: 0;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffb0b0;
    z-index: 4;
  }
  .auth-vidget .logout-link:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb0b0;
    margin: auto;
    background-image: url('/assets/images/auth-enter.png');
  }
  .auth-vidget__remember-password-tooltip {
    display: none;
  }
  .auth-vidget .register-link {
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffb0b0;
  }
  .auth-vidget .register-link:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb0b0;
    margin: auto;
    background-image: url('/assets/images/auth-register.png');
  }
  .auth-vidget .remember-password-link {
    position: absolute;
    left: 213px;
    top: 54px;
    bottom: auto;
    width: auto;
    text-align: left;
    text-transform: lowercase;
    font-style: italic;
    color: #ffb0b0;
    font-size: 0.9em;
    line-height: 1;
  }
  .auth-vidget #logging-form {
    width: 100%;
    position: absolute;
    left: 69px;
    top: 0;
    z-index: 20;
  }
  .auth-vidget #logging-form:after {
    content: '';
    position: absolute;
    left: 25px;
    width: 18px;
    height: 29px;
    border-radius: 45%;
    border: 1px solid #ffb0b0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    background-color: #fc6d68;
    z-index: 3;
    top: 25px;
  }
  .auth-vidget #logging-form input[name="email"] {
    position: absolute;
    left: 37px;
    top: 27px;
    border: 1px solid #ffb0b0;
    line-height: 27px;
    padding: 0;
    z-index: 2;
    display: block;
    width: 100px;
    height: 27px;
    text-align: center;
  }
  .auth-vidget #logging-form input[name="email"]:-moz-placeholder {
    color: #ffb0b0;
  }
  .auth-vidget #logging-form input[name="email"]::-webkit-input-placeholder {
    color: #ffb0b0;
  }
  .auth-vidget #logging-form input[name="password"] {
    position: absolute;
    left: 139px;
    top: 27px;
    border: 1px solid #ffb0b0;
    line-height: 27px;
    padding: 0;
    z-index: 2;
    display: block;
    width: 103px;
    height: 27px;
    text-align: center;
  }
  .auth-vidget #logging-form input[name="password"]:-moz-placeholder {
    color: #ffb0b0;
  }
  .auth-vidget #logging-form input[name="password"]::-webkit-input-placeholder {
    color: #ffb0b0;
  }
  .auth-vidget #logging-form a.upload-button {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffb0b0;
    z-index: 4;
  }
  .auth-vidget #logging-form a.upload-button:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb0b0;
    margin: auto;
    background-image: url('/assets/images/auth-enter.png');
    background-color: transparent;
  }
}
