@import "colors.less";
@font-face {
  font-family: 'Bravo';
  src: local('BravoRG Regular'), local('BravoRG'), url('http://64424.selcdn.ru/webfont/bravo/bravorg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.v_ad_block {
  overflow: hidden;
  a {
    display: inline-block;
  }
}

.vidget {
  > div {
    margin-bottom: 4px;
  }
  h2 {
    font-size: 1.6em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 0 0;
  }
  > .description {
    color: #898885;
    font-size: 12px;
    font-weight: normal;
    font-family: Tahoma, Helvetica, sans-serif;
    line-height: 18px;
  }
  > a.readon {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #D6DBE3;
    padding: 4px 11px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #D6D7DE;
    span {
      color: #898885;
    }
    &:hover, &:hover span {
      color: #cd3c03;
    }
  }
  .item {
    position: relative;
    > * {
      margin: 0 0 4px 0;
    }
    .date {

    }
    h3 {

    }
    .image {
      overflow: hidden;
      width: 100%;
      height: auto;
      .wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .wrapper {
          text-align: center;
          width: 100%;
          height: 100%;
          img {
            height: auto;
            width: 100%;
          }
        }
      }

    }
    .description {

    }
    a.readon {

      &:hover {

      }
    }
    &.type-staff {
      width: 100%;
      overflow: hidden;
      border: 1px solid #d6b87a;
      border-radius: 8px;
      background-color: white;
      margin-bottom: 12%;
      &:hover {
        border: 2px solid #d34644;
      }
      &:before {
        content: '';
        display: block;
        padding-top: 130%;
      }
      h3 {
        border: none;
        color: #cd3c03;
        font-size: 1.4em;
        font-weight: 300;
        text-transform: uppercase;
      }
      .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        > .wrapper {

        }
      }
      .info {
        position: absolute;
        top: 69%;
        height: 36%;
        width: 80%;
        left: 10%;
        overflow: hidden;
        text-overflow: ellipsis;
        .title {
          color: @gray-blue;
          text-transform: uppercase;
          font-size: 1em;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
        }
        .description {
          color: @gray-blue;
          text-transform: none;
          font-size: 1em;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 70%;
          height: 30%;
          overflow: hidden;
        }
      }
      .price {
        color: #44636b;
        font-size: 1.6em;
        font-weight: 600;
        /* position: absolute; */
        line-height: 1.2;
        display: inline-block;
        span {

        }
        .actual {
          display: block;
          text-align: center;
          white-space: nowrap;
        }
        .old {
          font-size: 0.6em;
          display: block;
          text-align: center;
          span {
            text-decoration: line-through;
          }
          .discount {
            color: @dark-red;
            text-decoration: none;
          }
        }
      }


      a.readon {
        font-size: 0;
        background-image: url(/assets/images/item-basket-bgr.png);
        background-size: cover;
        width: 16%;
        height: 42%;
        left: 84%;
        top: 35%;
        position: absolute;
        background-position: center top;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
      .full-size-readon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      @media (min-width: 768px) {

      }
    }
  }
  &#sendmessage {
    input {
      width: 132px;
    }
    input[type="submit"] {
      width: 100%;
    }
  }

}

//gallery
.gallery {
  min-width: 100px;
  min-height: 100px;
  position: relative;
  img {
    display: none;
  }
}

.nivoSlider {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none;
}

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}

.nivo-box img {
  display: block;
}

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 8;
  padding: 10px 3%;
  overflow: hidden;
  display: none;
  text-align: left;
  font-size: 1em;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 5%;
  background-color: rgba(255,255,255,0.8);
  .title {
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: white 1px 1px 4px;
  }
  .info {
    font-size: 1em;
    color: @primary-color;
    text-shadow: white 1px 1px 4px;
    display: inline;
  }
  &:empty {
    display: none !important;
  }
}

.nivo-caption p {
  padding: 5px;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
  display: none;
}

.nivo-prevNav {
  left: 0px;
}

.nivo-nextNav {
  right: 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 0%;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 15;
  width: 100%;
  a {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 0;
    border: solid 1px white;
    display: inline-block;
    font-size: 0;
    margin: 0.5%;
    overflow: hidden;
    box-shadow: black 0px 0px 1px;
    &.active {
      font-weight: bold;
      background-color: #f48b47;
    }
  }
  &.nivo-thumbs-enabled {
    bottom: 1%;
    a {
      width: 5%;
      height: auto;
      border: solid 1px #3A3A3A;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}




//информер валюты
#cash-informer {
  .title {
    color: #106CB6;
  }
  .value {

  }
  .old-value {
    color: #D6D6D6;
  }
}

.auth-vidget {
  position: static;
  a.toggle-mobile-hidden {
    position: absolute;
    right: 24%;
    top: 25%;
    width: 9%;
    text-align: center;
    background-color: #dd453e;
    border: 1px solid white;
    border-radius: 0.4em;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    &.active {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      padding-top: 100%;
    }
    i {

    }
  }
  .wrapper {
    position: fixed;
    margin-top: 24%;
    width: 98%;
    left: 1%;
    background-color: #de6b66;
    z-index: 1000;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 10px;
    -webkit-transition: left 0.4s ease-out 0s;
    -moz-transition: left 0.4s ease-out 0s;
    -o-transition: left 0.4s ease-out 0s;
    transition: left 0.4s ease-out 0s;
    padding-top: 24%;
    &.mobile-hidden {
      left: 100%;
    }
  }
  .update-link {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: @lite-rose;
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid @lite-rose;
      margin: auto;
      background-image: url('/assets/images/auth-register.png');
    }
  }
  .logout-link {
    position: absolute;
    left: 69px;
    top: 0;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffb0b0;
    z-index: 4;
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid @lite-rose;
      margin: auto;
      background-image: url('/assets/images/auth-enter.png');
    }
  }
  &__remember-password-tooltip {
    display: none;
    &:before {
    }
    &:after {
    }
  }
  .register-link {
    position: absolute;
    left: 2%;
    right: auto;
    top: 0;
    font-size: 0.9em;
    line-height: 1.7;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: @lite-rose;
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid @lite-rose;
      margin: auto;
      background-image: url('/assets/images/auth-register.png');
    }
  }
  .remember-password-link {
    position: absolute;
    left: 10%;
    bottom: 8%;
    width: 80%;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    color: #ffb0b0;
    font-size: 0.9em;
    line-height: 1;
  }
  #logging-form {
    width: 80%;
    position: absolute;
    left: 20%;
    top: 0;
    z-index: 20;
    &:after {


    }
    input[name="email"] {
      position: absolute;
      left: 0;
      top: 26px;
      border: 1px solid #ffb0b0;
      line-height: 27px;
      padding: 0;
      z-index: 2;
      display: block;
      width: 100px;
      height: 27px;
      text-align: center;
      &:-moz-placeholder {
        color: @lite-rose;
      }
      &::-webkit-input-placeholder {
        color: @lite-rose;
      }
    }
    input[name="password"] {
      position: absolute;
      left: 101px;
      top: 26px;
      border: 1px solid #ffb0b0;
      line-height: 27px;
      padding: 0;
      z-index: 2;
      display: block;
      width: 98px;
      height: 27px;
      text-align: center;
      &:-moz-placeholder {
        color: @lite-rose;
      }
      &::-webkit-input-placeholder {
        color: @lite-rose;
      }
    }
    a.upload-button {
      position: absolute;
      left: auto;
      right: 2%;
      top: 0;
      font-size: 0.9em;
      line-height: 1.7;
      text-transform: lowercase;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: #ffb0b0;
      z-index: 4;
      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid @lite-rose;
        margin: auto;
        background-image: url('/assets/images/auth-enter.png');
        background-color: #de6b66;
      }
    }
  }
}
@media (min-width: 768px) {
  .auth-vidget {
    vertical-align: middle;
    position: absolute;
    left: 684px;
    top: 10px;
    width: 41%;
    a {

    }
    .wrapper {
      position : static;
      height: 0;
      width: 0;
      border: none;
    }
    .update-link {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 0.9em;
      line-height: 1.7;
      text-transform: lowercase;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: @lite-rose;
      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid @lite-rose;
        margin: auto;
        background-image: url('/assets/images/auth-register.png');
      }
    }
    .logout-link {
      position: absolute;
      left: 69px;
      top: 0;
      font-size: 0.9em;
      line-height: 1.7;
      text-transform: lowercase;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: #ffb0b0;
      z-index: 4;
      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid @lite-rose;
        margin: auto;
        background-image: url('/assets/images/auth-enter.png');
      }
    }
    &__remember-password-tooltip {
      display: none;
      &:before {
      }
      &:after {
      }
    }
    .register-link {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      font-size: 0.9em;
      line-height: 1.7;
      text-transform: lowercase;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: @lite-rose;
      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid @lite-rose;
        margin: auto;
        background-image: url('/assets/images/auth-register.png');
      }
    }
    .remember-password-link {
      position: absolute;
      left: 213px;
      top: 54px;
      bottom: auto;
      width: auto;
      text-align: left;
      text-transform: lowercase;
      font-style: italic;
      color: #ffb0b0;
      font-size: 0.9em;
      line-height: 1;
    }
    #logging-form {
      width: 100%;
      position: absolute;
      left: 69px;
      top: 0;
      z-index: 20;
      &:after {
        content: '';
        position: absolute;
        left: 25px;
        width: 18px;
        height: 29px;
        border-radius: 45%;
        border: 1px solid #ffb0b0;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        background-color: #fc6d68;
        z-index: 3;
        top: 25px;
      }
      input[name="email"] {
        position: absolute;
        left: 37px;
        top: 27px;
        border: 1px solid #ffb0b0;
        line-height: 27px;
        padding: 0;
        z-index: 2;
        display: block;
        width: 100px;
        height: 27px;
        text-align: center;
        &:-moz-placeholder {
          color: @lite-rose;
        }
        &::-webkit-input-placeholder {
          color: @lite-rose;
        }
      }
      input[name="password"] {
        position: absolute;
        left: 139px;
        top: 27px;
        border: 1px solid #ffb0b0;
        line-height: 27px;
        padding: 0;
        z-index: 2;
        display: block;
        width: 103px;
        height: 27px;
        text-align: center;
        &:-moz-placeholder {
          color: @lite-rose;
        }
        &::-webkit-input-placeholder {
          color: @lite-rose;
        }
      }
      a.upload-button {
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        font-size: 0.9em;
        line-height: 1.7;
        text-transform: lowercase;
        text-align: center;
        font-weight: bold;
        font-style: italic;
        color: #ffb0b0;
        z-index: 4;
        &:after {
          content: '';
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid @lite-rose;
          margin: auto;
          background-image: url('/assets/images/auth-enter.png');
          background-color: transparent;
        }
      }
    }
  }
}

