<div id="addgroup">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Ввод новой группы</h3>
        </div>
        <div class="panel-body">
            <form method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Название</label>
                        <input type="text" name="title" class="form-control" placeholder="Название группы">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Метка</label>
                        <input type="text" name="label" class="form-control" placeholder="Метка группы группы">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Описание</label>
                        <textarea name="description" class="form-control" name="description"></textarea>
                    </div>
                </div>
                <div class="submit-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-default pull-right upload-button" href="#">Сохранить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>