<div id="groups">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Группы для содержимого</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% for group in groups %}
                    <div class="row item">
                        <div class="col-md-2 title">
                            <label>Название</label>
                            <input name="group[{{ group.id }}][title]" type="text" class="form-control" value="{{ group.title }}">
                        </div>
                        <div class="col-md-2 title">
                            <label>Метка</label>
                            <input name="group[{{ group.id }}][label]" type="text" class="form-control" value="{{ group.label }}">
                        </div>
                        <div class="col-md-5">
                            <label>Описание</label>
                            <textarea name="group[{{ group.id }}][description]" class="form-control">{{ group.description }}</textarea>
                        </div>
                        <div class="col-md-3">
                            <div class="btn btn-group">
                                <a href="/site-construction/catalog/1?group_id={{ group.id }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                                <a href="#" data-id="{{ group.id }}" class="btn btn-default red delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                <div class="submit-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-default pull-right upload-button" href="#">Сохранить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#groups a.delete').click(function (e) {
            e.preventDefault();
            if (confirm('Уверены, что хотите удалить эту группу?')) {
                $.ajax(
                        {
                            url: '/site-construction/groups/' + $(e.currentTarget).data('id'),
                            method: 'DELETE'
                        }
                ).done(function (res) {
                    console.log('функционирует');
                    $(e.currentTarget).parents('.item').remove();
                });
            }

        });
    });
</script>