<ul class="{% if tree.in_path %}{% else %} hidden{% endif %}">
    {% for item in tree.child %}
        {#<li style="z-index: {{ loop.revindex }};">#}
        <li>
            <div class="catalog__link">
                <a href="{{ item.path }}">{{ item.title|raw }}</a>
                {% if item.child is not empty %}
                    <a href="#" class="expand{% if item.in_path %} expanded{% endif %}"></a>
                {% else %}
                    <span></span>
                {% endif %}
            </div>
            {% if item.child is not empty %}
                {{ include('/modules/catalogtree.twig', {tree: item, level: 1}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
