<p>Заполненная форма с сайта</p>
<h2>{{ request.header }}</h2>
{% for field in request.fields %}
<div><strong>{{ field.title }}</strong> {% if fields[field.id] is defined%}{{ fields[field.id].value }}{% endif %}</div>
{% endfor %}