
<script>
    $(document).ready(function () {

        $('#sendmessage{{ request.id }} form').submit(function(event) {
            event.preventDefault();
            console.log($(this).serializeArray());

            var data = {
                id: {{ request.id }},
                data: $(this).serializeArray()
            };
            $.post(
              '/ajax/requestsend',
              data
            ).done(function(res) {
                        if (res.error) {
                            console.error('Ошибка обратной связи');
                        } else {
                            $('#sendmessage{{ request.id }} .sendform').fadeOut(500);
                            $('#sendmessage{{ request.id }} .success').fadeIn(500);
                        }
            });
        });
    });
</script>
<div id="sendmessage{{ request.id }}" class="margin-bottom">
    <div class="sendform row">
        <div class="col-md-12">
            <h2>{{ request.header }}</h2>
        </div>
        <form>
            {% include(fields_template) with {fields: request.fields, input_class: input_class, item_fields: item.fields} %}
            <div class="col-md-12">
                <input type="submit" name="upload" value="Отправить запрос">
            </div>
        </form>
    </div>
    <div class="success" style="display: none;">
        <p>Спасибо. Ваш запрос был отправлен ответственному лицу.</p>
    </div>
</div>


