<div class="search-form">
    <form action="{{ catalog.path }}" method="GET">
        <input type="text" name="search" placeholder="...поиск по сайту">
        <a href="#" class="submit-upload"></a>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.search-form a.submit-upload').click(function (e) {
            e.preventDefault();
            $(this).closest('form').submit();
        });
    });
</script>