
<script>
    $(document).ready(function () {
        $('#sendmessage form').submit(function(event) {
            event.preventDefault();
            var data = {
                name: $('#sendmessage form input[name="name"]').val(),
                mail: $('#sendmessage form input[name="mail"]').val(),
                message: $('#sendmessage form textarea[name="message"]').val()
            };
            $.post(
              '/ajax/backmail',
              data
            ).done(function(res) {
                        if (res.error) {
                            console.error('Ошибка обратной связи');
                        } else {
                            $('#sendmessage .sendform').fadeOut(500);
                            $('#sendmessage .success').fadeIn(500);
                        }
            });
        });
    });
</script>
<div id="sendmessage" class="col-6">
    <h2>Get in touch</h2>
    <div class="sendform">
        <form>
            <div class="field">
                <label>Your name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Your email</label>
                <input type="text" name="mail">
            </div>
            <div class="field">
                <label>Your message</label>
                <textarea name="message"></textarea>
            </div>
            <input type="submit" name="upload" value="Send">
        </form>
    </div>
    <div class="success hidden">
        <p>Thank you. Your message has been sent to the responsible person.</p>
    </div>
</div>


