<script src="/assets/js/galleria/galleria-1.2.9.js"></script>

<div id="galleria">
    {% for pic in pics %}
        <a href="{{ pic.staff_medium }}">
            <img
                    src="{{ pic.staff_medium }}"
            data-big="{{ pic.staff_medium }}"
            data-title="Biandintz eta zaldiak"
            data-description="Horses on Bianditz mountain, in Navarre, Spain."
            >
        </a>
    {% endfor %}
</div>


<script>

    // Load the classic theme
    Galleria.loadTheme('/assets/js/galleria/themes/black/galleria.black.js');

    // Initialize Galleria
    Galleria.run('#galleria');

</script>
