
<div class="catalog-full-description">
    <h2>{% if catalog.second_title is not empty %}{{ catalog.second_title|raw }}{% else %}{{ catalog.title|raw }}{% endif %}</h2>
    {% if catalog.type == 0 %}
            <div class="content">
                {{ catalog.content|raw }}
            </div>
        {% else %}
        {% if catalog.description is not empty %}
            <div class="description">
                {{ catalog.description|raw }}
                <a class="readon" href="index.php?razdelID={{ catalog.id }}">Readon <span>{{ catalog.title|raw }}</span></a>
            </div>
            <div class="content hidden">
                {{ catalog.content }}
            </div>
        {% else %}
            <div class="content">
                {{ catalog.content }}
            </div>
        {% endif %}
    {% endif %}
</div>


