<div class="vidget column col-12">
    <h2>{{ info.second_title|raw }}</h2>
    <div class="description">
      {{ info.description|raw }}
    </div>
    <a class="readon" href="{{ url }}/{% if info.label is not empty %}{{ info.label }}{% else %}{{ info.id }}{% endif %}">
        Подробнее <span>{{ info.title|raw }}</span>
    </a>
</div>
