    <div class="content-page type-{{ catalog.type }}">
        {% for item in items %}
        {% if (loop.index-1) is divisible by(catalog.cols) %}
        <div class="row">
        {% endif %}
          <div class="col-md-{{ 12/catalog.cols }}">
            {{ include(item_template)}}
          </div>
        {% if (loop.index is divisible by(catalog.cols)) or loop.last %}
            </div>
        {% endif %}
        {% endfor %}
        {{ include(paginator)}}
    </div>
    {% for mode in modes %}
        {{ mode|raw }}
    {% endfor %}


