<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="/assets/css/owl/owl.carousel.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/owl/owl.theme.default.min.css" rel="stylesheet" type="text/css"/>

<link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/pagemaket.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/vidgets.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/preview.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/fullview.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/current.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/lodash.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/assets/js/messages_ru.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.nivo.slider.js"></script>
<script src="/assets/js/common.js"></script>