<ul>
    {% for item in tree %}
        {% if item.child is iterable and item.child|length>0 %}
            <li {% if url == item.path %}class="active"{% endif %}>
                <a href="{{ item.path }}">
                    {{ item.title|raw }} <span class="caret"></span>
                </a>
                <ul>
                    {% for subitem in item.child %}
                        <li>
                            <a href="{{ subitem.path }}">
                                {{ subitem.title|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li {% if url == item.path %}class="active"{% endif %}>
                <a href="{{ item.path }}">{{ item.title|raw }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

