    <div class="item-full type{{ catalog.type }}">
        <h3>{{ item.title }}</h3>
        <div class="date">{{ item.date|raw }}</div>
        {{ gallery|raw }}
        <div class="content">
            {{ item.content|raw }}
        </div>

    </div>


