<div class="item type-{{ catalog.type }}">
    {% if  item.file %}
        {% for file in item.file %}
            {% if file.is_main == 1 %}
                <div class="image">
                    <div class="wrapper">
                        <div class="wrapper">
                            <img src="{{ file.rectangle_medium }}">
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h3>{{ item.title|raw }}</h3>
    <div class="description">
        {{ item.description|raw }}
    </div>
    {% for field in item.fields %}
        {% if field.label == 'url' %}
            <a class="readon" href="{{ field.values|first }}">Перейти на сайт партнёра</a>
        {% endif %}
    {% endfor %}

</div>
