<div class="item type-staff">
    {% if  item.file %}
        {% set file = item.file|first %}
        <div class="image">
            <div class="wrapper">
                <div class="wrapper">
                    <img src="{{ file.staff_prev }}">
                </div>
            </div>
        </div>
    {% endif %}
    <div class="info">
        <div class="title">{{ item.title|raw }}</div>
        <div class="description">
            {{ item.description|raw }}
        </div>
        <div class="price"><span class="actual">{{ (item.price - (item.price/100*global_discount.content))|round(0, 'floor') }} руб.</span>
            {% if global_discount.content > 0 %}
                <span class="old"><span>{{ item.price }} руб.</span> <span class="discount">{{ global_discount.content }}%</span></span>
            {% endif %}
        </div>

        <a class="readon {% if item.capitalized is iterable and item.capitalized|length == 0 and item.condition != 'no_items' %}to-basket{% endif %}"
           data-id="{{ item.id }}"
           href="{{ url }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html">Подробнее
            (в корзину)</a>
    </div>
    <a class="full-size-readon"
       href="{{ url }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html"></a>
</div>






