    <div class="item-full type{{ catalog.type }}">
        <h3>{{ item.title }}</h3>
        <div class="date">{{ item.date|raw }}</div>
        <div class="leftcolumn">
            {% if item.files.0 is not empty %}
            <div class="main-image">
                <div class="wrapper">
                    <div class="wrapper">
                        <img src="/staff_files/{{ item.files.0.src }}">
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="photo-block">
                {% for file in item.files %}
                    <div class="image">
                        <div class="wrapper">
                            <div class="wrapper">
                                <a href="/staff_files/{{ file.src }}" rel="prettyPhoto">
                                    <img src="/staff_files/{{ file.preview }}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="rightcolumn">
            <div class="content">
                {{ item.content|raw }}
            </div>
            {% if item.price is not empty %}
            <div class="price">{{ item.price }} {% if item.cashtype == 0 %}roubles{% else %}usd{% endif %}</div>
            {% endif %}
        </div>
    </div>


