<div class="item type-{{ catalog.type }}">
    <h3>{{ item.title|raw }}</h3>
    <div class="date">{{ item.date|raw }}</div>
    {% if  item.file %}
        {% for file in item.file %}
        {% if file.is_main == 1 %}
            <div class="image">
                <div class="wrapper">
                    <div class="wrapper">
                        <img src="{{ file.staff_prev }}">
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}

    {% endif %}
    <div class="description">
        {{ item.description|raw }}
    </div>
    <a class="readon" href="{{ url }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html">Подробнее</a>
</div>
