<div class="item type{{ catalog.type }}">
    <div class="date">{{ item.date }}</div>
    {% if  item.file %}
        <div class="image">
            <div class="wrapper">
                <div class="wrapper">
                    <img src="{{ item.file.staff_preview }}">
                </div>
            </div>
        </div>
    {% endif %}
    <h3>{{ item.title|raw }}</h3>
    <div class="description">
        {{ item.description|raw }}
    </div>
    {% if item.price!=0 %}
    <div class="price">{{ item.price }} {% if item.cashtype == 0 %}roubles{% else %}usd{% endif %}</div>
    {% endif %}
    <a class="readon" href="{{ url }}/{% if item.label is not empty %}{{ item.label }}{% else %}{{ item.id }}{% endif %}.html">Readon</a>
</div>
