<div class="item-full type{{ catalog.type }}">
    <div class="row">
        <div class="col-md-12">
            <div class="item__title">
                {{ item.title }}
            </div>
            <div class="item__catalogue">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <a href="{{ catalog.path }}">{{ catalog.title }}</a>
            </div>
        </div>
        <div class="col-md-6">
            {{ gallery|raw }}
        </div>
        <div class="col-md-6">


            <div class="fields">
                <div><span class="title">Артикул: </span>
                        <span class="values">
                            {{ item.custom_id }}
                        </span>
                </div>
                {% for field in item.fields %}
                    <div><span class="title">{{ field.title }}: </span>
                        <span class="values">
                            {% for value in field.values %}
                                {{ value.title }}
                            {% endfor %}
                        </span>
                    </div>
                {% endfor %}
            </div>
            {% if item.capitalized is iterable %}
                {% set firstcapi = item.capitalized|first %}
                {% if firstcapi.fields is iterable and firstcapi.fields|length > 0 %}
                    <div id="capifields">
                        {% set firstcapi = item.capitalized|first %}

                        <h4>Выберите доступную модель (
                            {% for field in firstcapi.fields %}
                                {{ field.title }}{% if loop.last %}{% else %}, {% endif %}
                            {% endfor %}
                            )</h4>
                        {% for staff in item.capitalized %}
                            <a href="#" data-id="{{ staff.id }}">
                                <div>
                                    {% for field in staff.fields %}
                                        {% for value in field.values %}
                                            {{ value.title }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="col-xs-12">

                    <div class="price-and-order {{ item.condition }}">
                        <div class="price">
                            <div class="price-and-order__head">Цена</div>
                            <div class="price__content">
                                {{ (item.price - (item.price/100*global_discount.content))|round(0, 'floor') }} <span>руб.</span>
                                {% if global_discount.content > 0 %}
                                    <span class="old"><span>{{ item.price }} руб.</span> <span class="discount">{{ global_discount.content }}%</span></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="quantity">
                            <div class="price-and-order__head">Количество</div>
                            <div class="quantity__content">
                                <a href="#" class="quantity-minus">-</a>
                                <div class="input-wrapper">
                                    <input type="number" value="1" name="item_quantity">
                                </div>
                                <a href="#" class="quantity-plus">+</a>
                            </div>
                        </div>
                        <div class="order">
                            <div class="price-and-order__head">В корзину</div>
                            <div class="order__content">
                                <a class="bye" href="/basket/{{ item.id }}" onclick="toBasket();return false;">В корзину</a>
                            </div>
                        </div>
                    </div>
                    {% if global_discount.content > 0 %}
                        <div class="discount-info">
                            На данный товар действует скидка.<br>Вы экономите <span>{{ item.price - (item.price - (item.price/100*global_discount.content))|round(0, 'floor') }}</span> рублей.
                        </div>
                    {% endif %}
                    {% if item.condition == 'no_items' %}
                        <div class="condition-info">
                            Данный товар временно отсутствует.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tabs-block">
                <div class="tabs">
                    <a href="#" class="active">
                        <div>
                        Описание
                        </div>
                    </a>
                    <a href="#">
                        <div>
                        Отзывы
                        </div>
                    </a>
                    {% for field in item.fields %}
                        {% if field.type == 'text' %}
                    <a href="#">
                        <div>
                        {{ field.title }}
                        </div>
                    </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-content content active">{{ item.content|raw }}</div>
                <div class="tab-content reviews">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% include 'forms-elements/input-text.twig' with {title: 'Ваше имя', name: 'name', value: '', placeholder: 'Ваше имя'} %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% include 'forms-elements/input-text.twig' with {title: 'Ваш e-mail', name: 'email', value: '', placeholder: 'Ваш e-mail'} %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% include 'forms-elements/textarea.twig' with {title: 'Ваш отзыв', name: 'message', value: ''} %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a class="btn btn-default" id="send-button" href="#">Отправить отзыв</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="reviews__list">
                        {% for review in item.reviews.items %}
                            <div class="row review">
                                <div class="col-xs-12 name">{{ review.user_name }}</div>
                                <div class="col-xs-12 message">
                                    <div class="date">{{ review.review_date }}</div>
                                    {{ review.message }}
                                </div>
                                {% if review.answer is not empty %}
                                <div class="col-xs-12 answer">
                                    <div>
                                        <div class="date">{{ review.answer_date }}</div>
                                        {{ review.answer }}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% for field in item.fields %}
                    {% if field.type == 'text' %}
                        <div class="tab-content">
                            {% for value in field.values %}
                                {{ value|raw }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    {% if item.capitalized is iterable and item.capitalized|length > 0%}
    {% set firstcapi = item.capitalized|first %}
    {% if firstcapi.fields is iterable and firstcapi.fields|length > 0 %}
    var capitalized;
    {% else %}
    var capitalized = {{ firstcapi.id }};
    {% endif %}
    {% else %}
    var capitalized = null;
    {% endif %}
    $('#capifields a').click(function (e) {
        e.preventDefault();
        $('#capifields a').removeClass('active');
        $(this).addClass('active');
        capitalized = $(this).data('id');
        console.log(capitalized);
    });
    function toBasket(e) {
        if ($('#capifields a').length > 0 && !capitalized) {
            $('#capifields').addClass('error');
        } else {
            let quantity = $('input[name="item_quantity"]').val();
            $('#capifields').removeClass('error');
            $('#basket').addClass('active');
            $.ajax({
                url: "/ajax/basket/{{ item.id }}",
                method: "POST",
                data: {capitalized: capitalized, quantity: quantity},
                dataType: 'json'
            }).done(function (res) {
                        setTimeout(function () {
                            $('#basket').removeClass('active');
                        }, 200);
                        $('#basket .counter span').text(res.quantity_count);
                        $('#basket .sum span').text(res.sum);
                    });
        }
        return false;
    }
    $(document).ready(function () {
        $('.tab-content.reviews a#send-button').click(function (e) {
            e.preventDefault();
            var data = $('.tab-content.reviews form').serializeArray();
            data.push({name: 'staff_id', value: {{ item.id }}});
            data.push({name: 'catalogue_id', value: {{ catalog.id }}});
            $.post('/ajax/reviews', data)
                    .done(function (res) {
                        res = eval('(' + res + ')');
                        if (res.error) {
                            console.error('Ошибка добавления отзыва');
                        } else {
                            $('.tab-content.reviews .reviews__list').prepend(
                                    '<div class="row review"><div class="col-xs-12 name">' + res.name + '</div>' +
                                    '<div class="col-xs-12 message">' + res.message + '</div></div>'
                            );
                        }
                    });

        });
    });
</script>

