<ul class="{% if (hiddenlevel != level and level == 0) or parent_id in selected%}{% else %} hidden{% endif %}">
    {% for item in items %}
        <li style="z-index: {{ loop.revindex }};">
            <div class="field__link">
                <a href="{{ item.url }}">{{ item.title|raw }}</a>
                {% if item.items is not empty %}
                    <a href="#" class="expand{% if item.id in selected %} expanded{% endif %}"></a>
                {% else %}
                    <span></span>
                {% endif %}
            </div>
            {% if item.items is not empty %}
                {{ include('/menu-field.twig', {items: item.items, parent_id: item.id, level: 1}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

