<div class="gallery">
    <div id="slider-{{ gallery_id }}" class="nivoSlider">
        {% for item in items %}
            {% for file in item.file %}
            <a href="#">
                <img src="{{ file.gallery_main }}" border=0 title="#htmlcaption-{{ item.id }}">
            </a>
            {% endfor %}
        {% endfor %}
    </div>
    {% for item in items %}
        <div id="htmlcaption-{{ item.id }}" class="nivo-html-caption">{{ item.title }}</div>
    {% endfor %}
</div>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider-{{ gallery_id }}').nivoSlider();
    });
</script>
