<div class="gallery">
    <div id="slider-{{ gallery_id }}" class="nivoSlider">
            {% for file in files %}
            <a href="#">
                <img src="{{ file.rectangle_medium }}" data-thumb="{{ file.staff_prev }}" border=0 title="#htmlcaption-{{ file.id }}">
            </a>
            {% endfor %}
    </div>
    {% for file in files %}
        {% if file.info is not empty %}
        <div id="htmlcaption-{{ file.id }}" class="nivo-html-caption"></div>
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider-{{ gallery_id }}').nivoSlider({
            controlNavThumbs: true,
            pauseTime: 3000
        });
    });
</script>
