<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{ 'title'|modules }}</title>
    <meta name="template" content="ss_main.html">
    <meta name="description" content="{{ 'description'|modules }}">
    <meta name="keywords" content="{{ 'keywords'|modules }}">
    {% include 'headconnections.twig' %}
</head>

<body>
<div class="mainblock container">
    <div class="headers">
        <div class="row header">
            <div class="col-md-6">
                {{ 'auth_info'|modules }}
            </div>
            <div class="col-md-6 phone pull-righ hidden-xs">
                {{ 'vidgets-option,phone'|modules }}
            </div>
        </div>
        <div class="header_second">
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="hmenu_second">
                {{ 'hmenu,1'|modules }}
            </div>
            <div id="basket">
                {{ 'basket'|modules }}
            </div>
            <a id="mobile-menu-switcher" class="visible-xs"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 hmenu">
            {{ 'hmenu,12'|modules }}
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-12">
            {{ 'ad,3'|modules }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="sitemessage">Наш сайт в разработке</div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contacts">
                <h2>Наши контакты</h2>

                <div class="row">
                    <div class="col-md-2 info phone">{{ 'vidgets-option,phone'|modules }}</div>
                    <div class="col-md-2 info email">{{ 'vidgets-option,email'|modules }}</div>
                    <div class="col-md-5 info address">{{ 'vidgets-option,contacts'|modules }}</div>
                    <div class="col-md-3 info copyrights">{{ 'vidgets-option,copyrights'|modules }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
