<div class="owl-gallery">
    <div id="owl-{{ gallery_id }}" class="mainImage owl-carousel">
        {% for file in files %}
            <div>
                <img src="{{ file.rectangle_medium }}" data-thumb="{{ file.staff_prev }}" border=0 title="#htmlcaption-{{ file.id }}">
            </div>
        {% endfor %}
    </div>
    <div id="owl-navi-{{ gallery_id }}" class="owl-carousel">
            {% for file in files %}
            <div>
                <img src="{{ file.rectangle_medium }}" data-thumb="{{ file.staff_prev }}" border=0 title="#htmlcaption-{{ file.id }}">
            </div>
            {% endfor %}
    </div>
</div>
<script type="text/javascript">
    $(window).load(function() {
        $("#owl-navi-{{ gallery_id }}").owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:4
                }
            }
        });
        $("#owl-{{ gallery_id }}").owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                }
            }
        })
    });
</script>
