<div id="reviews" class="reviews">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {% include 'forms-elements/input-text.twig' with {title: 'Ваше имя', name: 'name', value: '', placeholder: 'Ваше имя'} %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {% include 'forms-elements/input-text.twig' with {title: 'Ваш e-mail', name: 'email', value: '', placeholder: 'Ваш e-mail'} %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {% include 'forms-elements/textarea.twig' with {title: 'Ваш отзыв', name: 'message', value: ''} %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <a class="input-submit" id="send-button" href="#">
                        <span>
                        Отправить отзыв
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </form>
    <div class="reviews__list">
        {% for review in reviews %}
            <div class="row review">
                <div class="col-xs-12">
                    <span class="date">{{ review.review_date }}</span>&nbsp;
                    {% if review.name is not empty %}
                        <span class="name">{{ review.name }}</span>
                    {% else %}
                        <span class="name">{{ review.user_name }}</span>
                    {% endif %}
                </div>
                <div class="col-xs-12 message">
                    {{ review.message|raw }}
                </div>
                {% if review.answer is not empty %}
                    <div class="col-xs-12 answer">
                        <div>
                            <div class="date">{{ review.answer_date }}</div>
                            {{ review.answer }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row divider">
                <div class="col-xs-12"><hr/></div>
            </div>
        {% endfor %}
    </div>
    {{ include(paginator)}}
</div>
<script>
    $(document).ready(function () {
        $('#reviews a#send-button').click(function (e) {
            e.preventDefault();
            var data = $('#reviews form').serializeArray();
            $.post('/ajax/reviews', data)
                    .done(function (res) {
                        res = eval('(' + res + ')');
                        if (res.error) {
                            console.error('Ошибка добавления отзыва');
                        } else {
                            $('#reviews.reviews .reviews__list').prepend(
                                    '<div class="row review"><div class="col-xs-12 name">' + res.name + '</div>' +
                                            '<div class="col-xs-12 message">' + res.message + '</div></div>'
                            );
                        }
                    });
        });
    });
</script>