{% set interval = 3 %}
{% if page_count > 1 %}
<div class="paginator">
    <div class="pages">
        {% if current_page>1 %}
            <a class="left" href ="{{ url }}/page{{ current_page-1 }}{{ query_string }}">Предыдущая</a>
        {% endif %}
        {% if page_count>1 %}
            {% for page in current_page-interval.. current_page+interval%}
                {% if current_page == page %}
                <span class="selected">{{ page }}</span>
                {% else %}
                    {% if page>0 and page<=page_count %}
                        <a href ="{{ url }}/page{{ page }}{{ query_string }}">{{ page }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if current_page<page_count %}
            <a class="right" href ="{{ url }}/page{{ current_page+1 }}{{ query_string }}">Следующая</a>
        {% endif %}
    </div>
</div>
{% endif %}