<div class="row staff" id="staff">
    <div class="col-md-12">
        <a href="#" class="btn-default">Начать парсинг товаров</a>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%;">
                <span class="sr-only">60% 0/0</span>
            </div>
        </div>
        <div class="parseInfo"></div>
        <div class="debugInfo"></div>
    </div>
</div>

<div class="row" id="reviews">
    <div class="col-md-12">
        <a href="#" class="btn-default">Начать парсинг отзывов</a>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%;">
                <span class="sr-only">60% 0/0</span>
            </div>
        </div>
        <div class="parseInfo"></div>
        <div class="debugInfo"></div>
    </div>
</div>

<div class="row" id="users">
    <div class="col-md-12">
        <a href="#" class="btn-default">Начать парсинг пользователей</a>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%;">
                <span class="sr-only">60% 0/0</span>
            </div>
        </div>
        <div class="parseInfo"></div>
        <div class="debugInfo"></div>
    </div>
</div>

<div class="row" id="orders">
    <div class="col-md-12">
        <a href="#" class="btn-default">Начать парсинг заказов</a>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%;">
                <span class="sr-only">60% 0/0</span>
            </div>
        </div>
        <div class="parseInfo"></div>
        <div class="debugInfo"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
                var total, count, totalStaff = 0, totalReviews, totalUsers, parseCount = 0, parseReviewsCount = 0, debug = [];

                function parse(parseCount) {
                    $.ajax({url: '/parser/' + parseCount, dataType: 'json'})
                            .done(function (res) {
                                if (res.error) {
                                    $('#staff .parseInfo').text(res.error);
                                } else {
                                    $('#staff  .parseInfo').text('Парсим: ' + res.item.tovarname);
                                    _.map(res.debug, function (debugItem) {
                                        debug.push(debugItem);
                                    });
                                    $('#staff .debugInfo').html(debug.join('<br>'));
                                    var percentage = Math.floor(parseCount / (totalStaff / 100));
                                    parseCount++;
                                    $('#staff .sr-only').text(percentage + '% ' + parseCount + '/' + totalStaff);
                                    $('#staff .progress-bar').css('width', percentage + '%');
                                    if (parseCount < totalStaff) {
                                        setTimeout(parse(parseCount), 500);
                                    }
                                }
                            });
                }

                $('#staff a').click(function (e) {
                    e.preventDefault();
                    $.ajax({url: '/parser/total', dataType: 'json'})
                            .done(function (res) {
                                totalStaff = res.total;
                                $('#staff .sr-only').text('0% 0/' + totalStaff);
                                $('#staff .progress-bar').css('width', '0%');
                                parse(parseCount);
                            });
                });

                function parseReviews(parseCount) {
                    $.ajax({url: '/parser/reviews/' + parseCount, dataType: 'json'})
                            .done(function (res) {
                                if (res.error) {
                                    $('#reviews .parseInfo').text(res.error);
                                } else {
                                    $('#reviews  .parseInfo').text('Парсим: ' + res.review.message);
                                    _.map(res.debug, function (debugItem) {
                                        debug.push(debugItem);
                                    });
                                    $('#reviews .debugInfo').html(debug.join('<br>'));
                                    var percentage = Math.floor(parseCount / (total / 100));
                                    parseCount++;
                                    $('#reviews .sr-only').text(percentage + '% ' + parseCount + '/' + total);
                                    $('#reviews .progress-bar').css('width', percentage + '%');
                                    if (parseCount < total) {
                                        setTimeout(parseReviews(parseCount), 500);
                                    }
                                }
                            });
                }

                $('#reviews a').click(function (e) {
                    e.preventDefault();
                    total = 0;
                    count = 0;
                    $.ajax({url: '/parser/total/reviews', dataType: 'json'})
                            .done(function (res) {
                                total = res.total;
                                $('#reviews .sr-only').text('0% 0/' + total);
                                $('#reviews .progress-bar').css('width', '0%');
                                parseReviews(count);
                            });
                });

                //парсинг пользователей
                function parseUsers(parseCount) {
                    $.ajax({url: '/parser/users/' + parseCount, dataType: 'json'})
                            .done(function (res) {
                                if (res.error) {
                                    $('#users .parseInfo').text(res.error);
                                } else {
                                    $('#users  .parseInfo').text('Парсим: ' + res.user.nick);
                                    _.map(res.debug, function (debugItem) {
                                        debug.push(debugItem);
                                    });
                                    $('#users .debugInfo').html(debug.join('<br>'));
                                    var percentage = Math.floor(parseCount / (total / 100));
                                    parseCount++;
                                    $('#users .sr-only').text(percentage + '% ' + parseCount + '/' + total);
                                    $('#users .progress-bar').css('width', percentage + '%');
                                    if (parseCount < total) {
                                        setTimeout(parseUsers(parseCount), 500);
                                    }
                                }
                            });
                }

                $('#users a').click(function (e) {
                    e.preventDefault();
                    total = 0;
                    count = 0;
                    $.ajax({url: '/parser/total/users', dataType: 'json'})
                            .done(function (res) {
                                total = res.total;
                                $('#users .sr-only').text('0% 0/' + total);
                                $('#users .progress-bar').css('width', '0%');
                                parseUsers(count);
                            });
                });

                //парсинг заказов
                function parseOrders(parseCount) {
                    $.ajax({url: '/parser/orders/' + parseCount, dataType: 'json'})
                            .done(function (res) {
                                if (res.error) {
                                    $('#orders .parseInfo').text(res.error);
                                } else {
                                    $('#orders  .parseInfo').text('Парсим: ' + res.orders.order_nomer);
                                    _.map(res.debug, function (debugItem) {
                                        debug.push(debugItem);
                                    });
                                    $('#orders .debugInfo').html(debug.join('<br>'));
                                    var percentage = Math.floor(parseCount / (total / 100));
                                    parseCount++;
                                    $('#orders .sr-only').text(percentage + '% ' + parseCount + '/' + total);
                                    $('#orders .progress-bar').css('width', percentage + '%');
                                    if (parseCount < total) {
                                        parseOrders(parseCount);
                                    }
                                }
                            });
                }

                $('#orders a').click(function (e) {
                    e.preventDefault();
                    total = 0;
                    count = 0;
                    $.ajax({url: '/parser/total/orders', dataType: 'json'})
                            .done(function (res) {
                                total = res.total;
                                $('#users .sr-only').text('0% 0/' + total);
                                $('#users .progress-bar').css('width', '0%');
                                parseOrders(count);
                            });
                });

            }
    );
</script>