<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{ 'title'|modules }}</title>
    <meta name="template" content="ss_main.html">
    <meta name="description" content="{{ 'description'|modules }}">
    <meta name="keywords" content="{{ 'keywords'|modules }}">
    {% include 'headconnections.twig' %}
</head>

<body>
<div class="head">
    <div class="wrapper">
        <a href="/" class="logo"></a>
        <div id="basket">
            <a href="/basket" class="visible-xs-block mobile-link"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            {{ 'basket'|modules }}
        </div>
        {{ 'auth_info'|modules }}
        <div class="hmenu">
            <a href="#" class="visible-xs-block toggle-mobile-hidden"><i class="fa fa-book" aria-hidden="true"></i></a>
            <div class="wrapper mobile-hidden">
                {{ 'hmenu,1'|modules }}
            </div>
        </div>
    </div>
</div>
<div class="mainblock container">
    <div class="row">
        <div class="col-md-4">
            {{ 'search-form,12'|modules }}
            <div class="catalog">
                {{ 'catalog,12'|modules }}
            </div>
            <div id="brends">
                {{ 'field_menu,12,brend'|modules }}
            </div>
        </div>
        <div class="col-md-8">
            <div class="catalog-info margin-bottom">
                {{ 'cataloginfo'|modules }}
            </div>
            {{ content|raw }}
        </div>
    </div>
</div>



<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 contacts">

            </div>
            <div class="col-md-4 contacts">
                <div class="row">
                    <div class="col-md-12 info phone">{{ 'vidgets-option,phone'|modules }}</div>
                    <div class="col-md-12 info email">{{ 'vidgets-option,email'|modules }}</div>
                </div>
            </div>
            <div class="col-md-4 contacts">

            </div>
        </div>
    </div>
</div>
<!-- Sliza.ru - Widget -->
<script type="text/javascript" src="https://sliza.ru/widget.php?id=3611&h=83ebcbfe2bd786781e1880b3c1b0febe&t=s" async defer></script>
<!-- /// -->
</body>
</html>
