<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{ 'title'|modules }}</title>
    <meta name="template" content="ss_main.html">
    <meta name="description" content="{{ 'description'|modules }}">
    <meta name="keywords" content="{{ 'keywords'|modules }}">
    <meta name="mailru-verification" content="22cca492682895a3" />
</head>

<body>
Api-HiVision v.1.1
</body>
</html>
