<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{ 'title'|modules }}</title>
    <meta name="template" content="ss_main.html">
    <meta name="description" content="{{ 'description'|modules }}">
    <meta name="keywords" content="{{ 'keywords'|modules }}">
    {% include 'headconnections.twig' %}
</head>

<body>
<div id="screen-in-shadow"></div>
<div class="head">
    <div class="wrapper">
        <a href="/" class="logo"></a>
        <div id="basket">
            <a href="/basket" class="visible-xs-block mobile-link"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            {{ 'basket'|modules }}
        </div>
        {{ 'auth_info'|modules }}
        <div class="hmenu">
            <a href="#" class="visible-xs-block toggle-mobile-hidden"><i class="fa fa-book" aria-hidden="true"></i></a>
            <div class="wrapper mobile-hidden">
            {{ 'hmenu,1'|modules }}
            </div>
        </div>
    </div>
</div>
<div class="mainblock container">
    <div class="row">
        <div class="col-md-12">
            <div class="catalogue-name">{{ 'catalogname'|modules }}</div>
            <div class="catalog-info margin-bottom">
                {{ 'cataloginfo'|modules }}
            </div>
            {{ content|raw }}
        </div>
    </div>
</div>

<div class="footer">
    <div class="wrapper">
        <div class="contacts">
            <div class="info phone">{{ 'vidgets-option,phone'|modules }}</div>
            <div class="info">{{ 'vidgets-option,phone_second'|modules }}</div>
            <div class="info email">{{ 'vidgets-option,email'|modules }}</div>
        </div>
        <a href="/" class="logo"></a>
        <div class="social-links">
            <a href="https://www.instagram.com/www_molypoly_ru/"></a>
        </div>
        <div class="counter"></div>
    </div>
</div>
<script type='text/javascript'>
    (function(){ var widget_id = 'kmdocyUIUr';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
</body>
</html>

