<div class="vidget staff-present" id="{{ block_id }}">
    <div class="row">
    <div class="col-md-12">
        <h2>{{ parent.title }}</h2>
    </div>
    </div>

    {% for item in items %}
        {% if (loop.index-1) is divisible by(cols) %}
        <div class="row">
        {% endif %}
        <div class="col-md-{{ 12/cols }}">
        {% include 'vidgets/staff-item.twig' with {item: item, catalog: parent, global_discount: global_discount} %}
    </div>
            {% if (loop.index is divisible by(cols)) or loop.last %}
            </div>
            {% endif %}
    {% endfor %}
</div>
