<div id="add-method">
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <h3>Новый способ доставки</h3>
            </div>
            <div class="col-xs-8">
                <label for="inputtitle">Название</label>
                <input type="text" name="title" class="form-control" id="inputtitle" value="" placeholder="Название..." required>
            </div>
            <div class="col-xs-4">
                <label for="inputprice">Стоимость доставки</label>
                <input type="text" name="price" class="form-control" id="inputprice" value="" placeholder="Стоимость в рублях" required>
            </div>
            <div class="col-md-12">
                <label for="inputdescription">Описание</label>
                <textarea class="form-control" id="inputdescription" name="description" rows="3" required></textarea>
            </div>
            <div class="col-md-12">
                <label for="inputmailmessage">Сообщение в письме</label>
                <textarea class="form-control" id="inputmailmessage" name="mail_message" rows="3" required></textarea>
            </div>
        </div>
        <div class="submit-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default pull-right upload-button" href="#">Добавить способ</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>