<div id="shipping-edit">
    <div class="row">
        <div class="col-md-12">
            <h2>Способы доставки</h2>
            <hr>
        </div>
    </div>
    {% if methods|length == 0 %}
        <div class="row">
            <div class="col=md-12">Нет ни одного способа доставки. <a
                        href="/site-construction/shipping/new">Добавить?</a></div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-4">
                Описание
            </div>
            <div class="col-md-4">
                Сообщение в письме
            </div>
            <div class="col-md-2">
                Цена
            </div>
            <div class="col-md-1">
                Вкл.
            </div>
            <div class="col-md-1">
                Уд.
            </div>
            <div class="col-md-12 divider">
                <hr>
            </div>
        </div>
        <form method="post">
            {% for method in methods %}
                {% if method.is_deleted == 1 %}
                    <div class="row item deleted">
                        <div class="col-md-4">
                            {{ method.description }}
                        </div>
                        <div class="col-md-2">
                            {{ method.price }}
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-12 divider">
                            <hr>
                        </div>
                    </div>
                {% else %}
                    <div class="row item">
                        <div class="col-md-12 form-group">
                            <input type="text" name="methods[{{ method.id }}][title]" value="{{ method.title }}"
                                   class="form-control">
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control"
                                      name="methods[{{ method.id }}][description]">{{ method.description }}</textarea>
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control"
                                      name="methods[{{ method.id }}][mail_message]">{{ method.mail_message }}</textarea>
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="methods[{{ method.id }}][price]" value="{{ method.price }}"
                                   class="form-control">
                        </div>
                        <div class="col-md-1">
                            <input type="hidden" name="methods[{{ method.id }}][status]" value="disabled">
                            <input type="checkbox" name="methods[{{ method.id }}][status]"
                                   {% if method.status == 'enabled' %}checked{% endif %} value="enabled">
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="delete" data-id="{{ method.id }}"><span
                                        class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <div class="col-md-12 divider">
                            <hr>
                        </div>
                    </div>
                    <input type="hidden" name="methods[{{ method.id }}][is_deleted]" value="{{ method.is_deleted }}">
                    <input type="hidden" name="methods[{{ method.id }}][id]" value="{{ method.id }}">
                {% endif %}
            {% endfor %}
            <div class="submit-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default pull-right upload-button" href="#">Сохранить</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
</div>
<script>
    $(document).ready(function () {
        $('#shipping-edit a.delete').click(function (e) {
            e.preventDefault();
            if (confirm('Уверены, что хотите пометить этот объект к удалению?')) {
                $.ajax(
                        {
                            url: '/site-construction/shipping/' + $(e.currentTarget).data('id'),
                            method: 'DELETE'
                        }
                ).done(function (res) {
                            $(e.currentTarget).parents('.item').remove();
                        });
            }

        });
    });
</script>


