<!DOCTYPE html>
<html>
<head>
<title>Административаная панель Lilu.cms</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link href="/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/pickmeup.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/lodash.min.js"></script>
    <script type="text/javascript" src="/vendors/ckeditor_m/ckeditor.js"></script>
    <script src="/assets/js/JQuery.JSAjaxFileUploader.js"></script>
    <script type="text/javascript" src="/assets/js/pickmeup.js"></script>
    <script src="/assets/js/a_common.js"></script>
    <link href="/assets/css/JQuery.JSAjaxFileUploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
{{ 'a_sysmenu'|modules }}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" id="catalog-tree">
                <div class="panel-heading">
                    Каталог сайта
                </div>
                <div class="panel-body">
                {{ ('a_catalog,' ~ catalog_id) |modules }}
                </div>
            </div>
            <div class="btn-group btn-group-justified margin-bottom" role="group">
                <a href="/site-construction/catalog/{{ catalog_id }}/new" class="btn btn-primary">Новая рубрика</a>
            </div>
            <div class="btn-group btn-group-justified" role="group">
                <a href="/site-construction/catalog/{{ catalog_id }}/new-item" class="btn btn-primary">Новая статья (товар)</a>
            </div>
        </div>
        <div class="col-md-8">
            {{ content|raw }}
        </div>
    </div>

</div>
</body>
</html>