<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Вход в административную панель</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link href="/assets/css/admin.css" rel="stylesheet" type="text/css">
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</head>

<body class="auth-page">
<div id ="logform">
    <form method="post" action="/site-construction/auth">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" name="email" class="form-control" placeholder="Логин (email) администратора" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-sunglasses"></span>
            </span>
            <input type="password"  name="password" class="form-control" placeholder="Пароль" aria-describedby="sizing-addon3">
        </div>
        <button type="submit" class="btn btn-info">Авторизоваться</button>
        <input type="hidden" name="url" value={{ url }}>
    </form>
</div>
<div id="copyrights">
    <p>Разработка и поддержка — Алексей Карпычев</p>
    <p>+7 (4232) 989387 596538@mail.ru</p>
</div>
</body>
</html>
