<div class="v_ad_block" id="pr{{ block.id }}">
    {% for ad in ads %}
        <a href="{{ ad.link }}">
            <div class="img">
                <img src="{{ ad.gallery_main }}" border=0>
            </div>
            <div class="title">
                {{ ad.title }}
            </div>
        </a>
    {% endfor %}
</div>

