<div class="gallery">
    <div id="slider-{{ gallery_id }}" class="nivoSlider">
            {% for ad in ads %}
            <a href="{{ ad.link }}">
                <img src="{{ ad.gallery_main }}" border=0 title="#htmlcaption-{{ ad.id }}">
            </a>
            {% endfor %}
    </div>
    {% for ad in ads %}
        {% if ad.info is not empty %}
        <div id="htmlcaption-{{ ad.id }}" class="nivo-html-caption">
            <div class="title">
                {{ ad.title }}
            </div>
            <div class="info">
                {{ ad.info }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider-{{ gallery_id }}').nivoSlider({pauseTime: 3000});
    });
</script>
