<div id="reviews">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Отзывы</h3>
        </div>
        <div class="panel-body">
            {% for review in reviews.items %}
                <div class="row item">

                    <div class="col-md-2 staff">
                        {% if staff[review.staff_id] is iterable %}
                            <div class="title">{{ staff[review.staff_id].title }}</div>
                            {% if staff[review.staff_id].files is iterable %}
                                {% for file in staff[review.staff_id].files %}
                                    {% if file.is_main == 1 %}
                                        <div class="image">
                                            <div class="wrapper">
                                                <img src="{{ file.preview.admin_prev }}">
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <div class="name">{{ review.user_name }}</div>
                        <div class="message">{{ review.message }}</div>
                    </div>
                    <div class="col-md-4 answer">
                        <div class="row form hidden">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    {% include 'forms-elements/textarea.twig' with {title: 'Ваш ответ', name: 'answer', value: review.answer} %}
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <a href="#" data-id="{{ review.id }}"><span class="glyphicon glyphicon-floppy-save"></span></a>
                            </div>
                        </div>
                        <div class="text">
                            {% if review.answer is empty %}
                                кликните чтобы добавить ответ
                            {% else %}
                                {{ review.answer }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-1 approved">
                        <a href="#"  data-id="{{ review.id }}" class="btn btn-default {% if review.approved == 1 %}active{% endif %}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    </div>
                    <div class="col-md-12 divider">
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="submit-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                {{ ('paginator,'~ pages_count ~','~ current_page)|modules }}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#reviews .answer .text').click(function (e) {
            $(this).addClass('hidden');
            $(this).siblings('.form').removeClass('hidden');
        });
        $('#reviews .answer .form a').click(function (e) {
            e.preventDefault();
            $(this).parents('.form').addClass('hidden');
            var textEl = $(this).parents('.form').siblings('.text');
            textEl.removeClass('hidden');

            var id = $(e.currentTarget).data('id'),
                    answer = $(this).parents('.form').find('textarea').val();
            $.post('/ajax/reviews/' + id, {answer: answer}, 'json')
                    .done(function (res) {
                        if (res.error) {
                            console.error('Ошибка редактирования отзыва');
                        } else {
                            textEl.html(answer);
                        }
                    });
        });
        $('#reviews .approved a').click(function (e) {
            e.preventDefault();

            var id = $(e.currentTarget).data('id');
            $.post('/ajax/reviews/' + id, {approved: 1}, 'json')
                    .done(function (res) {
                        if (res.error) {
                            console.error('Ошибка редактирования отзыва');
                        } else {
                            $(e.currentTarget).toggleClass('active');
                        }
                    });
        })
    });
</script>

