{% extends "mail_templates/client_mail.twig" %}
{% block content %}
    <p>Спасибо за Ваш заказ на нашем сайте.</p>
    <p>Ваш заказ обработан.
        {#При желании вы можете его оплатить online перейдя по
        <a href="http://{{ domain }}/orders/{{ order.id }}/pay">ссылке</a>.#}
    </p>
    <h2>Детали Вашего заказ</h2>
    <p>------------------------------------------------</p>
    <h3>Адрес доставки:</h3>
    <p><strong>Имя:</strong> {{ order.info.name }}</p>
    <p><strong>Телефон:</strong> {{ order.info.phone }}</p>
    <p><strong>Индекс:</strong> {{ order.info.postindex }}</p>
    <p><strong>Регион:</strong> {{ order.info.region }}</p>
    <p><strong>Город:</strong> {{ order.info.city }}</p>
    <p><strong>Улица:</strong> {{ order.info.street }}</p>
    <p><strong>Дом:</strong> {{ order.info.house }}</p>
    <p><strong>Квартира/офис:</strong> {{ order.info.flat }}</p>
    <p>------------------------------------------------</p>
    <p><strong>Выбранный способ доставки и оплаты:</strong> {{ order.shipping.title }}</p>
    <p>------------------------------------------------</p>
    <p>{{ order.shipping.mail_message }}</p>
    <p>------------------------------------------------</p>
    <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>


    {% set count = order.staff|length %}
    <h3 style="font-size: 14px;font-weight: normal;color: #de7474">Заказанные товары ({{ count }} товар{% if count > 1 and count < 5 %}а{% endif %}{% if count > 4 %}ов{% endif %}):</h3>

    <div class="basket" style="overflow: hidden; font-family: Tahoma, Arial; font-size: 12px;">
        <table width="100%">
            {% for basket_item in order.staff %}
                {% set item = staff[basket_item.staff_id] %}
                {% if (loop.index-1)%3 == 0 %}<tr>{% endif %}
                <td width="33%">
                    <div class="item"
                         style="width: 100%; overflow: hidden;margin-right: 4px;border: 1px solid #de7474;">
                        {% if  item.files is iterable %}
                            {% set file = item.files|first %}
                            <div class="image" style="width: 100%;">

                                <img src="http://{{ domain }}{{ file.preview.staff_prev }}"
                                     style="width: 100%; height: auto;">


                            </div>
                        {% endif %}
                        <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>
                        <div style="padding: 4px;font-size: 14px; color: #de7474;">{{ item.title|raw }}</div>

                        <div style="padding: 4px;">{{ basket_item.quantity }} * {{ basket_item.price }} {% if basket_item.old_price > basket_item.price %}<s>{{ basket_item.old_price }}</s>{% endif %}руб</div>
                    </div>
                </td>
                {% if (loop.index)%3 == 0 %}</tr>{% endif %}
            {% endfor %}
        </table>
        <div class="sum">
            {% set discount = max(order.info.discount.user, order.info.discount.global) %}
            {% if discount > 0 %}
                <p>Скидка на Ваш заказ - {{ discount }}%</p>
            {% endif %}

            Общая стоимость: {{ order.info.sum }} руб.
            {% if order.info.discountSum < order.info.sum %}
                Общая стоимость со скидкой: {{ order.info.discountSum }} руб.
            {% endif %}
        </div>
    </div>
{% endblock %}