{% extends "mail_templates/client_mail.twig" %}
{% block content %}
    <p>Здравствуйте, {{ order.info.name }}!</p>
    <p>==================================================================</p>
    <p>Посылка с Вашим заказом отправлена.</p>

    <p>Номер почтового идентификатора {{ post_id }}.</p>

    <p>Отследить движение бандероли можно по данному номеру на сайте Почты России по ссылке:
        http://www.russianpost.ru/resp_engine.aspx?Path=rp/servise/ru/home/postuslug/trackingpo</p>

    <p>Обращаем Ваше внимание, что иногда на сайте Почты информация обновляется не слишком оперативно.</p>

    <p>Номер трека мы дополнительно вышлем СМС-сообщением на Ваш номер.</p>

    <p>Нам будет приятно, если Вы оставите свой отзыв о работе нашего магазина и выбранных Вами средств</p>

    <p>Обращайтесь в нам снова!</p>

    <p>И помните, что Вы прекрасны всегда! И это не обсуждается!:)</p>

    С уважением, администрация сайта {{ domain }}
{% endblock %}

