<p>Спасибо за внимание к нашему магазину.</p>
<p>Ваш заказ оплачен. В дальнейшем вы получите Ваши покупки посредством выбранного Вами метода доставки.</p>
<h2>Детали Вашего заказ</h2>
<p>------------------------------------------------</p>
<h3>Адрес доставки:</h3>
<p><strong>Имя:</strong> {{ order.info.name }}</p>
<p><strong>Телефон:</strong> {{ order.info.phone }}</p>
<p><strong>Индекс:</strong> {{ order.info.postindex }}</p>
<p><strong>Регион:</strong> {{ order.info.region }}</p>
<p><strong>Город:</strong> {{ order.info.city }}</p>
<p><strong>Улица:</strong> {{ order.info.street }}</p>
<p><strong>Дом:</strong> {{ order.info.house }}</p>
<p><strong>Квартира/офис:</strong> {{ order.info.flat }}</p>
<p>------------------------------------------------</p>
<h3>Заказанные товары:</h3>
{% include 'orders/staff.twig' %}

<p>------------------------------------------------</p>
<p>С уважением, Администрация {{ domain }}</p>