<div id="pay_order">
    <div class="row">
        <div class="col-md-12">
            <div class="sitemessage">Вы оплачиваете заказ № {{ order.id }} на сумму {{ order.sum }} рублей<br>
           (После нажатия на кнопку "Оплатить" Вы будете перенаправлены на систему приема электронных платежей ROBOKASSA)</div>
            <form action={{ server }} method=POST>
                <input type=hidden name=MrchLogin value="{{ mhr_login }}">
                <input type=hidden name=OutSum value="{{ order.sum }}">
                <input type=hidden name=InvId value="{{ order.id }}">
                <input type=hidden name=Desc value="{{ inv_desc }}">
                <input type=hidden name=SignatureValue value="{{ crc }}">
                <input type=hidden name=Culture value="{{ culture }}">
                <input type=hidden name=isTest value="{{ isTest }}">
                <input class="btn btn-default" type=submit value="Оплатить">
                </form>
        </div>
    </div>
</div>