<div class="basket">
    <div class="header">
        {% set count = order.staff|length %}
        Ваш заказ ({{ count }} товар{% if count > 1 and count < 5 %}а{% endif %}{% if count > 4 %}ов{% endif %})
    </div>
    {% for basket_item in order.staff %}
        {% set item = staff[basket_item.staff_id] %}
        <div class="item">
            {% if  item.files is iterable %}
                {% set file = item.files|first %}
                <div class="image">
                    <div class="wrapper">

                        <img src="http://{{ domain }}{{ file.preview.staff_prev }}">

                    </div>
                </div>
            {% endif %}
            <h3>{{ item.title|raw }}</h3>
            <div class="price">{{ basket_item.quantity }} * {{ item.price }} руб</div>
            <p>------------------------------------------------</p>
        </div>
    {% endfor %}
    <div class="sum">
        Общая стоимость: {{ order.sum }} руб.
    </div>
</div>