<div id="confirm-form">
    <div class="row">
        <div class="col-md-8">
            <form class="confirm-form" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Контактные данные:</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputFamily">Фамилия</label>
                            <input
                                    type="text"
                                    name="family"
                                    class="form-control"
                                    id="inputFamily"
                                    value="{{ contacts.family }}"
                                    minlength="2"
                                    placeholder="Фамилия">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputName">Имя</label>
                            <input
                                    type="text"
                                    name="name"
                                    class="form-control"
                                    id="inputName"
                                    value="{{ contacts.name }}"
                                    required minlength="2"
                                    placeholder="Имя">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputSurname">Отчество</label>
                            <input
                                    type="text"
                                    name="surname"
                                    class="form-control"
                                    id="inputSurname"
                                    value="{{ contacts.surname }}"
                                    minlength="2"
                                    placeholder="Отчество">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputEmail">Ваш e-mail</label>
                            <input type="email" name="email" class="form-control" id="inputEmail"
                                   value="{{ contacts.email }}" placeholder="Ваш email" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {% include 'forms-elements/input-text.twig' with {title: 'Ваш телефон', name: 'phone', value: contacts.phone, datatype: 'phone'} %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Адресные данные:</h3>
                    </div>
                    <div class="col-md-6 form-group">
                        {% include 'forms-elements/select-region.twig' with {title: 'Регион', name: 'region', items: regions, value: contacts.region_id} %}
                    </div>
                    <div class="col-md-6 form-group">
                        <div id="city-choose" {% if customCity %}class="hidden"{% endif %}>
                            {% include 'forms-elements/select-city.twig' with {title: 'Город', name: 'city', items: cities, value: contacts.city_id } %}
                        </div>
                        <div id="custom-city-choose" {% if customCity %}{% else %}class="hidden"{% endif %}>
                            {% include 'forms-elements/input-text.twig' with {title: 'Город', name: 'custom_city', value: contacts.city, placeholder: 'Ваш город'} %}
                        </div>
                        <div class="checkbox sub-input">
                            <label><input type="checkbox" name="city_is_custom" {% if customCity %}checked{% endif %}>Не
                                нашли нужного в списке?</label>
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        {% include 'forms-elements/input-text.twig' with {title: 'Индекс', name: 'postindex', value: contacts.postindex, placeholder: 'Почтовый индекс'} %}
                    </div>
                    <div class="col-md-6 form-group">
                        {% include 'forms-elements/input-text.twig' with {title: 'Улица', name: 'street', value: contacts.street, placeholder: 'Ваша улица'} %}
                    </div>
                    <div class="col-md-2 form-group">
                        {% include 'forms-elements/input-text.twig' with {title: 'Номер дома', name: 'house', value: contacts.house, type: 'text'} %}
                    </div>
                    <div class="col-md-2 form-group">
                        {% include 'forms-elements/input-text.twig' with {title: 'Кв. (офис)', name: 'flat', value: contacts.flat, type: 'number'} %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Способ доставки</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <fieldset class="shipping">
                                {% for method in shipping %}
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label for="shipping{{ method.id }}">
                                                <input type="radio" id="shipping{{ method.id }}" name="shipping"
                                                       value="{{ method.id }}"
                                                       {% if method.status != 'enabled' %}disabled{% endif %} required>
                                                {{ method.title }}
                                            </label>

                                            <div>
                                            <span class="price">
                                                {% if method.price == 0 %}
                                                    {#Бесплатно.#}
                                                {% else %}
                                                    Стоимость доставки: {{ method.price }} руб.
                                                {% endif %}
                                            </span> {{ method.description }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-12">
                                    <label for="shipping" class="error"></label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="input-submit upload-button confirm-basket"><span>Подтвердить заказ</span></a>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="basket">
                <div class="header">
                    {% set count = items|length %}
                    Ваш заказ ({{ count }}
                    товар{% if count > 1 and count < 5 %}а{% endif %}{% if count > 4 %}ов{% endif %})
                </div>
                {% for basket_item in items %}
                    {% set item = basket_item.staff_item %}
                    <div class="item">
                        {% if  item.files is iterable %}
                            {% set file = item.files|first %}
                            <div class="image">
                                <div class="wrapper">

                                    <img src="{{ file.preview.staff_prev }}">

                                </div>
                            </div>
                        {% endif %}
                        <div class="content">
                            <h3>{{ item.title|raw }}</h3>
                            <div class="price">{{ basket_item.quantity }} * {{ item.price }} руб</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="sum">
                    {% if discountSum != sum %}
                        <div>Общая стоимость: <br><span>{{ discountSum }}</span> ({{ sum }}) руб.</div>
                        <div class="discount">
                            {% if discount.type == 'global' %}Общая скидка на ассортимент <span>{{ discount.value }}</span>%{% endif %}
                            {% if discount.type == 'user' %}Персональная скидка пользователя <span>{{ discount.value }}</span>%{% endif %}
                            {% if discount.type == 'size' %}Скидка за объем покупки <span>{{ discount.value }}</span>%{% endif %}
                        </div>
                    {% else %}
                        Общая стоимость: {{ sum }} руб.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        $('input[name="city_is_custom"]').change(function (e) {
            $('#city-choose').toggleClass('hidden');
            $('#custom-city-choose').toggleClass('hidden');
        });
        $(".confirm-form").validate();
    });
</script>