<div id="basket-list">

    {% if items|length >0 %}
        <div class="items">
            {% for basket_item in items %}
                {% set item = basket_item.staff_item %}
                <div class="row item">
                    <div class="col-md-2">
                        {% if  item.files is iterable %}
                            {% set file = item.files|first %}
                            <div class="image">
                                <div class="wrapper">
                                    <div class="wrapper">
                                        <img src="{{ file.preview.staff_prev }}">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-10 title">
                        <h3>
                            <a href="{{ item.catalogue_path }}/{{ item.label }}.html">{{ item.title|raw }}{% if basket_item.stock_id !=0 %} (
                                    {% for field in  item.capitalized[basket_item.stock_id].fields %}
                                        {% for value in field.values %}{{ value.title }}{% endfor %}
                                    {% endfor %}
                                    ){% endif %}</a></h3>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="price">
                            {% if item.old_price > item.price %}
                                <span class="discount-price">{{ item.price }}</span> <span
                                    class="old-price">{{ item.old_price }}</span> руб.
                            {% else %}
                                {% if discount.value > 0 %}
                                    <span class="discount-price">{{ item.price - (item.price / 100 * discount.value) }}</span> ({{ item.price }}) руб.
                                    {#                        <span>{{ item.price - (item.price/100*discount) }}</span> {{ item.price }} руб.#}
                                {% else %}
                                    {{ item.price }} руб.
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="price">{{ item.price * basket_item.quantity }} руб.</div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="quantity">
                            <a href="#" class="quantity-minus" data-change="minus" data-id="{{ basket_item.id }}">-</a>
                            <div class="input-wrapper">
                                {{ basket_item.quantity }}
                            </div>
                            <a href="#" class="quantity-plus" data-change="plus" data-id="{{ basket_item.id }}">+</a>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <a class="remove" href="#" data-id="{{ basket_item.id }}"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                    </div>
                    <div class="col-md-12 hr">
                        <hr/>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="/basket/confirm" class="confirm-basket input-submit"><span>Оформить покупку</span></a>
            </div>
            <div class="col-md-6">
                <div class="sum">
                    {% if discountSum != sum %}
                        <div>Общая стоимость: <span class="value"><span class="discounsSum">{{ discountSum }}</span> <span class="clearSum">({{ sum }})</span></span> руб.</div>
                        <div>
                            {% if discount.type == 'global' %}Общая скидка на ассортимент {{ discount.value }}%{% endif %}
                            {% if discount.type == 'user' %}Персональная скидка пользователя {{ discount.value }}%{% endif %}
                            {% if discount.type == 'size' %}Скидка за объем покупки {{ discount.value }}%{% endif %}
                        </div>
                    {% else %}
                        <div>Общая стоимость: <span class="value"><span class="clearSum">{{ sum }}</span></span> руб.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="sitemessage">Ваша корзина пуста.</div>
            </div>
        </div>
    {% endif %}
</div>
<script>
    $(document).ready(function () {
        $('#basket-list a.remove').click(function (e) {
            e.preventDefault();
            $(e.currentTarget).parents('.item').remove();
            $.ajax({
                url: '/ajax/basket/' + $(e.currentTarget).data('id'),
                method: 'DELETE',
                dataType: 'json'
            }).done(function (res) {

                $('#basket .counter span').text(res.count);
                $('#basket .sum span').text(res.sum);
            });
        });
        $('#basket-list a.quantity-minus, #basket-list a.quantity-plus').click(function (e) {
            e.preventDefault();
            var itemQuantity = $(e.currentTarget).siblings('.input-wrapper').eq(0),
                    itemQuantityValue = parseInt(itemQuantity.text()), newValue = itemQuantityValue;
            if ($(e.currentTarget).data('change') == 'plus') {
                newValue = itemQuantityValue + 1;
            }
            if ($(e.currentTarget).data('change') == 'minus' && itemQuantityValue > 1) {
                newValue = itemQuantityValue - 1;
            }

            $.ajax({
                url: '/ajax/basket/' + $(e.currentTarget).data('id') + '/' + $(e.currentTarget).data('change'),
                method: 'POST',
                dataType: 'json'
            }).done(function (res) {
                $('#basket .counter span').text(res.quantity_count);
                $('#basket .sum span').text(res.sum);
                $('#basket-list .sum .value').text(res.sum);
                itemQuantity.text(newValue);
            });
        });
    });
</script>