<table width="640">
    <tr>
        <td>
            <div style="box-sizing: border-box; overflow: hidden; font-family: Tahoma, Arial; font-size: 12px;width: 640px;border: 1px solid #de7474;background-color: #f1e5e5;">
                <div style="width: 640px;height: 60px;background-color: #f1e5e5;"><img src="http://{{ domain }}/assets/images/mail-header.png"></div>
                <div style="padding: 0 10px 0 10px">
                    <p>Здравствуйте, {{ order.info.name }}</p>

                    <p>Спасибо за Ваш заказ на нашем сайте</p>
                    <p><strong>Выбранный способ доставки и оплаты:</strong> {{ order.shipping.title }}</p>
                    <p>{{ order.shipping.mail_message }}</p>

                    <h2 style="font-size: 16px;font-weight: normal;color: #de7474">ДЕТАЛИ ВАШЕГО ЗАКАЗА</h2>

                    <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>

                    <h3 style="font-size: 14px;font-weight: normal;color: #de7474">АДРЕС ДОСТАВКИ:</h3>

                    <p><strong>Телефон:</strong> {{ order.info.phone }}</p>

                    <p><strong>Индекс:</strong> {{ order.info.postindex }}</p>

                    <p><strong>Регион:</strong> {{ order.info.region }}</p>

                    <p><strong>Город:</strong> {{ order.info.city }}</p>

                    <p><strong>Улица:</strong> {{ order.info.street }}</p>

                    <p><strong>Дом:</strong> {{ order.info.house }}</p>

                    <p><strong>Квартира/офис:</strong> {{ order.info.flat }}</p>

                    <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>

                    {% set count = order.staff|length %}
                    <h3 style="font-size: 14px;font-weight: normal;color: #de7474">Заказанные товары ({{ count }} товар{% if count > 1 and count < 5 %}а{% endif %}{% if count > 4 %}ов{% endif %}):</h3>

                    <div class="basket" style="overflow: hidden; font-family: Tahoma, Arial; font-size: 12px;">
                        <table width="100%">
                        {% for basket_item in order.staff %}
                            {% set item = order.staff_info[basket_item.staff_id] %}
                            {% if (loop.index-1)%3 == 0 %}<tr>{% endif %}
                            <td width="33%">
                            <div class="item"
                                 style="width: 100%; overflow: hidden;margin-right: 4px;border: 1px solid #de7474;">
                                {% if  item.files is iterable %}
                                    {% set file = item.files|first %}
                                    <div class="image" style="width: 100%;">

                                            <img src="http://{{ domain }}{{ file.preview.staff_prev }}"
                                                 style="width: 100%; height: auto;">


                                    </div>
                                {% endif %}
                                <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>
                                <div style="padding: 4px;font-size: 14px; color: #de7474;">{{ item.title|raw }}</div>

                                <div style="padding: 4px;">{{ basket_item.quantity }} * {{ basket_item.price }} {% if basket_item.old_price > basket_item.price %}<s>{{ basket_item.old_price }}</s>{% endif %}руб</div>
                            </div>
                            </td>
                            {% if (loop.index)%3 == 0 %}</tr>{% endif %}
                        {% endfor %}
                        </table>
                        <div class="sum">
                            <p>Общая стоимость: {{ order.info.sum }} руб.</p>
                            {% if order.info.discountSum < order.info.sum %}
                                <p>
                                    {% if order.info.current_discount.type == 'global' %}Общая скидка на весь ассортимент {% endif %}
                                    {% if order.info.current_discount.type == 'user' %}Персональная скидка пользователя {% endif %}
                                    {% if order.info.current_discount.type == 'size' %}Скидка за объем покупки {% endif %}
                                    - {{ order.info.current_discount.value }}%</p>
                            <p>Общая стоимость со скидкой: {{ order.info.discountSum }} руб.</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>

                    <p>После обработки Вашего заказа вы получите соответствующее уведомление.</p>
                    <p>С уважением, Администрация {{ domain }}</p>
                </div>
                <div style="width: 640px;height: 60px;"><img src="http://{{ domain }}/assets/images/mail-header.png"></div>
            </div>
        </td>
    </tr>

</table>
