{% extends "mail_templates/client_mail.twig" %}
{% block content %}
<h1>Подтверждение регистрации пользователя</h1>

<div>{{ name }}, это письмо отправлено с сайта {{ domain }}.</div>

<p>Вы получили это письмо, так как этот e-mail адрес был использован при регистрации на сайте.
    Если Вы не регистрировались на этом сайте, просто проигнорируйте это письмо и удалите его.
    Вы больше не получите такого письма.</p>

<p>------------------------------------------------</p>
<h2>Ваш логин и пароль на сайте:</h2>
<p>------------------------------------------------</p>

<p><strong>Логин:</strong> Ваш e-mail</p>
<p>{% if nick is not empty %}(или вы можете использовать указанный ник - {{ nick }}){% endif %}</p>
<p><strong>Пароль:</strong> {{ password }}</p>

<p>------------------------------------------------</p>
<h2>Инструкция по активации</h2>
<p>------------------------------------------------</p>

<p>Благодарим Вас за регистрацию.</p>
<p>Мы просим от Вас подтверждения Вашей регистрации, для проверки того, что введённый Вами e-mail адрес - реальный.
Это требуется для защиты от нежелательных злоупотреблений и спама.</p>

<p>Для активации Вашего аккаунта, зайдите по следующей ссылке:</p>

<a href="http://{{ domain }}/user/confirmation?selector={{ selector }}&token={{ token }}">http://{{ domain }}/user/confirmation?selector={{ selector }}&token={{ token }}</a>

<p>Если и при этих действиях ничего не получилось, возможно Ваш аккаунт удалён. В этом случае, обратитесь к Администратору, для разрешения проблемы.</p>

<p>С уважением, Администрация {{ domain }}</p>
{% endblock %}