<h1>Восстановление пароля пользователя</h1>

<div>{{ name }}, это письмо отправлено с сайта {{ domain }}.</div>

<p>Вы получили это письмо, так как этот e-mail адрес был использован при регистрации на сайте.
    Если Вы не регистрировались на этом сайте и не отправляли запрос на восстановление пароля
    просто проигнорируйте это письмо и удалите его.</p>

<p>------------------------------------------------</p>
<h2>Инструкция по восстановлению пароля</h2>
<p>------------------------------------------------</p>

<p>Для восстановления пароля, пройдите по следующей ссылке:</p>

<a href="http://{{ domain }}/user/restore_password?selector={{ selector }}&token={{ token }}">http://{{ domain }}/user/restore_password?selector={{ selector }}&token={{ token }}</a>

<p>С уважением, Администрация {{ domain }}</p>