<table width="640">
    <tr>
        <td>
            <div style="box-sizing: border-box; overflow: hidden; font-family: Tahoma, Arial; font-size: 12px;width: 640px;border: 1px solid #de7474;background-color: #f1e5e5;">
                <div style="width: 640px;height: 60px;background-color: #f1e5e5;"><img src="http://{{ domain }}/assets/images/mail-header.png"></div>
                <div style="padding: 0 10px 0 10px">
                    <p>Здравствуйте, {{ user.name }}</p>



                    <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>

                    {{ message|raw }}

                    <hr style="border: none; margin: 0; height: 1px; background-color: #de7474"/>


                    <p>С уважением, Администрация {{ domain }}</p>
                </div>
                <div style="width: 640px;height: 60px;"><img src="http://{{ domain }}/assets/images/mail-header.png"></div>
            </div>
        </td>
    </tr>

</table>
