<div id="new_password_bad">
    <p>Возникли некоторые проблем с процедурой восстановления Вашего пароля.</p>
    <p>Зарегистрируйтесь заново или обратитесь за помощью к администрации.</p>
    <p class="error">{{ error.message }}</p>
</div>