<div class="new-password-form">
    <h2>Напоминание пароля</h2>
    <form method="post" action="/user/restore_password" id="restore-password">
    <div class="row">
        <div class="col-md-12 margin-bottom">
            Наберите свой новый пароль
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Пароль', name: 'password', type: 'password', required: 'required'} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Повторите пароль', type: 'password', name: 'confirm_password', required: 'required'} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-default" id="send-button">Сохранить новый пароль</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="token" value="{{ token }}">
    <input type="hidden" name="selector" value="{{ selector }}">
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#restore-password").validate({rules: {confirm_password: {equalTo: "#inputpassword"}}});
    });
</script>