<div id="register_ok">
    <p>Благодарим за регистрацию на сайте.</p>
    <p>На указанный Вами e-mail отправлено письмо с ссылкой для подтверждения Вашего e-mail.</p>
    <p>После подтверждения Вы сможете авторизоваться и полноценно пользоваться нашим сайтом.</p>
</div>