<div class="register-user-block">
    <h2>Регистрация нового пользователя</h2>

    <form method="post" action="/user/make_register" id="register-form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputFamily">Фамилия</label>
                    <input
                            type="text"
                            name="family"
                            class="form-control"
                            id="inputFamily"
                            minlength="2"
                            placeholder="Фамилия">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputName">Имя *</label>
                    <input
                            type="text"
                            name="name"
                            class="form-control"
                            id="inputName"
                            required minlength="2"
                            placeholder="Имя">
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputSurname">Отчество</label>
                <input
                        type="text"
                        name="surname"
                        class="form-control"
                        id="inputSurname"
                        minlength="2"
                        placeholder="Отчество">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Контактные данные:</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail">Ваш e-mail *</label>
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Ваш email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {% include 'forms-elements/input-text.twig' with {title: 'Ваш телефон', name: 'phone', value: '+7', datatype: 'phone'} %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputPassword">Ваш пароль *</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" required
                           minlength="6">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputConfirmPassword">Повторите пароль *</label>
                    <input type="password" name="confirm_password" class="form-control" id="inputConfirmPassword">
                </div>
            </div>
            <div class="col-md-12">
                <h3>Адресные данные:</h3>
            </div>
            <div class="col-md-6 form-group">
                {% include 'forms-elements/select-region.twig' with {title: 'Регион', name: 'region', items: region} %}
            </div>
            <div class="col-md-6 form-group">
                <div id="city-choose">
                    {% include 'forms-elements/select-city.twig' with {title: 'Город', name: 'city', items: {} } %}
                </div>
                <div id="custom-city-choose" class="hidden">
                    {% include 'forms-elements/input-text.twig' with {title: 'Город', name: 'custom_city', value: '', placeholder: 'Ваш город'} %}
                </div>
                <div class="checkbox sub-input">
                    <label><input type="checkbox" name="city_is_custom">Не нашли нужного в списке?</label>
                </div>
            </div>
            <div class="col-md-2 form-group">
                {% include 'forms-elements/input-text.twig' with {title: 'Индекс', name: 'postindex', value: '', placeholder: 'Почтовый индекс'} %}
            </div>
            <div class="col-md-6 form-group">
                {% include 'forms-elements/input-text.twig' with {title: 'Улица', name: 'street', value: '', placeholder: 'Ваша улица'} %}
            </div>
            <div class="col-md-2 form-group">
                {% include 'forms-elements/input-text.twig' with {title: 'Номер дома', name: 'house', value: '', type: 'text'} %}
            </div>
            <div class="col-md-2 form-group">
                {% include 'forms-elements/input-text.twig' with {title: 'Кв. (офис)', name: 'flat', value: '', type: 'number'} %}
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label><input type="checkbox" name="mailing" checked>согласен получать рассылку с сайта</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="#" class="upload-button input-submit" id="send-button"><span>Зарегистрироваться</span></a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('input[name="city_is_custom"]').change(function (e) {
            $('#city-choose').toggleClass('hidden');
            $('#custom-city-choose').toggleClass('hidden');
        });
        $("#register-form").validate({rules: {
            confirm_password: {equalTo: "#inputPassword"},
            email: {
                required: true,
                email: true,
                remote: "/user/check_email"
            }
        }});
    });
</script>