<div class="remember-password-block">
    <h2>Напоминание пароля</h2>
    <form method="post" action="/user/remember_password" id="remember-password">
    <div class="row">
        <div class="col-md-12 margin-bottom">
            Для напоминания пароля необходимы Ваши данные указанные при регистрации - имя и e-mail.
            Если Вы не помните этих данных обратитесь к администрации сайта.
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Имя (фамилия, имя, отчество)', name: 'name', required: 'required'} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Ваш e-mail', type: 'email', name: 'email', required: 'required'} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-default" id="send-button">Восстановить пароль</button>
            </div>
        </div>
    </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#remember-password").validate();
    });
</script>