<div id="restore_send_bad">
    <p>Возникли некоторые проблем с процедурой восстановления Вашего пароля.</p>
    <p>Попробуйте еще раз, зарегистрируйтесь заново или обратитесь за помощью к администрации.</p>
    <p class="error">{{ error.message }}</p>
</div>