<div class="register-user-block">
    <h2>Ваши данные</h2>
    <form method="post" id="register-form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="inputFamily">Фамилия</label>
                <input
                        type="text"
                        name="family"
                        class="form-control"
                        id="inputFamily"
                        value="{{contacts.family }}"
                        minlength="2"
                        placeholder="Фамилия?">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="inputName">Имя</label>
                <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="inputName"
                        value="{{contacts.name }}"
                        required  minlength="2"
                        placeholder="Имя">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="inputSurname">Отчество</label>
                <input
                        type="text"
                        name="surname"
                        class="form-control"
                        id="inputSurname"
                        value="{{contacts.surname }}"
                        minlength="5"
                        placeholder="Отчество">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Контактные данные:</h3>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputEmail">Ваш e-mail</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Ваш email" required disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {% include 'forms-elements/input-text.twig' with {title: 'Ваш телефон', name: 'phone', value: contacts.phone, datatype: 'phone'} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h3>Адресные данные:</h3>
        </div>
        <div class="col-md-6 form-group">
            {% include 'forms-elements/select-region.twig' with {title: 'Регион', name: 'region', items: regions, value: contacts.region_id} %}
        </div>
        <div class="col-md-6 form-group">
            <div id="city-choose" {% if customCity %}class="hidden"{% endif %}>
                {% include 'forms-elements/select-city.twig' with {title: 'Город', name: 'city', items: cities, value: contacts.city_id } %}
            </div>
            <div id="custom-city-choose" {% if customCity %}{% else %}class="hidden"{% endif %}>
                {% include 'forms-elements/input-text.twig' with {title: 'Город', name: 'custom_city', value: contacts.city, placeholder: 'Ваш город'} %}
            </div>
            <div class="checkbox sub-input">
                <label><input type="checkbox" name="city_is_custom" {% if customCity %}checked{% endif %}>Не нашли нужного в списке?</label>
            </div>
        </div>
        <div class="col-md-2 form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Индекс', name: 'postindex', value: contacts.postindex, placeholder: 'Почтовый индекс'} %}
        </div>
        <div class="col-md-6 form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Улица', name: 'street', value: contacts.street, placeholder: 'Ваша улица'} %}
        </div>
        <div class="col-md-2 form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Номер дома', name: 'house', value: contacts.house, type: 'text'} %}
        </div>
        <div class="col-md-2 form-group">
            {% include 'forms-elements/input-text.twig' with {title: 'Кв. (офис)', name: 'flat', value: contacts.flat, type: 'number'} %}
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" name="mailing" value="1" {% if contacts.mailing==1 %}checked{% endif %}>согласен получать рассылку с сайта</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <a href="#" class="upload-button input-submit" id="send-button"><span>Сохранить данные</span></a>
            </div>
        </div>
    </div>
    </form>
</div>
<script>
    $(document).ready(function () {
       $('input[name="city_is_custom"]').change(function(e) {
           $('#city-choose').toggleClass('hidden');
           $('#custom-city-choose').toggleClass('hidden');
       });
        $("#register-form").validate({rules: {confirm_password: {equalTo: "#inputPassword"}}});
    });
</script>