{% if level is not defined %} {% set level = 0 %} {% endif %}
{% for item in tree.child %}
    {% if item.id != catalog_id %}
        <option class="padding-{{ level }}" value="{{ item.id }}"
                {% if item.id == parent_id %}selected{% endif %}>{% for i in 0..level %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{{ item.title }}</option>
        {% if item.child is not empty %}
            {{ include('/construction/modules/catalogtreeselect.twig', {tree: item, parent_id: parent_id, catalog_id: catalog_id, level: level+1}) }}
        {% endif %}
    {% endif %}
{% endfor %}