
<ul class="catalog{% if tree.in_path %}{% else %} hidden{% endif %}">
    {% for item in tree.child %}
        <li class="{% if item.id == catalog_id %}active{% else %}{% endif %}">
            {% if item.child is not empty %}
                <a href="#" class="expand{% if item.in_path %} expanded{% endif %}"></a>
            {% else %}
                <span class="expand expanded"></span>
            {% endif %}
            <a class="sortUp text-primary" href="/site-construction/catalog/{{ item.id }}/sort-up">
                <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
            </a>
            <a class="sortDown text-primary" href="/site-construction/catalog/{{ item.id }}/sort-down">
                <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
            </a>
            <a class="edit" href="/site-construction/catalog/{{ item.id }}/edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="delete" href="#" data-id="{{ item.id }}">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
            <a href="/site-construction/catalog/{{ item.id }}" class="follow-title">
                {{ item.title|raw }}</a>
            {% if item.child is not empty %}
                {{ include('/construction/modules/catalogtree.twig', {level: level+1, tree: item}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if (level is defined) and level==0 %}
    <script>
        $(document).ready(function () {
            $('ul.catalog a.expand').click(function (e) {
                e.preventDefault();
                $(e.currentTarget).toggleClass('expanded');
                $(e.currentTarget).siblings('ul').eq(0).toggleClass('hidden');
            });
            $('ul.catalog a.delete').click(function (e) {
                e.preventDefault();
                if (confirm('Уверены, что хотите пометить эту рубрику к удалению?')) {
                    $.ajax(
                            {
                                url: '/site-construction/ajax/catalog/' + $(e.currentTarget).data('id'),
                                method: 'DELETE'
                            }
                    ).done(function (res) {
                        $(e.currentTarget).parent().find('.follow-title').addClass('deleted');
                    });
                }

            });

            $('#catalog-tree').on('click', 'a.sortUp, a.sortDown', function (e) {
                e.preventDefault();
                var href = $(e.currentTarget).attr('href');
                $.ajax({url: href, method: 'GET'})
                        .done(function () {
                            var item = $(e.currentTarget).parents('li');
                            var swapItem = $(e.currentTarget).hasClass('sortUp') ? item.prev('li') : item.next('li');
                            $(item).swap(swapItem);
                        })
            });

/*            $('.catalog a.sortUp, .catalog a.sortDown').click(function (e) {
                e.preventDefault();
                var href = $(e.currentTarget).attr('href');
                $.ajax({url: href, method: 'GET'})
                        .done(function () {
                            var item = $(e.currentTarget).parents('li');
                            var swapItem = $(e.currentTarget).hasClass('sortUp') ? item.prev('li') : item.next('li');
                            $(item).swap(swapItem);
                        })
            });*/
        });
    </script>
{% endif %}