{% for field in fields %}
    {% if field.order_check == 'N' %}
        {% if field.type == 'reference' %}
            <div class="col-md-4 form-group">
                <label class="control-label">{{ field.title }}</label>
                <select name="fields[{{ field.id }}]" class="form-control">
                    <option value="">-</option>
                    {% for r_item in field.reference.items %}
                        <option value="{{ r_item.id }}"
                                {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}selected{% endif %}
                        >{{ r_item.title }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        {% if field.type == 'multi_reference' %}
            <div class="col-md-4 form-group">
                <label class="control-label">{{ field.title }}</label>
                {% for r_item in field.reference.items %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="fields[{{ field.id }}][]" id="field" value="{{ r_item.id }}"
                                   {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}checked{% endif %}
                            >
                            {{ r_item.title }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if field.type == 'double_reference' %}
            <div class="col-md-4 form-group">
                <label class="control-label">{{ field.reference.title }}</label>
                <select name="fields[{{ field.id }}][0]" class="form-control"
                        onchange="load_child_select($(this).val(), 'fields[{{ field.id }}][1]')">
                    <option value="">-</option>
                    {% for r_item in field.reference.items %}
                        <option value="{{ r_item.id }}"
                                {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}selected{% endif %}
                        >{{ r_item.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">{{ field.second_reference.title }}</label>
                <select name="fields[{{ field.id }}][1]" class="form-control">
                    <option value="">-</option>
                    {% if field.second_reference.items is iterable %}
                        {% for rs_items in field.second_reference.items %}
                            {% for r_item in rs_items %}
                                <option value="{{ r_item.id }}"
                                        {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}selected{% endif %}
                                >{{ r_item.title }}
                                </option>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        {% endif %}
        {% if field.type == 'string' %}
            <div class="col-md-4 form-group">
                <label class="control-label">{{ field.title }}</label>
                <input name="fields[{{ field.id }}]"
                       value="{% if item.fields[field.id].values is iterable %}{{ item.fields[field.id].values[0] }}{% endif %}"
                       class="form-control">
            </div>
        {% endif %}
        {% if field.type == 'integer' %}
            <div class="col-md-4 form-group">
                <label class="control-label">{{ field.title }}</label>
                <input name="fields[{{ field.id }}]"
                       type="number"
                       value="{% if item.fields[field.id].values is iterable %}{{ item.fields[field.id].values[0] }}{% endif %}"
                       class="form-control">
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
{% for field in fields %}
    {% if field.type == 'text' %}
        <div class="col-md-12 form-group">
            <label class="control-label">{{ field.title }}</label>
            <textarea name="fields[{{ field.id }}]" class="textfield" id="field{{ field.id }}">{% if item.fields[field.id].values is iterable %}{{ item.fields[field.id].values[0] }}{% endif %}</textarea>
        </div>
    {% endif %}
{% endfor %}
<script>
    $(document).ready(function () {
        $('.textfield').each(function(e) {
            //CKEDITOR.replace(this.id, {customConfig: '/path/to/config.js'});

            CKEDITOR.replace(this.id, {
                toolbarGroups: [
                    {name: 'document', groups: ['mode', 'document']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'links'}
                ]
            });
        });

    });
</script>