{% set interval = 5 %}
<div class="paginator">
    <div class="pages">
        {% if current_page>1 %}
            <a class="left btn btn-default" href ="{{ url }}?{{ url_string }}{% if url_string is not empty %}&{% endif %}page={{ current_page-1 }}">Предыдущая</a>
        {% endif %}
        {% if pages_count>1 %}
            {% for page in current_page-interval.. current_page+interval%}
                {% if current_page == page %}
                <span class="btn btn-default active">{{ page }}</span>
                {% else %}
                    {% if page>0 and page<=pages_count %}
                        <a class="btn btn-default" href ="{{ url }}?{{ url_string }}{% if url_string is not empty %}&{% endif %}page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if current_page<pages_count %}
            <a class="right btn btn-default" href ="{{ url }}?{{ url_string }}{% if url_string is not empty %}&{% endif %}page={{ current_page+1 }}">Следующая</a>
        {% endif %}
    </div>
</div>