<div id="sysmenu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class=" nav navbar-nav">
                {% for item in sysmenu %}
                    <li role="menu" class="dropdown">
                        {% if  item.sub is not empty %}
                            <a class="dropdown" data-toggle="dropdown" href="{{ item.url }}" role="button">
                                {{ item.title|raw }}
                            </a>
                        {% else %}
                            <a href="{{ item.url }}" role="button">
                                {{ item.title|raw }}
                            </a>
                        {% endif %}
                        <ul class="dropdown-menu" role="menu">
                            {% for subitem in item.sub %}
                                {% if subitem == 'divider' %}
                                    <li role="separator" class="divider"></li>
                                {% else %}
                                    <li><a href="{{ subitem.url }}">{{ subitem.title|raw }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
