<div class="row">
    {% set field_key = item.id|default(unique) %}
    {% for field in fields %}
        {% if field.order_check == 'Y' %}
            {% if field.type == 'reference' %}
                <div class="col-md-3 form-group">
                    <label class="control-label">{{ field.title }}</label>
                    <select name="fvalue[{{ field_key }}][fields][{{ field.id }}]" class="form-control">
                        <option value="">-</option>
                        {% for r_item in field.reference.items %}
                            <option value="{{ r_item.id }}"
                                    {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}selected{% endif %}
                                    >{{ r_item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if field.type == 'double_reference' %}
                <div class="col-md-3 form-group">
                    <label class="control-label">{{ field.reference.title }}</label>
                    <select name="fvalue[{{ field_key }}][fields][{{ field.id }}][0]" class="form-control" onchange="load_child_select($(this).val(), 'fvalue[{{ field_key }}][fields][{{ field.id }}][1]')">
                        <option value="">-</option>
                        {% for r_item in field.reference.items %}
                            <option value="{{ r_item.id }}"
                                    {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}selected{% endif %}
                                    >{{ r_item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label">{{ field.second_reference.title }}</label>
                    <select name="fvalue[{{ field_key }}][fields][{{ field.id }}][1]" class="form-control">
                        <option value="">-</option>
                        {% if field.second_reference.items is iterable %}
                            {% for parent_id, rs_items in field.second_reference.items %}
                                {%  if (parent_id in item.fields[field.id].value_ids) %}
                                {% for r_item in rs_items %}
                                    <option value="{{ r_item.id }}"
                                            {% if (item.fields[field.id].value_ids is iterable) and (r_item.id in item.fields[field.id].value_ids) %}selected{% endif %}
                                            >{{ r_item.title }}
                                    </option>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif  %}
                    </select>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="col-md-2 form-group">
        <label class="control-label">Количество</label>
        <input type="number" name="fvalue[{{ field_key }}][value]" value={{ item.value|default(0) }} class="form-control">
    </div>
    <div class="col-md-1 form-group pull-right">
        <label class="control-label">-</label>
        <a href="#" class="btn btn-default" onClick="$(this).closest('.row').remove();return false;"><span class="glyphicon glyphicon-remove"></span></a>
    </div>

</div>



